ALTER PROCEDURE [dbo].[spGetListLOAI_CONG_VIEC]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT  [ID_LCV],
	CASE @NNgu WHEN 0 THEN T1.TEN_LCV WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LCV_A,''),TEN_LCV) ELSE ISNULL(NULLIF(T1.TEN_LCV_H,''),T1.TEN_LCV) END AS [TEN_LCV],[DOC_HAI],[PHEP_CT] ,	
	CASE @NNgu WHEN 0 THEN T2.TEN_LT WHEN 1 THEN ISNULL(NULLIF(T2.TEN_LT_A,''),T2.TEN_LT) ELSE ISNULL(NULLIF(T2.TEN_LT_H,''),T2.TEN_LT) END AS TEN_LT,
	CASE @NNgu WHEN 0 THEN T3.TEN_CV WHEN 1 THEN ISNULL(NULLIF(T3.TEN_CV_A,''),T3.TEN_CV) ELSE ISNULL(NULLIF(T3.TEN_CV_H,''),T3.TEN_CV) END AS TEN_CV,
	T1.ID_LT,T1.ID_CV , T1.STT
	FROM LOAI_CONG_VIEC T1
	LEFT JOIN LOAI_TO T2 ON T1.ID_LT = T2.ID_LT
	LEFT JOIN dbo.CHUC_VU T3 ON T3.ID_CV = T1.ID_CV
	ORDER BY  ISNULL(T1.STT,999) ,CASE @NNgu WHEN 0 THEN T1.TEN_LCV WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LCV_A,''),TEN_LCV) ELSE ISNULL(NULLIF(T1.TEN_LCV_H,''),T1.TEN_LCV) END,CASE @NNgu WHEN 0 THEN T2.TEN_LT WHEN 1 THEN ISNULL(NULLIF(T2.TEN_LT_A,''),T2.TEN_LT) ELSE ISNULL(NULLIF(T2.TEN_LT_H,''),T2.TEN_LT) END
END


