IF NOT EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND name = 'spGetComboNganhTD')
   exec('CREATE PROCEDURE spGetComboNganhTD AS BEGIN SET NOCOUNT ON; END')
GO
ALTER PROCEDURE [dbo].[spGetComboNganhTD]
	@Username NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@CoAll BIT=1
AS 
BEGIN
IF @CoAll = 1
BEGIN
SELECT * FROM (
SELECT ID_NGANH_TD,CASE @NNgu WHEN 0 THEN TEN_NGANH_TD WHEN 1 THEN ISNULL(NULLIF(TEN_NGANH_TD_A,''),TEN_NGANH_TD) ELSE ISNULL(NULLIF(TEN_NGANH_TD_H,''),TEN_NGANH_TD) END AS TEN_NGANH_TD FROM dbo.NGANH_TUYEN_DUNG
UNION 
SELECT -1,'< All >')T
ORDER BY T.TEN_NGANH_TD
END
ELSE
BEGIN
SELECT ID_NGANH_TD,CASE @NNgu WHEN 0 THEN TEN_NGANH_TD WHEN 1 THEN ISNULL(NULLIF(TEN_NGANH_TD_A,''),TEN_NGANH_TD) ELSE ISNULL(NULLIF(TEN_NGANH_TD_H,''),TEN_NGANH_TD) END AS TEN_NGANH_TD FROM dbo.NGANH_TUYEN_DUNG
ORDER BY TEN_NGANH_TD
END	
END	

