ALTER PROCEDURE [dbo].[spGetListBHXHThang]
	@Thang DATE ='2021-03-01',
	@Dot INT = -1,
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
SELECT ID_TO INTO #TMP FROM dbo.MGetToUser(@UName,@NNgu)
SELECT  T1.THANG, T1.DOT, T1.ID_CN, B.MS_CN,
        B.HO +' '+ B.TEN AS HO_TEN, T1.HS_LUONG_CU,
        T1.PHU_CAP_CU, T1.HS_LUONG, 
        T1.PHU_CAP, T1.TU_THANG,
        T1.DEN_THANG, T1.SO_THANG,
        T1.GHI_CHU, T1.LOAI_DIEU_CHINH ID_LOAI_DIEU_CHINH ,
        T2.TEN_LOAI_DIEU_CHINH
FROM    BHXH_THANG T1
        left JOIN CONG_NHAN B ON T1.ID_CN = B.ID_CN
		left JOIN #TMP C  ON C.ID_TO = B.ID_TO
		left JOIN LOAI_DIEU_CHINH T2 ON T2.ID_LOAI_DIEU_CHINH = T1.LOAI_DIEU_CHINH 
		WHERE CONVERT(NVARCHAR(10),T1.THANG,23) = @Thang AND  (T1.DOT = @Dot OR @Dot is null OR @Dot = -1)
END
