ALTER PROCEDURE [dbo].[spGetEditBHXH]
	@Thang DATE ='2021-01-01',
	@Dot Int = 1,
    @UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@TNgay DateTime = '20201216',
	@DNgay DateTime = '20210115'
AS
BEGIN
	CREATE TABLE #DS_BHXH
	(
		[THANG] [DateTime] NULL,
		[DOT] [Int] NULL,
		[ID_CN] [Int] NULL,
		[MS_CN] [Nvarchar](20) NULL,
		[HO_TEN] [Nvarchar](100) NULL,
		[HS_LUONG_CU] [Float] NULL,
		[PHU_CAP_CU] [Float] NULL,
		[HS_LUONG] [Float] NULL,
		[PHU_CAP] [Float] NULL,
		[ID_LDC] [Int] NULL,
		[TEN_LOAI_DIEU_CHINH] [Nvarchar](100) NULL,		
		[NGAY_NGHI] [DateTime] NULL, 
		[GHI_CHU] [Nvarchar](250) NULL
	)
	--Tang lao dong moi :
	--Danh sach ky hop dong lao dong chinh thuc trong giai doan bao cao
	SELECT T1.ID_CN, T1.SO_HDLD, T1.NGAY_BAT_DAU_HD INTO #HDLD
	FROM HOP_DONG_LAO_DONG T1 INNER JOIN (
	SELECT HD.ID_CN, MIN(NGAY_BAT_DAU_HD) NGAY_HD_MIN 
	FROM HOP_DONG_LAO_DONG HD INNER JOIN CONG_NHAN CN ON HD.ID_CN = CN.ID_CN
	WHERE (HD.HD_GIA_HAN = 1) AND ((ISNULL(NGAY_NGHI_VIEC,'')='')  OR (NGAY_NGHI_VIEC > @DNgay))
	GROUP BY HD.ID_CN ) T2 ON T1.ID_CN = T2.ID_CN AND T1.NGAY_BAT_DAU_HD = T2.NGAY_HD_MIN
	
	--Danh sach cong nhan tang mơi bhxh 	
	INSERT INTO #DS_BHXH (ID_CN, ID_LDC, GHI_CHU)
	SELECT T1.ID_CN, 1 LDC, T2.SO_HDLD + N', Ngày :' + CONVERT(nvarchar(10),T2.NGAY_BAT_DAU_HD,101) GHI_CHU
	FROM CONG_NHAN T1 INNER JOIN #HDLD T2 ON T1.ID_CN = T2.ID_CN
	WHERE (T1.THAM_GIA_BHXH = 1) AND (T1.NGAY_DBHXH BETWEEN @TNgay AND @DNgay) AND (T1.ID_CN NOT IN (SELECT DISTINCT ID_CN FROM #DS_BHXH))
	
	--Danh sach cong nhan tang thai san
	INSERT INTO #DS_BHXH (ID_CN, ID_LDC, GHI_CHU)	
	SELECT T1.ID_CN, 2 LDC, 'ON' GHI_CHU
	FROM KE_HOACH_NGHI_PHEP T1 INNER JOIN LY_DO_VANG T2 ON T1.ID_LDV = T2.ID_LDV
	WHERE (T2.MS_LDV = 'T3') AND (T1.NGAY_VAO_LAM_LAI BETWEEN @TNgay AND @DNgay) AND (T1.ID_CN NOT IN (SELECT DISTINCT ID_CN FROM #DS_BHXH))
	
	--Danh sach cong nhan nghi kham thai, say thai .... nhieu hon 15 ngay di lam lai
	INSERT INTO #DS_BHXH (ID_CN, ID_LDC, NGAY_NGHI, GHI_CHU)
	SELECT T1.ID_CN, 3 LDC, T1.NGAY_VAO_LAM_LAI, 'ON' GHI_CHU
	FROM KE_HOACH_NGHI_PHEP T1 INNER JOIN LY_DO_VANG T2 ON T1.ID_LDV = T2.ID_LDV
	WHERE (T2.MS_LDV IN ('T1','T2','T4','T5','T6','T7','T8')) 
	AND (T1.NGAY_VAO_LAM_LAI BETWEEN @TNgay AND @DNgay) AND (DATEDIFF(D,T1.TU_NGAY,T1.DEN_NGAY) >=15) AND (T1.ID_CN NOT IN (SELECT DISTINCT ID_CN FROM #DS_BHXH))

	--Danh sach cong nhan nghi ốm nhieu hon 15 ngay di lam lai
	INSERT INTO #DS_BHXH (ID_CN, ID_LDC, NGAY_NGHI, GHI_CHU)
	SELECT T1.ID_CN, 4 LDC, T1.NGAY_VAO_LAM_LAI, 'ON' GHI_CHU
	FROM KE_HOACH_NGHI_PHEP T1 INNER JOIN LY_DO_VANG T2 ON T1.ID_LDV = T2.ID_LDV
	WHERE (T2.MS_LDV IN ('O1','O2','O3')) 
	AND (T1.NGAY_VAO_LAM_LAI BETWEEN @TNgay AND @DNgay) AND (DATEDIFF(D,T1.TU_NGAY,T1.DEN_NGAY) >=15) AND (T1.ID_CN NOT IN (SELECT DISTINCT ID_CN FROM #DS_BHXH))
	
	--Danh sach cong nhan tang do tam ngung tham gia bhxh tham gia lai
	INSERT INTO #DS_BHXH (ID_CN, ID_LDC, NGAY_NGHI, GHI_CHU)
	SELECT T1.ID_CN, 5 LDC, T1.NGAY_THAM_GIA_BHXH, 'ON' GHI_CHU  
	FROM DS_CN_TAM_NGUNG_BHXH T1 INNER JOIN CONG_NHAN T2 ON T1.ID_CN = T2.ID_CN
	WHERE T1.NGAY_THAM_GIA_BHXH BETWEEN @TNgay AND @DNgay AND T2.THAM_GIA_BHXH = 1 AND (T1.ID_CN NOT IN (SELECT DISTINCT ID_CN FROM #DS_BHXH))
	
	--Danh sach cong nhan tang dieu chinh luong trong giai doan
	--Tao table luong co ban phat sinh moi trong giai doan bao cao
	SELECT LCB.ID_CN, ISNULL(LCB.HS_LUONG,0) LCB_NEW, ISNULL(LCB.PC_DOC_HAI,0) PC_NEW
	INTO #LCB_NEW FROM LUONG_CO_BAN LCB INNER JOIN (
	SELECT ID_CN, MAX(NGAY_HIEU_LUC) NGAY_HL 
	FROM LUONG_CO_BAN
	WHERE NGAY_HIEU_LUC BETWEEN @TNgay AND @DNgay
	GROUP BY ID_CN) LCB_N ON LCB.ID_CN = LCB_N.ID_CN AND LCB.NGAY_HIEU_LUC = LCB_N.NGAY_HL
	--Tao table luong co ban truoc giai doan bao cáo
	SELECT LCB.ID_CN, ISNULL(LCB.HS_LUONG,0) LCB_OLD, ISNULL(LCB.PC_DOC_HAI,0) PC_OLD
	INTO #LCB_OLD FROM LUONG_CO_BAN LCB INNER JOIN (
	SELECT ID_CN, MAX(NGAY_HIEU_LUC) NGAY_HL 
	FROM LUONG_CO_BAN
	WHERE NGAY_HIEU_LUC < @TNgay
	GROUP BY ID_CN) LCB_N ON LCB.ID_CN = LCB_N.ID_CN AND LCB.NGAY_HIEU_LUC = LCB_N.NGAY_HL
	--Tao table luong co ban den het giai doan bao cao
	SELECT LCB.ID_CN, ISNULL(LCB.HS_LUONG,0) LCB_NEW, ISNULL(LCB.PC_DOC_HAI,0) PC_NEW
	INTO #LCB_TH FROM LUONG_CO_BAN LCB INNER JOIN (
	SELECT ID_CN, MAX(NGAY_HIEU_LUC) NGAY_HL 
	FROM LUONG_CO_BAN
	WHERE NGAY_HIEU_LUC <= @DNgay
	GROUP BY ID_CN) LCB_N ON LCB.ID_CN = LCB_N.ID_CN AND LCB.NGAY_HIEU_LUC = LCB_N.NGAY_HL

	INSERT INTO #DS_BHXH (ID_CN, ID_LDC, GHI_CHU)
	SELECT T1.ID_CN, 6 LDC, 'DC' GHI_CHU
	FROM #LCB_NEW T1 INNER JOIN #LCB_OLD T2 ON T1.ID_CN = T2.ID_CN
	INNER JOIN CONG_NHAN T3 ON T1.ID_CN = T3.ID_CN
	WHERE (T3.THAM_GIA_BHXH = 1) AND (T1.ID_CN NOT IN (SELECT DISTINCT ID_CN FROM #DS_BHXH WHERE ID_LDC <> 2)) 
	AND (((ISNULL(T1.LCB_NEW,0) + ISNULL(T1.PC_NEW,0)) - (ISNULL(T2.LCB_OLD,0) + ISNULL(T2.PC_OLD,0))) > 0)

	--Danh sach cong nhan giam dieu chinh luong
	INSERT INTO #DS_BHXH (ID_CN, ID_LDC, GHI_CHU)
	SELECT T1.ID_CN, 7 LDC, 'DC' GHI_CHU
	FROM #LCB_NEW T1 INNER JOIN #LCB_OLD T2 ON T1.ID_CN = T2.ID_CN
	INNER JOIN CONG_NHAN T3 ON T1.ID_CN = T3.ID_CN
	WHERE (T3.THAM_GIA_BHXH = 1) AND (T1.ID_CN NOT IN (SELECT DISTINCT ID_CN FROM #DS_BHXH WHERE ID_LDC <> 2)) 
	AND (((ISNULL(T1.LCB_NEW,0) + ISNULL(T1.PC_NEW,0)) - (ISNULL(T2.LCB_OLD,0) + ISNULL(T2.PC_OLD,0))) < 0)
	
	--Danh sach giam thai san 
	INSERT INTO #DS_BHXH (ID_CN, ID_LDC, NGAY_NGHI, GHI_CHU)	
	SELECT T1.ID_CN, 8 LDC, T1.TU_NGAY, 'TS' GHI_CHU
	FROM KE_HOACH_NGHI_PHEP T1 INNER JOIN LY_DO_VANG T2 ON T1.ID_LDV = T2.ID_LDV
	WHERE (T2.MS_LDV = 'T3') AND (T1.TU_NGAY BETWEEN @TNgay AND @DNgay) 
	AND (DATEDIFF(D,T1.TU_NGAY,T1.DEN_NGAY) >=15) AND (T1.ID_CN NOT IN (SELECT DISTINCT ID_CN FROM #DS_BHXH))

	--Danh sach cong nhan giảm nghi kham thai, say thai .... nhieu hon 15 ngay
	INSERT INTO #DS_BHXH (ID_CN, ID_LDC, NGAY_NGHI, GHI_CHU)
	SELECT T1.ID_CN, 9 LDC, T1.TU_NGAY, 'TS' GHI_CHU
	FROM KE_HOACH_NGHI_PHEP T1 INNER JOIN LY_DO_VANG T2 ON T1.ID_LDV = T2.ID_LDV
	WHERE (T2.MS_LDV IN ('T1','T2','T4','T5','T6','T7','T8')) 
	AND (T1.TU_NGAY BETWEEN @TNgay AND @DNgay) AND (DATEDIFF(D,T1.TU_NGAY,T1.DEN_NGAY) >=15) AND (T1.ID_CN NOT IN (SELECT DISTINCT ID_CN FROM #DS_BHXH))
	
	--Danh sach cong nhan giảm nghi ốm nhieu hon 15 ngay di 
	INSERT INTO #DS_BHXH (ID_CN, ID_LDC, NGAY_NGHI, GHI_CHU)
	SELECT T1.ID_CN, 10 LDC, T1.TU_NGAY, 'OF' GHI_CHU
	FROM KE_HOACH_NGHI_PHEP T1 INNER JOIN LY_DO_VANG T2 ON T1.ID_LDV = T2.ID_LDV
	WHERE (T2.MS_LDV IN ('O1','O2','O3')) 
	AND (T1.TU_NGAY BETWEEN @TNgay AND @DNgay) AND (DATEDIFF(D,T1.TU_NGAY,T1.DEN_NGAY) >=15) AND (T1.ID_CN NOT IN (SELECT DISTINCT ID_CN FROM #DS_BHXH))

	--Danh sach cong nhan giảm do tam ngung tham gia bhxh 
	INSERT INTO #DS_BHXH (ID_CN, ID_LDC, NGAY_NGHI, GHI_CHU)
	SELECT T1.ID_CN, 11 LDC, T1.NGAY_NGUNG_BHXH, 'OF' GHI_CHU  
	FROM DS_CN_TAM_NGUNG_BHXH T1 INNER JOIN CONG_NHAN T2 ON T1.ID_CN = T2.ID_CN
	WHERE T1.NGAY_NGUNG_BHXH BETWEEN @TNgay AND @DNgay AND T2.THAM_GIA_BHXH = 1 AND (T1.ID_CN NOT IN (SELECT DISTINCT ID_CN FROM #DS_BHXH))

	--Danh sach giam bhxh do nghi viec trong giai doan bao cao
	INSERT INTO #DS_BHXH (ID_CN, ID_LDC, NGAY_NGHI, GHI_CHU)
	SELECT T1.ID_CN, 12 LDC, T1.NGAY_NGHI_VIEC, ISNULL(T2.SO_QD,'GH') GHI_CHU
	FROM CONG_NHAN T1 LEFT JOIN QUYET_DINH_THOI_VIEC T2 ON T1.ID_CN = T2.ID_CN
	WHERE (T1.NGAY_NGHI_VIEC BETWEEN @TNgay AND @DNgay) AND (T1.THAM_GIA_BHXH = 1) AND (T1.ID_CN NOT IN (SELECT DISTINCT ID_CN FROM #DS_BHXH))
	
	UPDATE #DS_BHXH SET THANG = @Thang, DOT = @Dot, MS_CN = T2.MS_CN, HO_TEN = T2.HO + ' ' + T2.TEN, TEN_LOAI_DIEU_CHINH = T3.TEN_LOAI_DIEU_CHINH
	FROM #DS_BHXH T1 INNER JOIN CONG_NHAN T2 ON T1.ID_CN = T2.ID_CN
	INNER JOIN LOAI_DIEU_CHINH T3 ON T1.ID_LDC = T3.ID_LOAI_DIEU_CHINH
	
	--Cap nhat luong tang
	UPDATE #DS_BHXH SET HS_LUONG = T2.LCB_NEW, PHU_CAP = T2.PC_NEW
	FROM #DS_BHXH T1 INNER JOIN #LCB_TH T2 ON T1.ID_CN = T2.ID_CN
	WHERE T1.ID_LDC IN (1,2,3,4,5,6,7)
	
	--Cap nhat luong giam
	UPDATE #DS_BHXH SET HS_LUONG_CU = T2.LCB_OLD, PHU_CAP_CU = T2.PC_OLD
	FROM #DS_BHXH T1 INNER JOIN #LCB_OLD T2 ON T1.ID_CN = T2.ID_CN
	WHERE T1.ID_LDC IN (6,7,8,9,10,11,12)
	
	SELECT THANG, DOT, ID_CN, MS_CN, HO_TEN, HS_LUONG_CU, PHU_CAP_CU, HS_LUONG, PHU_CAP, ID_LDC, TEN_LOAI_DIEU_CHINH, GHI_CHU 
	FROM #DS_BHXH
	ORDER BY ID_LDC, MS_CN
END