--SELECT DISTINCT * FROM dbo.MGetToUser('admin',0)
ALTER FUNCTION [dbo].[MGetToUser]
(
	@UName NVARCHAR(100) = 'admin',
	@NNgu INT = 0
)

RETURNS @ToUser TABLE (
	[ID_DV] [BIGINT]  NULL,
	[MSDV] [NVARCHAR](10)  NULL,
	[TEN_DV] [NVARCHAR](250) NULL,
	[TEN_NGAN] [NVARCHAR](50) NULL,
	[ID_XN] [BIGINT]  NULL,
	[MS_XN] [NVARCHAR](10)  NULL,
	[TEN_XN] [NVARCHAR](250) NULL,
	[ID_TO] [BIGINT] NOT NULL,
	[MS_TO] [NVARCHAR](20) NULL,
	[TEN_TO] [NVARCHAR](250) NULL,
	[STT_DV] [INT] NOT NULL,
	[STT_XN] [INT] NOT NULL,
	[STT_TO] [INT] NOT NULL
)
AS	
BEGIN
    

		
INSERT INTO @ToUser	
SELECT DISTINCT T2.ID_DV,T2.MSDV, CASE @NNgu WHEN 0 THEN T2.TEN_DV WHEN 1 THEN ISNULL(NULLIF(T2.TEN_DV_A,''),T2.TEN_DV) ELSE ISNULL(NULLIF(T2.TEN_DV_H,''),T2.TEN_DV) END AS TEN_DV,
T2.TEN_NGAN, 
T1.ID_XN,T1.MS_XN, CASE @NNgu WHEN 0 THEN T1.TEN_XN WHEN 1 THEN ISNULL(NULLIF(T1.TEN_XN_A,''),T1.TEN_XN) ELSE ISNULL(NULLIF(T1.TEN_XN_H,''),T1.TEN_XN) END AS TEN_XN,
T3.ID_TO,T3.MS_TO, CASE @NNgu WHEN 0 THEN T3.TEN_TO WHEN 1 THEN ISNULL(NULLIF(T3.TEN_TO_A,''),T3.TEN_TO) ELSE ISNULL(NULLIF(T3.TEN_TO_H,''),T3.TEN_TO) END AS TEN_TO, ISNULL(T2.STT_DV,9999),ISNULL(T1.STT_XN,9999),ISNULL(T3.STT_TO,9999)
FROM            dbo.XI_NGHIEP AS T1 INNER JOIN
                         dbo.DON_VI AS T2 ON T1.ID_DV = T2.ID_DV INNER JOIN
                         dbo.[TO] AS T3 ON T1.ID_XN = T3.ID_XN INNER JOIN
                         dbo.NHOM_TO AS T4 INNER JOIN
                         dbo.NHOM AS T5 ON T4.ID_NHOM = T5.ID_NHOM ON T3.ID_TO = T4.ID_TO INNER JOIN
                         dbo.USERS AS T6 ON T4.ID_NHOM = T6.ID_NHOM
WHERE T6.USER_NAME = @UName OR @UName = '-1'

RETURN
END
