ALTER FUNCTION [dbo].[funGetPhuCapConNho] (@ID_CN BIGINT)
RETURNS INT
AS
BEGIN
	DECLARE @MPC AS INT
	DECLARE @SL AS INT
	
	SET @MPC = (SELECT T4.PC_CN FROM CONG_NHAN T1 INNER JOIN [TO] T2 ON T1.ID_TO = T2.ID_TO 
	INNER JOIN XI_NGHIEP T3 ON T2.ID_XN = T3.ID_XN INNER JOIN DON_VI T4 ON T3.ID_DV = T4.ID_DV WHERE ID_CN = @ID_CN)
	SET @SL = (SELECT COUNT(ID_QH) FROM GIA_DINH WHERE (ID_QH = 1) AND (ID_CN = @ID_CN) AND (DATEADD(YEAR,6,NGAY_SINH) >= GETDATE()))
	
	RETURN ISNULL( @MPC * @SL,0)
END



