-- bật lương, mức lương ,chỉ số phụ cập ,,, mức lương thực lĩnh = mức lương cộng phụ cấp
ALTER FUNCTION [dbo].[funGetLuongKyHopDong](@ID_CN BIGINT, @Date DateTime)
RETURNS TABLE 
AS
RETURN
(
	SELECT T1.ID_CN, T2.TEN_NL + ' - ' + T3.TEN_BL BL, T1.HS_LUONG ML, 
	ISNULL(T1.PC_DOC_HAI,0) + ISNULL(T1.PC_KY_NANG,0) + ISNULL(T1.PC_SINH_HOAT,0) + ISNULL(T1.THUONG_CHUYEN_CAN,0) + ISNULL(T1.THUONG_HT_CV,0) 
	+ [dbo].[funGetPhuCapConNho] (T1.ID_CN) PC
	FROM LUONG_CO_BAN T1 
	INNER JOIN NGACH_LUONG T2 ON T1.ID_NL = T2.ID_NL
	INNER JOIN BAC_LUONG T3 ON T1.ID_BL =  T3.ID_BL
	INNER JOIN (SELECT ID_CN, MAX(NGAY_HIEU_LUC) NHL FROM LUONG_CO_BAN WHERE NGAY_HIEU_LUC <= @Date AND ID_CN = @ID_CN GROUP BY ID_CN) T4 
	ON T1.ID_CN = T4.ID_CN AND T1.NGAY_HIEU_LUC = T4.NHL
)








