ALTER FUNCTION [dbo].[funGetPhepNamConLai](@Nam INT)
RETURNS TABLE 
AS
RETURN
(
	SELECT TB1.ID_CN, ROUND(ISNULL(TB1.SNP,0) - ISNULL(TB2.SNN,0),2) SPCL FROM (
	SELECT ID_CN, PHEP_CT, NGAY_VAO_CTY, CASE WHEN NGAY_VAO_CTY < CONVERT(datetime,str(@Nam) + '-01-01',101) THEN 12 ELSE 
	CASE WHEN DAY(NGAY_VAO_CTY) > 15 THEN DATEDIFF(M,NGAY_VAO_CTY,CONVERT(datetime,str(@Nam) + '-12-31',101)) 
	ELSE DATEDIFF(M,NGAY_VAO_CTY,CONVERT(datetime,str(@Nam) + '-12-31',101))+1 END END  + ISNULL(PHEP_CT,0) + FLOOR(DATEDIFF(M,NGAY_VAO_CTY, GETDATE())/60) SNP 
	FROM CONG_NHAN WHERE (NGAY_VAO_CTY <= CONVERT(datetime,str(@Nam) + '-01-01',101)) AND (NGAY_NGHI_VIEC IS NULL OR NGAY_NGHI_VIEC > CONVERT(datetime,str(@Nam) + '-01-01',101))) TB1 
	LEFT JOIN (
		SELECT ID_CN, SUM(ISNULL(SO_GIO,([dbo].[fnGetSoNgayTruChuNhat](TU_NGAY,DEN_NGAY)*8)))/8 SNN 
		FROM KE_HOACH_NGHI_PHEP T1 INNER JOIN LY_DO_VANG T2 ON T1.ID_LDV = T2.ID_LDV 
		WHERE T2.PHEP = 1 And (Year(TU_NGAY) = @Nam Or Year(DEN_NGAY) = @Nam)
		GROUP BY ID_CN
	) TB2 ON TB1.ID_CN = TB2.ID_CN
)








