ALTER FUNCTION [dbo].[funGetQuiGio] (@SoPhut Int)
RETURNS Float
AS
BEGIN

	DECLARE @Gio FLOAT
	
	SELECT @Gio = SO_GIO FROM QUI_GIO WHERE @SoPhut BETWEEN SO_PHUT_TU AND SO_PHUT_DEN
		
	RETURN @Gio
END



