--SELECT * FROM [funQuaTrinhCongTac](24,0)
ALTER FUNCTION [dbo].[funQuaTrinhCongTac](@ID_CN BIGINT,
	@NNgu INT =0)
RETURNS TABLE 
AS
RETURN
(
SELECT DISTINCT
 A.HO + ' ' + A.TEN AS HO_TEN,
A.ID_CV,A.ID_LCV,
	 CASE @NNgu WHEN 0 THEN D.TEN_DV WHEN 1 THEN ISNULL(NULLIF(D.TEN_DV_A,''),D.TEN_DV) ELSE ISNULL(NULLIF(D.TEN_DV_H,''),D.TEN_DV) END AS TEN_DV,
	 	 CASE @NNgu WHEN 0 THEN C.TEN_XN WHEN 1 THEN ISNULL(NULLIF(C.TEN_XN_A,''),C.TEN_XN) ELSE ISNULL(NULLIF(C.TEN_XN_H,''),C.TEN_XN) END AS TEN_XN,
		 	 	 CASE @NNgu WHEN 0 THEN B.TEN_TO WHEN 1 THEN ISNULL(NULLIF(B.TEN_TO_A,''),B.TEN_TO) ELSE ISNULL(NULLIF(B.TEN_TO_H,''),B.TEN_TO)  END AS TEN_TO,ISNULL((SELECT TOP 1 MUC_LUONG FROM dbo.QUA_TRINH_CONG_TAC WHERE ID_CN = @ID_CN AND  NGAY_HIEU_LUC = (SELECT MAX(NGAY_HIEU_LUC) FROM dbo.QUA_TRINH_CONG_TAC WHERE ID_CN = @ID_CN)),(SELECT TOP 1 LUONG_CO_BAN FROM dbo.LUONG_CO_BAN WHERE ID_CN = @ID_CN 
AND NGAY_HIEU_LUC = (SELECT MAX(NGAY_HIEU_LUC) FROM dbo.LUONG_CO_BAN WHERE  ID_CN = @ID_CN ))) AS MUC_LUONG_CU,A.ID_TO
FROM dbo.CONG_NHAN A 
INNER JOIN dbo.[TO] B ON B.ID_TO = A.ID_TO
INNER JOIN  dbo.XI_NGHIEP C ON C.ID_XN = B.ID_XN
INNER JOIN  dbo.DON_VI D ON	D.ID_DV = C.ID_DV
WHERE A.ID_CN = @ID_CN
)








