ALTER PROCEDURE [dbo].[spLoaiXepLoai]
	@ThangLXL DATE = '2020-05-01',	
	@UName NVARCHAR(50) = 'admin',
	@NNgu BIGINT = 0,
	@sBT NVARCHAR(50) = 'LXLHRMadmin',
	@Loai NVARCHAR(50) = 'Save'
AS	
BEGIN
--Cbo Load cbo Thang 
--Grd Load luoi khen thuong
--LXL Load Loai xep loai
--Add Load luoi khi them sua
--Save Save
--Delete // Thay ngon ngu bang id loai xep loai de where xoa
IF UPPER(@Loai) = UPPER('Cbo')
BEGIN
	--SELECT * FROM dbo.LOAI_XEP_LOAI   
	SELECT DISTINCT TOP 20	RIGHT(CONVERT(VARCHAR(10),THANG_LXL,103),7) T_NAME,THANG_LXL FROM LOAI_XEP_LOAI
	ORDER BY THANG_LXL DESC
END	

--Get luoi 
IF UPPER(@Loai) = UPPER('Grd')
BEGIN
	SELECT ID_LXL, THANG_LXL, TEN_LXL, TEN_LXL_A, TEN_LXL_H, HE_SO_LXL FROM dbo.LOAI_XEP_LOAI WHERE THANG_LXL = @ThangLXL ORDER BY TEN_LXL
END
--Get luoi Them Sua
IF UPPER(@Loai) = UPPER('Add')
BEGIN


SELECT  ID_LXL, @ThangLXL AS THANG_LXL, TEN_LXL, TEN_LXL_A, TEN_LXL_H, HE_SO_LXL FROM dbo.LOAI_XEP_LOAI WHERE THANG_LXL = (SELECT MAX(THANG_LXL) FROM dbo.LOAI_XEP_LOAI WHERE THANG_LXL <= @ThangLXL )  ORDER BY TEN_LXL




END


--Save [spXepLoaiKhenThuong]
IF UPPER(@Loai) = UPPER('Save')
BEGIN

CREATE TABLE #BT
(
	[ID_LXL] [BIGINT] NULL,
	[THANG_LXL] [DATETIME] NULL,
	[TEN_LXL] [NVARCHAR](255) NULL,
	[TEN_LXL_A] [NVARCHAR](255) NULL,
	[TEN_LXL_H] [NVARCHAR](255) NULL,
	[HE_SO_LXL] [FLOAT] NULL
)
--[spXepLoaiKhenThuong]
DECLARE @sSql  NVARCHAR(400)
SET @sSql = 'INSERT	INTO	#BT(ID_LXL, THANG_LXL, TEN_LXL, TEN_LXL_A, TEN_LXL_H, HE_SO_LXL) SELECT ID_LXL, THANG_LXL, TEN_LXL, TEN_LXL_A, TEN_LXL_H, HE_SO_LXL FROM ' + @sBT 
EXEC(@sSql)
SET @sSql = 'DROP TABLE ' + @sBT 
EXEC(@sSql)

INSERT INTO	dbo.LOAI_XEP_LOAI(THANG_LXL, TEN_LXL, TEN_LXL_A, TEN_LXL_H, HE_SO_LXL)
SELECT  DISTINCT T1.THANG_LXL, T1.TEN_LXL, T1.TEN_LXL_A, T1.TEN_LXL_H, T1.HE_SO_LXL FROM #BT T1 WHERE NOT EXISTS(
SELECT * FROM dbo.LOAI_XEP_LOAI T2 WHERE T1.THANG_LXL = T2.THANG_LXL AND T1.ID_LXL = T2.ID_LXL )  AND T1.THANG_LXL =  @ThangLXL

UPDATE dbo.LOAI_XEP_LOAI SET 
	TEN_LXL = T1.TEN_LXL , 
	TEN_LXL_A = T1.TEN_LXL_A, 
	TEN_LXL_H = T1.TEN_LXL_H,
	HE_SO_LXL = T1.HE_SO_LXL
FROM #BT T1 INNER JOIN dbo.LOAI_XEP_LOAI T2 ON T1.ID_LXL = T2.ID_LXL AND T1.THANG_LXL = T2.THANG_LXL WHERE EXISTS(
SELECT * FROM dbo.LOAI_XEP_LOAI T2 WHERE T1.THANG_LXL = T2.THANG_LXL AND T1.ID_LXL = T2.ID_LXL )  AND T2.THANG_LXL =  @ThangLXL


END

--delete  @NNgu thế id loai xep loai
IF UPPER(@Loai) = UPPER('Delete')
BEGIN
	IF EXISTS (SELECT * FROM dbo.KHEN_THUONG_THANG WHERE ID_LXL IN (SELECT DISTINCT ID_LXL FROM dbo.LOAI_XEP_LOAI WHERE (THANG_LXL = @ThangLXL) AND (ID_LXL = @NNgu OR @NNgu = -1)  ))
	BEGIN
		SELECT 1 AS TT		
	END
	ELSE
	BEGIN
		DELETE dbo.LOAI_XEP_LOAI WHERE	(ID_LXL = @NNgu OR @NNgu = -1) AND (THANG_LXL = @ThangLXL)
		DBCC CHECKIDENT (LOAI_XEP_LOAI,RESEED,0)
		DBCC CHECKIDENT (LOAI_XEP_LOAI,RESEED)
		SELECT 0 AS TT		
	END


END	



END

