--SELECT * FROM dbo.TIEN_THUONG_XEP_LOAI WHERE NGAY_TTXL ='2020-02-01'
ALTER	PROCEDURE [dbo].[spTienThuongXepLoai]
	@NgayTTXL DATE = '2020-09-30',
	@DenThang DATE = '01/01/1900',
	@DVi BIGINT = -1,
	@XNghiep BIGINT = -1,
	@To BIGINT = -1,
	@UName NVARCHAR(50) = 'admin',
	@NNgu INT = 0,
	@sBT NVARCHAR(50) = 'rptTienThuongXepLoai',
	@Loai NVARCHAR(50) = 'Cbo'
AS	
--Cbo Load cbo Thang 
--Grd Load luoi khen thuong
--LXL Load Loai xep loai
--Add Load luoi khi them sua
--TienThuong Tinh tien thuong   @DVi là tổng số tiền dem vào
--Save --@UName lam tieu de bao cao
--Print @sBT thay ten bao cao
BEGIN


--@DVi là tổng số tiền dem vào

DECLARE @sSql  NVARCHAR(400)
--SELECT DISTINCT * INTO #TOUSER FROM dbo.MGetToUser(@UName,@NNgu) WHERE (ID_XN = @XNghiep OR @XNghiep = -1) AND (ID_TO = @To OR @To = -1)  AND (ID_DV = @DVi OR @DVi = -1) 

SELECT * INTO #CN FROM dbo.MGetListNhanSuToDate(@UName, @NNgu, @DVi, @XNghiep, @To, @NgayTTXL)
	
IF UPPER(@Loai) = UPPER('Cbo')
	BEGIN
		SELECT DISTINCT NGAY_TTXL,TONG_TTXL, TU_THANG, DEN_THANG, TD_BC FROM [TIEN_THUONG_XEP_LOAI]  T1 
		INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN ORDER BY T1.NGAY_TTXL DESC
	END

--Get luoi 
IF UPPER(@Loai) = UPPER('Grd')
	BEGIN
		SELECT T1.NGAY_TTXL, T1.TONG_TTXL, T1.TU_THANG, T1.DEN_THANG, T1.TD_BC, T1.ID_CN,T2.MS_CN, T2.HO_TEN ,NGAY_VAO_LAM , T1.TIEN_THUONG 
		FROM [TIEN_THUONG_XEP_LOAI] T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN  
		WHERE NGAY_TTXL = @NgayTTXL    
		ORDER BY T2.MS_CN, T2.HO,T2.TEN
	END

--Get luoi Them Sua
IF UPPER(@Loai) = UPPER('Add')
	BEGIN
		SELECT  T2.NGAY_TTXL, T2.TONG_TTXL, T2.TU_THANG, T2.DEN_THANG, T2.TD_BC, T1.ID_CN,T1.MS_CN,T1.HO_TEN,T1.NGAY_VAO_LAM, T2.TIEN_THUONG
		FROM #CN T1 LEFT JOIN (SELECT * FROM [TIEN_THUONG_XEP_LOAI]  
		WHERE NGAY_TTXL = @NgayTTXL) T2 ON T1.ID_CN= T2.ID_CN 
		ORDER BY T1.MS_CN,T1.HO,T1.TEN
	END

IF UPPER(@Loai) = UPPER('TienThuong')
BEGIN
--@DVi là tổng số tiền dem vào
	SELECT T1.ID_CN, SUM(T2.HE_SO_LXL) AS THS, CONVERT(NUMERIC(18,2),@DVi) AS TONG_TIEN,@NgayTTXL AS TTHANG,@DenThang AS DTHANG INTO #CN_HS 
	FROM dbo.KHEN_THUONG_THANG T1 INNER JOIN dbo.LOAI_XEP_LOAI T2 ON T1.ID_LXL = T2.ID_LXL 
	WHERE T1.THANG_KTT BETWEEN @NgayTTXL AND @DenThang 
	GROUP BY T1.ID_CN

	DECLARE @TongThuong NUMERIC(18,2)
	SELECT @TongThuong =  CASE SUM(THS) WHEN 0 THEN 0 ELSE @DVi / SUM(THS) END   FROM #CN_HS

	SET @sSql = 'UPDATE ' + @sBT + ' SET TIEN_THUONG = NULL'
	EXEC(@sSql)


	SET @sSql = 'UPDATE ' + @sBT + ' SET TIEN_THUONG = THS * ' + CONVERT(NVARCHAR(20),@TongThuong) + ',TONG_TTXL = TONG_TIEN,TU_THANG=TTHANG,DEN_THANG=DTHANG	
	FROM #CN_HS T1 INNER JOIN ' + @sBT + ' T2 ON T1.ID_CN = T2.ID_CN'
	EXEC(@sSql)

	SET @sSql = 'SELECT T1.NGAY_TTXL,  CONVERT(NUMERIC(18,2),T1.TONG_TTXL) AS TONG_TTXL,T1.TU_THANG, T1.DEN_THANG,T1.NGAY_VAO_LAM , T1.TD_BC, T1.ID_CN,T1.MS_CN,T1.HO_TEN AS HO_TEN, T1.TIEN_THUONG  FROM ' + @sBT + ' T1 ORDER BY T1.MS_CN'
	EXEC(@sSql)

END	

--Save @UName AS TD_BC
IF UPPER(@Loai) = UPPER('Save')
BEGIN

CREATE TABLE #BT
(
	[NGAY_TTXL] [DATE] NULL,
	[TONG_TTXL] [NUMERIC](18, 2) NULL,
	[TU_THANG] [DATE] NULL,
	[DEN_THANG] [DATE] NULL,
	[TD_BC] [NVARCHAR](500) NULL,
	[ID_CN] [BIGINT] NULL,	
	[TIEN_THUONG] [NUMERIC](18, 2) NULL
)
--[spXepLoaiKhenThuong]
 
SET @sSql = 'INSERT	INTO	#BT(NGAY_TTXL, TONG_TTXL, TU_THANG, DEN_THANG, TD_BC, ID_CN, TIEN_THUONG) 
			SELECT DISTINCT NGAY_TTXL, TONG_TTXL, TU_THANG, DEN_THANG, N''' + @UName + '''  TD_BC, ID_CN, TIEN_THUONG FROM ' + @sBT  + ' WHERE ISNULL(TIEN_THUONG,0) <> 0 '
EXEC(@sSql)

SET @sSql = 'DROP TABLE ' + @sBT 
EXEC(@sSql)

DELETE T1 FROM dbo.TIEN_THUONG_XEP_LOAI T1  WHERE NGAY_TTXL  = @NgayTTXL 
DBCC CHECKIDENT (TIEN_THUONG_XEP_LOAI,RESEED,0)
DBCC CHECKIDENT (TIEN_THUONG_XEP_LOAI,RESEED)

INSERT INTO dbo.TIEN_THUONG_XEP_LOAI(NGAY_TTXL, TONG_TTXL, TU_THANG, DEN_THANG, TD_BC, ID_CN, TIEN_THUONG)
SELECT DISTINCT @NgayTTXL AS NGAY_TTXL, TONG_TTXL, TU_THANG, DEN_THANG, TD_BC, ID_CN, TIEN_THUONG FROM #BT 


UPDATE dbo.TIEN_THUONG_XEP_LOAI SET	 TONG_TTXL = MA  FROM (SELECT MAX(TONG_TTXL) MA FROM dbo.TIEN_THUONG_XEP_LOAI WHERE NGAY_TTXL =  @NgayTTXL) T2 WHERE NGAY_TTXL =  @NgayTTXL
UPDATE dbo.TIEN_THUONG_XEP_LOAI SET	 TU_THANG = TT  FROM (SELECT MAX(TU_THANG) TT FROM dbo.TIEN_THUONG_XEP_LOAI WHERE NGAY_TTXL =  @NgayTTXL) T2 WHERE NGAY_TTXL =  @NgayTTXL
UPDATE dbo.TIEN_THUONG_XEP_LOAI SET	 DEN_THANG = DT  FROM (SELECT MAX(DEN_THANG) DT FROM dbo.TIEN_THUONG_XEP_LOAI WHERE NGAY_TTXL =  @NgayTTXL) T2 WHERE NGAY_TTXL =  @NgayTTXL

END
--delete  @DVi thế id cong nhân
IF UPPER(@Loai) = UPPER('Delete')
BEGIN
	DELETE dbo.TIEN_THUONG_XEP_LOAI WHERE	(ID_CN = @DVi OR @DVi = -1) AND (NGAY_TTXL =  @NgayTTXL)
	DBCC CHECKIDENT (TIEN_THUONG_XEP_LOAI,RESEED,0)
DBCC CHECKIDENT (TIEN_THUONG_XEP_LOAI,RESEED)

END	

IF UPPER(@Loai) = UPPER('Print')
BEGIN
	SELECT T1.ID_CN, CASE @NNgu WHEN 0 THEN T2.TEN_LXL WHEN 1 THEN ISNULL(NULLIF(T2.TEN_LXL_A,''),T2.TEN_LXL) ELSE ISNULL(NULLIF(T2.TEN_LXL_H,''),T2.TEN_LXL) END  AS TXL ,T2.HE_SO_LXL INTO #THS  FROM dbo.KHEN_THUONG_THANG T1 INNER JOIN dbo.LOAI_XEP_LOAI T2 ON T2.ID_LXL = T1.ID_LXL	WHERE THANG_KTT BETWEEN (SELECT DISTINCT MIN(TU_THANG) FROM dbo.TIEN_THUONG_XEP_LOAI WHERE NGAY_TTXL = @NgayTTXL ) AND (SELECT DISTINCT MAX(DEN_THANG) FROM dbo.TIEN_THUONG_XEP_LOAI WHERE NGAY_TTXL = @NgayTTXL )


	SELECT T1.ID_CN,T1.MS_CN,T1.HO_TEN,T2.TIEN_THUONG,T1.TEN_DV,T3.DIA_CHI, T1.TEN_TO INTO #UTHUONG 
	FROM #CN T1  INNER JOIN
        dbo.TIEN_THUONG_XEP_LOAI AS T2 ON T1.ID_CN = T2.ID_CN INNER JOIN
        dbo.DON_VI AS T3 ON T1.ID_DV = T3.ID_DV INNER JOIN
        dbo.[TO] AS T4 ON T4.ID_TO = T1.ID_TO AND T1.ID_XN = T4.ID_XN WHERE NGAY_TTXL = @NgayTTXL 


	SELECT DISTINCT A.MS_CN,A.HO_TEN,THS,LXL,TIEN_THUONG,TEN_DV,DIA_CHI, TEN_TO
	FROM #UTHUONG A LEFT JOIN #THS T1 ON T1.ID_CN = A.ID_CN
	LEFT JOIN (SELECT ID_CN,SUM(HE_SO_LXL) AS THS FROM #THS GROUP BY ID_CN) T2 ON T1.ID_CN = T2.ID_CN 
	LEFT JOIN (SELECT T1.ID_CN,
		STUFF( (SELECT ','+TXL 
				FROM #THS T2
				WHERE T2.ID_CN = T1.ID_CN
				ORDER BY TXL
				FOR XML PATH(''), TYPE).value('.', 'Nvarchar(max)')
			,1,1,'') AS LXL
	FROM #THS T1
	GROUP BY ID_CN) T3 ON T1.ID_CN = T3.ID_CN 
	ORDER BY TEN_DV,DIA_CHI, TEN_TO,MS_CN,A.HO_TEN




SELECT TOP 1
(SELECT TOP 1 TD_BC FROM dbo.TIEN_THUONG_XEP_LOAI WHERE NGAY_TTXL = @NgayTTXL) AS tdBaoCao,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = @sBT AND KEYWORD = N'BaoCao') AS BaoCao,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = @sBT AND KEYWORD = N'CHXHCNVN') AS CHXHCNVN,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = @sBT AND KEYWORD = N'DLTDHP') AS DLTDHP,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = 'frmChung' AND KEYWORD = N'STT') AS STT,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = 'frmChung' AND KEYWORD = N'MsCN') AS MS_CN,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = 'frmChung' AND KEYWORD = N'HoTen') AS HO_TEN,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = @sBT AND KEYWORD = N'MucThuong') AS MucThuong,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = @sBT AND KEYWORD = N'XepLoaiThuong') AS 	XepLoaiThuong,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = @sBT AND KEYWORD = N'HeSoThuong') AS 	HeSoThuong,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = @sBT AND KEYWORD = N'SoTienThuong') AS  SoTienThuong,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = @sBT AND KEYWORD = N'KyNhan') AS  KyNhan,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = @sBT AND KEYWORD = N'TongCong') AS  TongCong,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = @sBT AND KEYWORD = N'BangChu')  + ' : ' + 
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = @sBT AND KEYWORD = N'LapBang') AS  LapBang,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = @sBT AND KEYWORD = N'TPTCHC') AS  TPTCHC,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = @sBT AND KEYWORD = N'KTTruong') AS  KTTruong,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = @sBT AND KEYWORD = N'GiamDoc') AS  GiamDoc,
(SELECT CASE @NNgu WHEN 0 THEN VIETNAM WHEN 1 THEN ISNULL(NULLIF(ENGLISH,''),VIETNAM) ELSE ISNULL(NULLIF(CHINESE,''),VIETNAM) END FROM dbo.LANGUAGES WHERE FORM = @sBT AND KEYWORD = N'NgayThangNam') NgayThangNam 

--[spTienThuongXepLoai]


END	

END	