ALTER PROCEDURE [dbo].[rptBCDKTangCa]
    @DNgay NVARCHAR(10) = '19000101',
	@ID_DV INT = -1,
	@ID_XN INT = -1,
	@ID_TO INT = -1,
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
	SELECT T1.MS_CN, T1.HO_TEN, T3.TEN_NHOM AS NHOM, T2.CA, T2.GIO_BD, T2.GIO_KT, T2.COM_CA, T1.TEN_XN, T1.TEN_TO
	FROM  MGetListNhanSuToDate(@UName, @NNgu, @ID_DV, @ID_XN , @ID_TO, @DNgay)  T1
	INNER JOIN DANG_KY_LAM_GIO_LAM_THEM T2 ON T2.ID_CN = T1.ID_CN AND CONVERT(nvarchar(10), T2.NGAY, 112) = @DNgay
	LEFT JOIN NHOM_CHAM_CONG T3 ON T2.ID_NHOM = T3.ID_NHOM
	ORDER BY T1.STT_XN, T1.STT_TO, T1.MS_CN
END