ALTER PROCEDURE [dbo].[rptBCKeHoachDiCa]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@Nhom_sx INT = -1,
	@CA nvarchar(4) = '-1',
	@TNGAY DateTIME = '20210801',
	@DNGAY DateTIME = '20210831'
AS 
BEGIN
	SELECT * INTO #CN FROM dbo.MGetListNhanSuFormToDate(@UName,@NNgu, -1, -1, -1, @TNGAY, @DNGAY)
	
	SELECT T3.TEN_NHOM, T1.CA, T2.MS_CN, T2.HO_TEN, T2.TEN_XN, T2.TEN_TO, 
	CONVERT(nvarchar(10),T1.TU_NGAY,103) AS TU_NGAY, CONVERT(nvarchar(10),T1.DEN_NGAY,103) AS DEN_NGAY, T1.GHI_CHU
	FROM KE_HOACH_DI_CA T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN
	INNER JOIN NHOM_CHAM_CONG T3 ON T1.ID_NHOM = T3.ID_NHOM
	WHERE (T1.ID_NHOM = @Nhom_sx OR @Nhom_sx = -1) AND (T1.CA = @CA OR @CA = -1) AND (TU_NGAY BETWEEN @TNGAY AND @DNGAY
	OR DEN_NGAY BETWEEN @TNGAY AND @DNGAY
	OR ((TU_NGAY < @TNGAY) AND (DEN_NGAY > @DNGAY)))
	ORDER BY T2.STT_XN, T2.STT_TO, T2.MS_CN
	
END

