ALTER PROCEDURE [dbo].[rptCongNhanPhepThang]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,	
	@ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
	@THANGIN DATETIME = '20210301'
AS
BEGIN
	DECLARE @NgayTinhPhep Date
	DECLARE @NgayTinhPhepTT Date
	DECLARE @TuNgay Date
	DECLARE @DenNgay Date
	DECLARE @Chuoi nvarchar(4000)

	SET @NgayTinhPhep = CONVERT(DateTime,DATEADD(dd,-(DAY(@THANGIN))+15,@THANGIN),101)
	SET @NgayTinhPhepTT = DATEADD(M,-1,@NgayTinhPhep)
	SET @TuNgay = CONVERT(DateTime,DATEADD(dd,-(DAY(@THANGIN))+1,@THANGIN),101)
	SET @DenNgay = DATEADD(dd,-1,DATEADD(M, 1,@TuNgay))
	
	SELECT * INTO #CN FROM dbo.MGetListNhanSuFormToDate(@UName, @NNgu, @ID_DV, @ID_XN, @ID_TO, @TuNgay, @DenNgay)

	SELECT ROW_NUMBER() OVER (ORDER BY STT_XN, STT_TO, MS_CN) AS STT, A.HO_TEN, A.MS_CN, LCV.TEN_LCV, A.TEN_XN, A.TEN_TO,  
	CONVERT(nvarchar(10),A.NGAY_VAO_CTY,103) NGAY_VL, CONVERT(nvarchar(10),HD.NKHD,103) NGAY_KY_HD, A.PHEP_CT, B.PHEP_TN, ISNULL(B.PHEP_UNG,0) PHEP_UNG,
	ISNULL(T_1,0) T1, ISNULL(T_2,0) T2, ISNULL(T_3,0) T3, ISNULL(T_4,0) T4, ISNULL(T_5,0) T5, ISNULL(T_6,0) T6, 
	ISNULL(T_7,0) T7, ISNULL(T_8,0) T8, ISNULL(T_9,0) T9, ISNULL(T_10,0) T10, ISNULL(T_11,0) T11, ISNULL(T_12,0) T12, 
	ISNULL(B.PHEP_DA_NGHI,0) PDN, ISNULL(B.PHEP_TIEU_CHUAN,0) PTC, ISNULL(B.PHEP_TON,0) PT, ISNULL(B.SO_THANG_LV,0) STLV, 
	ISNULL(TT_1,0) TT1, ISNULL(TT_2,0) TT2, ISNULL(TT_3,0) TT3, ISNULL(TT_4,0) TT4, ISNULL(TT_5,0) TT5, ISNULL(TT_6,0) TT6, 
	ISNULL(TT_7,0) TT7, ISNULL(TT_8,0) TT8, ISNULL(TT_9,0) TT9, ISNULL(TT_10,0) TT10, ISNULL(TT_11,0) TT11, ISNULL(TT_12,0) TT12, 
	ISNULL(TT_1,0) + ISNULL(TT_2,0)+ ISNULL(TT_3,0)+ ISNULL(TT_4,0)+ ISNULL(TT_5,0)+ ISNULL(TT_6,0)
	+ ISNULL(TT_7,0) + ISNULL(TT_8,0)+ ISNULL(TT_9,0)+ ISNULL(TT_10,0)+ ISNULL(TT_11,0)+ ISNULL(TT_12,0) TONG_TT, THANG_KTP.GHI_CHU
	FROM #CN A INNER JOIN dbo.PHEP_THANG B ON B.ID_CN = A.ID_CN 
	LEFT JOIN (SELECT ID_CN, GHI_CHU FROM SO_THANG_KHONG_TP WHERE THANG = @THANGIN
	) THANG_KTP ON B.ID_CN = THANG_KTP.ID_CN
	LEFT JOIN LOAI_CONG_VIEC LCV ON A.ID_LCV = LCV.ID_LCV
	LEFT JOIN (SELECT ID_CN, MIN(NGAY_BAT_DAU_HD) NKHD FROM HOP_DONG_LAO_DONG WHERE ISNULL(HD_GIA_HAN,0) = 1 GROUP BY ID_CN) HD ON A.ID_CN = HD.ID_CN
	WHERE B.THANG = @THANGIN
END
