ALTER PROCEDURE [dbo].[spGetDuLieuQuetTheLoi]
	@ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
	@NGAY DATETIME ='20210301',
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0	
AS
BEGIN
SELECT  ID_TO,ID_DV,ID_XN INTO #TEMPT  FROM dbo.MGetToUser(@UName,@NNgu) WHERE (ID_DV =@ID_DV OR @ID_DV =-1) AND (ID_XN =@ID_XN OR @ID_XN = -1 )
SELECT A.ID_CN,MS_CN,HO + ' '+A.TEN AS HO_TEN,C.NGAY_DEN,CONVERT(NVARCHAR(20),C.GIO_DEN, 108) AS  GIO_DEN,C.NGAY_VE,CONVERT(NVARCHAR(20),C.GIO_VE, 108) as GIO_VE,A.MS_THE_CC,C.CHINH_SUA,C.GIO_DEN AS GIO_DEN_LUU,C.GIO_VE AS GIO_VE_LUU
FROM dbo.CONG_NHAN A
INNER JOIN #TEMPT B ON B.ID_TO = A.ID_TO
INNER JOIN dbo.DU_LIEU_QUET_THE C ON C.ID_CN = A.ID_CN
WHERE A.ID_TO = @ID_TO OR @ID_TO = -1 AND CONVERT(DATE,@NGAY) = CONVERT(DATE,C.NGAY_DEN) AND CONVERT(DATE,C.NGAY_DEN) = CONVERT(DATE,C.NGAY_VE) AND CONVERT(NVARCHAR(20),C.GIO_DEN, 114) =CONVERT(NVARCHAR(20),C.GIO_VE, 114) 
ORDER BY A.MS_CN
END