ALTER PROCEDURE [dbo].[spGetListCheDoChamCongNhanVien]
	@DNgay  DATE = '20210101',
    @ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
    @UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN

	SELECT * INTO #CN FROM [dbo].[MGetListNhanSuToDate](@UName,@NNgu,@ID_DV,@ID_XN,@ID_TO,@DNgay)

	SELECT CONVERT(varchar(50),T1.NGAY_AD,103)AS NGAY_AD, T1.ID_CN, T2.MS_CN, T2.HO_TEN, T1.ID_NHOM, T1.ID_CDLV AS CA, T2.TEN_XN, T2.TEN_TO 
	FROM CHE_DO_CHAM_CONG_NHAN_VIEN T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN
	WHERE T1.NGAY_AD = @DNgay
	ORDER BY T2.STT_XN, T2.STT_TO, T2.MS_CN
END


