ALTER PROCEDURE [dbo].[spGetListViPhamQuetThe]
    @DNgay DATETIME = '2021/03/30',
    @ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
    @UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
SELECT T1.ID_CN,T2.MS_CN, T2.HO_TEN, T1.GIO_DEN, T1.GIO_VE,T1.VP_GD, T1.VP_GV
FROM DSCN_VP_QUET_THE T1 
INNER JOIN (SELECT ID_CN,MS_CN ,HO_TEN FROM [dbo].[MGetListNhanSu](@ID_DV,@ID_XN,@ID_TO,0,@UName,@NNgu)) T2
        ON T1.ID_CN = T2.ID_CN
WHERE T1.NGAY = @DNgay
ORDER BY T1.NGAY,T2.MS_CN, T2.HO_TEN
END