ALTER PROCEDURE [dbo].[spGetComboNhomca]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@CoAll INT =1
AS
BEGIN
IF @CoAll = 1
BEGIN
SELECT  ID_NHOM,TEN_NHOM  FROM NHOM_CHAM_CONG
UNION SELECT -1,'< All >'
ORDER BY TEN_NHOM
END	
ELSE
SELECT DISTINCT ID_NHOM,TEN_NHOM  FROM NHOM_CHAM_CONG
ORDER BY TEN_NHOM
END