ALTER PROCEDURE [dbo].[spGetEditListCN_LAM_THEM]
    @DNgay NVARCHAR(10) = '20210101',
    @ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
    @UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
SELECT DISTINCT CASE WHEN T2.ID_CN > 0 THEN CAST(1 AS BIT)
                              ELSE CAST(0 AS BIT) END AS CHON
	  , T1.ID_CN
	  , MS_CN
	  , HO_TEN
FROM MGetListNhanSuToDate(@UName, @NNgu, @ID_DV, @ID_XN , @ID_TO, @DNgay) T1
LEFT JOIN DANG_KY_LAM_GIO_LAM_THEM T2 ON T1.ID_CN = T2.ID_CN AND CONVERT(NVARCHAR(10),T2.NGAY, 112) = @DNgay
ORDER BY MS_CN, HO_TEN
END