ALTER PROCEDURE [dbo].[spGetListEditCDCCNV]
	@DNgay  DATE = '20210101',
    @ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
    @UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
	SELECT * INTO #CN FROM [dbo].[MGetListNhanSuToDate](@UName,@NNgu,@ID_DV,@ID_XN,@ID_TO,@DNgay)
	
	SELECT CONVERT(varchar(50),T2.NGAY_AD,103)AS NGAY_AD, T1.ID_CN, T1.MS_CN, T1.HO_TEN, T2.ID_NHOM, T2.ID_CDLV CA, T1.TEN_XN, T1.TEN_TO
	FROM #CN T1
	LEFT JOIN (SELECT * FROM CHE_DO_CHAM_CONG_NHAN_VIEN 
	WHERE NGAY_AD = @DNgay) T2 ON T1.ID_CN = T2.ID_CN
	ORDER BY T1.STT_XN, T1.STT_TO, T1.MS_CN
END
