ALTER PROCEDURE [dbo].[spGetListLamThem]
	@DNgay NVARCHAR(10) = '20210301',
	--@ID_DV INT = -1,
	--@ID_XN INT = -1,
	--@ID_TO INT = -1,
    @UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
	SELECT T1.ID_CN, T1.NGAY, T1.ID_NHOM, ID_CDLV AS CA, GIO_BD , GIO_KT, ISNULL(COM_CA, 0) AS COM_CA , PHUT_BD, PHUT_KT 
	FROM DANG_KY_LAM_GIO_LAM_THEM T1
	INNER JOIN NHOM_CHAM_CONG T2 ON T1.ID_NHOM = T2.ID_NHOM 
	WHERE  CONVERT(NVARCHAR(10), NGAY , 112 ) = @DNgay
	ORDER BY ID_NHOM, CA, GIO_BD , GIO_KT, COM_CA
END
