ALTER PROCEDURE [dbo].[spGetListCN_LAM_THEM]
    @DNgay NVARCHAR(10) = '19000101',
	@ID_DV INT = -1,
	@ID_XN INT = -1,
	@ID_TO INT = -1,
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
	SELECT DISTINCT CAST(1 AS BIT) CHON,T1.ID_CN, T1.MS_CN, T1.HO_TEN
	FROM  MGetListNhanSuToDate(@UName, @NNgu, @ID_DV, @ID_XN , @ID_TO, @DNgay)  T1
	INNER JOIN DANG_KY_LAM_GIO_LAM_THEM T2 ON T2.ID_CN = T1.ID_CN AND CONVERT(nvarchar(10), T2.NGAY, 112) = @DNgay
	ORDER BY T1.MS_CN
END