ALTER PROCEDURE [dbo].[spGetCaLV]
    @DNgay DATE = '20210101',
    @ID_Nhom INT = 1,
    @UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
	SELECT DISTINCT ID_CDLV, T1.CA, CA , T1.GIO_BD, T1.GIO_KT, T1.PHUT_BD, T1.PHUT_KT
	FROM CHE_DO_LAM_VIEC T1 
	WHERE T1.NGAY = (SELECT MAX(NGAY) FROM CHE_DO_LAM_VIEC WHERE NGAY <=  @DNgay) AND T1.ID_NHOM = @ID_Nhom
END