ALTER PROCEDURE [dbo].[spGetListDSDKLamDem]
    @DNgay DATETIME = '20210101',
    @ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
    @UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
	SELECT * INTO #CN FROM dbo.MGetListNhanSuToDate(@UName, @NNgu, @ID_DV, @ID_XN , @ID_TO, @DNgay)
	
	SELECT T1.ID_CN, T2.MS_CN, T2.HO_TEN, T2.TEN_XN, T2.TEN_TO, CAST(1 AS BIT) CHON FROM DANG_KY_LAM_DEM T1 
	INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN
	WHERE T1.NGAY = @DNgay
	ORDER BY T1.NGAY, T2.STT_XN, T2.STT_TO, T2.MS_CN
END