ALTER PROCEDURE [dbo].[spGetEditDSCNKhongTinhCC]
	@DThang  DATE = '20210101',
    @ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
    @UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
	DECLARE @TNGAY DATE
	DECLARE @DNGAY DATE
	
	SET @TNGAY = CONVERT(DateTime,@DThang)
	SET @DNGAY = DATEADD(D,-1,DATEADD(M,1,@DThang))

	SELECT * INTO #CN FROM [dbo].[MGetListNhanSuFormToDate](@UName, @NNgu, @ID_DV, @ID_XN, @ID_TO, @TNGAY, @DNGAY)

	SELECT T2.ID_CN, T2.MS_CN, T2.HO_TEN, T2.TEN_XN, T2.TEN_TO, ISNULL(T1.CHUYEN_CAN,0)as CHUYEN_CAN 
	FROM #CN T2	LEFT JOIN ( SELECT * FROM DS_CN_KHONG_TINH_CC 
	WHERE THANG = (SELECT MAX(THANG) FROM DS_CN_KHONG_TINH_CC WHERE THANG <= @DThang)) T1 ON T1.ID_CN = T2.ID_CN
	ORDER BY T2.STT_XN, T2.STT_TO, T2.MS_CN, T2.HO_TEN
END