ALTER PROCEDURE [dbo].[spGetDuLieuQuetThe]
	@TuNgay DATE = '03/01/2021',
	@DenNgay DATE = '03/31/2021',
	@UName NVARCHAR(100) ='admin',
	@NNgu INT = 0,
	@DVi BIGINT = -1,
	@XN BIGINT = -1,
	@TO BIGINT = 20
AS
BEGIN
	SELECT DISTINCT ID_CN 
	INTO #ToUser 
	FROM dbo.MGetListNhanSuFormToDate(@UName, @NNgu, @DVi, @XN, @TO, @TuNgay, @DenNgay)

	SELECT DISTINCT T1.NGAY, CASE WHEN T1.NGAY = T3.NGAY THEN  convert(bit,1) ELSE  convert(bit,0) END AS TH
	FROM dbo.DU_LIEU_QUET_THE T1 INNER JOIN #ToUser T2 ON T1.ID_CN = T2.ID_CN 
	LEFT JOIN (SELECT DISTINCT T1.NGAY FROM dbo.CHAM_CONG T1 WHERE CONVERT(DATE,T1.NGAY) BETWEEN @TuNgay AND @DenNgay) T3 ON T1.NGAY = T3.NGAY
	WHERE CONVERT(DATE,T1.NGAY) BETWEEN @TuNgay AND @DenNgay
	ORDER BY T1.NGAY ASC

END