ALTER PROCEDURE [dbo].[spGetCongLinkChamCongTay]
    @ID_DV BIGINT = -1,
    @ID_XN BIGINT = -1,
    @ID_TO BIGINT = -1,
	@Ngay DATETIME = '2021-03-02 00:00:00.000',
    @UName NVARCHAR(100) = 'admin',
    @NNgu INT = 0
AS
BEGIN

	SELECT *
	INTO #TEMPT 
	FROM dbo.MGetListNhanSuToDate(@UName, @NNgu, @ID_DV, @ID_XN, @ID_TO, @Ngay)

	SELECT CAST(0 AS BIT) AS CHON, T1.ID_CN, T1.MS_CN, T1.HO_TEN, T2.ID_NHOM, T2.TEN_NHOM, T2.CA, CONVERT(nvarchar(10),T2.GIO_DEN,108) GIO_DEN, 
	T2.NGAY_DEN, CONVERT(nvarchar(10),T2.GIO_VE,108) GIO_VE, T2.NGAY_VE, T3.MS_LDV
	FROM #TEMPT T1
	LEFT JOIN (SELECT DLQT.ID_CN, DLQT.ID_NHOM, NCC.TEN_NHOM, DLQT.CA, GIO_DEN, NGAY_DEN, GIO_VE, NGAY_VE 
	FROM DU_LIEU_QUET_THE DLQT INNER JOIN NHOM_CHAM_CONG NCC 
	ON DLQT.ID_NHOM = NCC.ID_NHOM WHERE DLQT.NGAY = @Ngay) T2 ON T1.ID_CN = T2.ID_CN
	LEFT JOIN (SELECT KHNP.ID_CN, LDV.MS_LDV  FROM KE_HOACH_NGHI_PHEP KHNP INNER JOIN LY_DO_VANG LDV ON KHNP.ID_LDV = LDV.ID_LDV 
	WHERE  @Ngay BETWEEN TU_NGAY AND DEN_NGAY) T3 ON T1.ID_CN = T3.ID_CN 
	ORDER BY T1.MS_CN
	--WHERE ISNULL(ID_NHOM,0) = 0
END

