ALTER PROCEDURE [dbo].[spGetDSCNKhongTinhCC]
	@DThang  DATE = '20210101',
    @ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
    @UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
	DECLARE @TNGAY DATE
	DECLARE @DNGAY DATE
	
	SET @TNGAY = CONVERT(DateTime,@DThang)
	SET @DNGAY = DATEADD(D,-1,DATEADD(M,1,@DThang))

	SELECT * INTO #CN FROM [dbo].[MGetListNhanSuFormToDate](@UName, @NNgu, @ID_DV, @ID_XN, @ID_TO, @TNGAY, @DNGAY)
	
	SELECT T1.ID_CN, T2.MS_CN, T2.HO_TEN, T2.TEN_XN, T2.TEN_TO, T1.CHUYEN_CAN 
	FROM DS_CN_KHONG_TINH_CC T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN
	WHERE T1.THANG = @DThang
	ORDER BY T2.MS_CN, T2.HO_TEN
END