ALTER PROCEDURE [dbo].[spGetDuLieuQuetTheCN]
	@TuNgay DATE = '03/02/2021',
	@UName NVARCHAR(100) ='admin',
	@NNgu INT = 0,
	@DVi BIGINT = -1,
	@XN BIGINT = -1,
	@TO BIGINT = -1    
AS
BEGIN
   
SELECT * 
INTO #ToUser 
FROM dbo.MGetListNhanSuToDate(@UName, @NNgu, @DVi, @XN, @TO, @TuNgay)

SELECT T1.MS_CN, T1.MS_THE_CC, T1.HO_TEN, T3.MS_LDV, CASE WHEN ISNULL(T2.ID_CN,0) = 0 THEN convert(bit,0) ELSE convert(bit,1) END CO_DK, T1.ID_CN 
FROM #ToUser T1
LEFT JOIN (SELECT ID_CN FROM DANG_KY_LAM_GIO_LAM_THEM WHERE NGAY = @TuNgay GROUP BY ID_CN) T2 ON T1.ID_CN = T2.ID_CN
LEFT JOIN (SELECT KHNP.ID_CN, LDV.MS_LDV  FROM KE_HOACH_NGHI_PHEP KHNP INNER JOIN LY_DO_VANG LDV ON KHNP.ID_LDV = LDV.ID_LDV 
WHERE  @TuNgay BETWEEN TU_NGAY AND DEN_NGAY) T3 ON T1.ID_CN = T3.ID_CN 
ORDER BY T1.MS_CN
END
