ALTER PROCEDURE [dbo].[spGetDuLieuQuetTheCNCT]
    @TuNgay DATE = '03/01/2021',
	@ID_CN BIGINT = 311
AS
BEGIN
	SELECT T1.NGAY_DEN, T1.GIO_DEN, T1.NGAY_VE, T1.GIO_VE, T2.ID_NHOM, T1.CA, T1.CHINH_SUA 
	FROM dbo.DU_LIEU_QUET_THE T1 INNER JOIN dbo.NHOM_CHAM_CONG T2 ON T2.ID_NHOM = T1.ID_NHOM
	WHERE NGAY = @TuNgay AND T1.ID_CN = @ID_CN 
END