ALTER PROCEDURE [dbo].[spGetEditVPQuetThe]
    @DNgay DATETIME = '20210330',
    @ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
    @UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
SELECT T2.ID_CN, T2.MS_CN, T2.HO_TEN, ISNULL(T1.GIO_DEN,'') GIO_DEN, ISNULL(T1.GIO_VE,'') GIO_VE,ISNULL(VP_GD ,0 ) VP_GD, ISNULL(VP_GV ,0) VP_GV
       
FROM [dbo].[MGetListNhanSu](@ID_DV,@ID_XN,@ID_TO,0,@UName,@NNgu) T2
LEFT JOIN ( SELECT ID_CN, NGAY, VP_GD, VP_GV, GIO_DEN, GIO_VE 
            FROM DSCN_VP_QUET_THE
            WHERE CONVERT(NVARCHAR(10),NGAY, 112) = @DNgay
) T1 
ON T1.ID_CN = T2.ID_CN
--WHERE T1.NGAY = (SELECT MAX(NGAY) FROM DSCN_VP_QUET_THE) OR T1.NGAY IS NULL
ORDER BY T1.NGAY, T1.VP_GD, T1.VP_GV ,T2.MS_CN, T2.HO_TEN
END

