ALTER PROCEDURE [dbo].[spSaveDuLieuQuetTheTay]
	@Ngay DATE = '2021-03-10',
	@sBT NVARCHAR(50) = 'BTKinkTayadmin'
AS	
BEGIN

	--Xoa du lieu quet the cua cong nhan can cap nhat
	DECLARE @sSql  NVARCHAR(400)
	SET @sSql = 'DELETE FROM DU_LIEU_QUET_THE FROM DU_LIEU_QUET_THE T1 INNER JOIN 
		(SELECT DISTINCT ID_CN FROM ' + @sBT + ' WHERE CHON = 1) T2 ON T1.ID_CN = T2.ID_CN 
		WHERE NGAY = '''+ CONVERT(nvarchar(10),@Ngay,101) + ''''
	--PRINT @sSql
	EXEC (@sSql)
	
	SET @sSql = 'INSERT INTO DU_LIEU_QUET_THE (ID_CN, NGAY, ID_NHOM, CA, NGAY_DEN, GIO_DEN, PHUT_DEN, NGAY_VE, GIO_VE, PHUT_VE, CHINH_SUA) 
		SELECT ID_CN, '''+ CONVERT(nvarchar(10),@Ngay,101) + ''' NGAYLINK, ID_NHOM, CA, 
		NGAY_DEN, GIO_DEN, (DATEPART(HH,GIO_DEN)*60) + DATEPART(MI,GIO_DEN) GD,
		NGAY_VE, GIO_VE, (DATEPART(HH,GIO_VE)*60) + DATEPART(MI,GIO_VE) GV, 1 CS FROM '+ @sBT +' WHERE CHON = 1 AND ISNULL(GIO_DEN,'''') <> '''''
	--PRINT @sSql
	EXEC(@sSql)
	
	SET @sSql = 'DROP TABLE ' + @sBT
	EXEC(@sSql)
END	

