ALTER PROCEDURE [dbo].[spSaveDangKyLamThemGio]
	@NgayAD DATE = '04/02/2021',
	@BangTamCN NVARCHAR(50) = 'grvCongNhanLamThemGioadmin',
	@BangTamLT NVARCHAR(50) = 'grvLamThemGioadmin'
AS	
BEGIN
CREATE TABLE #BT
(
	[ID_CN] [int] NULL,
	[NGAY] [datetime] NULL,
	[ID_NHOM] [INT]  NULL,
	[CA] [NVARCHAR](5)  NULL,
	[GIO_BD] [datetime] NULL,
	[GIO_KT] [datetime] NULL,
	[COM_CA] [BIT]  NULL,
	[PHUT_BD] [INT]  NULL,
	[PHUT_KT] [INT] NULL,
	[CHON] [Bit] NULL
)
--[spXepLoaiKhenThuong]
DECLARE @sSql  NVARCHAR(400)
SET @sSql = 'INSERT INTO #BT(ID_CN, NGAY, ID_NHOM, CA, GIO_BD, GIO_KT, COM_CA, PHUT_BD, PHUT_KT, CHON)
	SELECT T1.ID_CN, T2.NGAY, T2.ID_NHOM, T2.CA, T2.GIO_BD, T2.GIO_KT, T2.COM_CA, T2.PHUT_BD, T2.PHUT_KT, T1.CHON 
	FROM ' + @BangTamCN + ' T1 LEFT JOIN ' + @BangTamLT +' T2 ON T1.ID_CN = T2.ID_CN'
EXEC(@sSql)
--SET @sSql = 'DROP TABLE ' + @BangTamLT 
--EXEC(@sSql)

-------------------------------------------------------------------------------
	--SELECT CONVERT(DateTime,@NgayAD) 
	--SELECT * FROM DANG_KY_LAM_GIO_LAM_THEM A INNER JOIN #BT B ON A.ID_CN=B.ID_CN WHERE A.NGAY = CONVERT(DATETIME,@NgayAD,108) 

	DELETE A FROM DANG_KY_LAM_GIO_LAM_THEM A INNER JOIN #BT B ON A.ID_CN=B.ID_CN WHERE A.NGAY = CONVERT(DATETIME,@NgayAD)    
	INSERT INTO DANG_KY_LAM_GIO_LAM_THEM (ID_CN, NGAY, ID_NHOM, ID_CDLV, CA, COM_CA, GIO_BD, GIO_KT, PHUT_BD, PHUT_KT)  
	SELECT T1.ID_CN, T1.NGAY, T1.ID_NHOM, T1.CA, T2.CA, T1.COM_CA, T1.GIO_BD, T1.GIO_KT, T1.PHUT_BD, T1.PHUT_KT  
	FROM #BT T1 INNER JOIN CHE_DO_LAM_VIEC T2 ON T1.CA = T2.ID_CDLV 
	WHERE CHON = 1 AND ISNULL(T1.ID_NHOM,'')!='' AND ISNULL(T1.CA,'') != '' 

END
