ALTER PROCEDURE [dbo].[spTinhThangKhongTinhPhep]  
    @UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
    @ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
	@TNgay DATE = '20210301',
	@DNgay  DATE = '20210331'
	--@BTam NVARCHAR(50)= 'tbtmpKhongTinhPhepadmin',
AS 
BEGIN  
	DECLARE @sSql  NVARCHAR(4000)

	SELECT * INTO #CN FROM [dbo].[MGetListNhanSuFormToDate](@UName,@NNgu,@ID_DV,@ID_XN,@ID_TO,@TNgay,@DNgay)
	
	SELECT TOP 1 T1.ID_CN, T2.MS_CN, T2.HO + ' ' + T2.TEN HO_TEN, T1.SO_THANG, T1.THANG_HT, T1.TONG_ST, T1.GHI_CHU
	INTO #BTTMP
	FROM SO_THANG_KHONG_TP T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN
	
	DELETE FROM #BTTMP
	
	DELETE FROM SO_THANG_KHONG_TP WHERE THANG = CONVERT(nvarchar(10), @TNgay,112) 
	
	INSERT INTO #BTTMP (ID_CN, MS_CN, HO_TEN) 
	SELECT DISTINCT T1.ID_CN, T1.MS_CN, T1.HO_TEN 
	FROM #CN T1 
	
	--lay du lieu thang cu
    UPDATE #BTTMP SET SO_THANG = ISNULL(T2.TONG_ST,0), GHI_CHU = T2.GHI_CHU 
	FROM #BTTMP T1 LEFT JOIN (SELECT ID_CN, TONG_ST, GHI_CHU FROM SO_THANG_KHONG_TP 
    WHERE THANG = (SELECT MAX(THANG) FROM SO_THANG_KHONG_TP WHERE THANG <= CONVERT(nvarchar(10), @DNgay,112) )) T2 ON T1.ID_CN = T2.ID_CN
    
	--Tinh tieu chuan thang
    UPDATE #BTTMP SET THANG_HT = 0 
    
    --Nhung nguoi nghi viec rieng khong co gio cong nao khong duoc huong phep
    UPDATE #BTTMP SET THANG_HT = 1 FROM #BTTMP T1 
		LEFT JOIN (SELECT ID_CN, SUM(SG_LV_TT) AS GLV  FROM CHAM_CONG_CHI_TIET 
		WHERE NGAY BETWEEN CONVERT(nvarchar(10), @TNgay,112) AND CONVERT(nvarchar(10), @DNgay,112)
		AND TANG_CA = 0 GROUP BY ID_CN) T3 ON T1.ID_CN = T3.ID_CN WHERE ISNULL(T3.GLV,0) = 0
    
    --Nhung nguoi  co gio cong bhxh > 112 v¿ khéng co gio cong nao van duoc huong phep
	UPDATE #BTTMP SET THANG_HT = 0 FROM #BTTMP T1 INNER JOIN  
		(SELECT TB1.ID_CN, COUNT(TB1.NGAY) AS CONG_BHXH  FROM CHAM_CONG_CHI_TIET_VANG TB1 
		INNER JOIN LY_DO_VANG TB2 ON TB1.ID_LDV = TB2.ID_LDV 
		WHERE TB1.NGAY BETWEEN CONVERT(nvarchar(10), @TNgay,112)  AND  CONVERT(nvarchar(10), @DNgay,112) 
        AND TB2.TINH_BHXH = 1 GROUP BY TB1.ID_CN HAVING COUNT(TB1.NGAY) >= 1) T2 ON T1.ID_CN = T2.ID_CN

    --Tinh tong cong
    UPDATE #BTTMP SET TONG_ST = ISNULL(SO_THANG,0) + ISNULL(THANG_HT,0)
    
    UPDATE #BTTMP SET GHI_CHU = ISNULL(GHI_CHU,'') + CASE WHEN ISNULL(GHI_CHU, '')= '' THEN N'Tháng ' + Convert(nvarchar(2),Month(@DNgay)) ELSE N', Tháng ' + Convert(nvarchar(2),Month(@DNgay)) END WHERE THANG_HT = 1

	
	SELECT * FROM #BTTMP
	
END
