ALTER PROCEDURE [dbo].[spTongHopDuLieu](
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@CN INT = -1,
	@LB INT = 0,
	@LamTron INT = 1,
	@Ngay Datetime = '03/02/2021'
)  
AS  
BEGIN  	
	--danh sach cong nhan can tong hop ngay
	SELECT * INTO #CN FROM dbo.MGetListNhanSuToDate(@UName, @NNgu, @DVi, @XN, @TO, @Ngay)
	WHERE (ID_CN = @CN OR @CN = -1)
	
	--danh sach quet the ngay
	SELECT T1.* INTO #DLQT FROM DU_LIEU_QUET_THE T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN
	WHERE (CONVERT(nvarchar(10),T1.NGAY,101) = CONVERT(nvarchar(10),@Ngay,101)) AND (ISNULL(T1.ID_NHOM,'') <> '') AND (ISNULL(T1.CA,'') <> '')
	
	--danh sach cong nhan dang ky lam dem ngay
	SELECT T1.* INTO #DKLD FROM DANG_KY_LAM_DEM T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
	WHERE NGAY = @Ngay
	
	--danh sach che do lam viec nhom ca den ngay
	SELECT * INTO #CDLV FROM CHE_DO_LAM_VIEC WHERE NGAY = (SELECT MAX(NGAY) FROM CHE_DO_LAM_VIEC 
	WHERE CONVERT(nvarchar(10),NGAY,101) <= CONVERT(nvarchar(10),@Ngay,101))	
	
	--danh sach so gio quy dinh lam viec theo nhom ca
	SELECT T1.ID_NHOM, T1.CA, T1.SP_QD, ROUND(T1.SP_QD/60,2) SG_QD INTO #QDGLV
	FROM (SELECT ID_NHOM, CA, SUM(SO_PHUT) SP_QD FROM #CDLV WHERE TANG_CA = 0 GROUP BY ID_NHOM, CA) T1
	
	--Tao table luu nhom ca lam viec cong nhan tong hop
    SELECT CDCC.ID_CN, CDCC.ID_NHOM, CDCC.CA INTO #DSCN_NC 
    FROM CHE_DO_CHAM_CONG_NHAN_VIEN CDCC INNER JOIN #CN CN ON CDCC.ID_CN = CN.ID_CN 
    WHERE CDCC.NGAY_AD = (SELECT MAX(NGAY_AD) FROM CHE_DO_CHAM_CONG_NHAN_VIEN 
    WHERE CONVERT(nvarchar(10),CDCC.NGAY_AD,101) <= CONVERT(nvarchar(10),@Ngay,101))	
    
    --Cap nhat nhom ca theo ke hoach di ca
    UPDATE #DSCN_NC SET ID_NHOM = T2.ID_NHOM, CA = T2.CA 
    FROM #DSCN_NC T1 INNER JOIN (SELECT ID_CN, ID_NHOM, CA FROM KE_HOACH_DI_CA 
    WHERE @Ngay BETWEEN TU_NGAY AND DEN_NGAY) T2 ON T1.ID_CN = T2.ID_CN    
    
	--xoa du lieu cu cua don vi, phong ban, to da tong hop du lieu
	DELETE FROM CHAM_CONG_CHI_TIET_VANG 
	FROM CHAM_CONG_CHI_TIET_VANG T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
	WHERE (CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),@Ngay,101))
	
	DELETE FROM CHAM_CONG_CHI_TIET 
	FROM CHAM_CONG_CHI_TIET T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
	WHERE (CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),@Ngay,101))
	
	DELETE FROM CHAM_CONG
	FROM CHAM_CONG T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
	WHERE (CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),@Ngay,101))

	DECLARE @LoaiGio Int
	IF @LB = 1 
		SET @LoaiGio = 0
	ELSE
		BEGIN
			IF DATENAME(DW,@Ngay) = 'Sunday'
				SET @LoaiGio = 1
			ELSE
				BEGIN
					IF [dbo].[fnKiemNgayNghi](@Ngay) = 1
						SET @LoaiGio = 2
					ELSE
						SET @LoaiGio = 0
				END
		END
		
	--Cap nhat cham cong
    INSERT INTO CHAM_CONG (NGAY, ID_CN, ID_TO, ID_NHOM, CA, SG_LV_QD) 
    SELECT @Ngay NGAY_CC, DSTH.ID_CN, DSTH.ID_TO, ISNULL(DSQT.ID_NHOM,DSNC.ID_NHOM) NHOM_CC, ISNULL(DSQT.CA,DSNC.CA) CA_CC, ISNULL(QDGLV.SG_QD,8) GQD_LV 
    FROM #CN DSTH LEFT JOIN (SELECT DISTINCT ID_CN, ID_NHOM, CA FROM #DLQT) DSQT ON DSTH.ID_CN = DSQT.ID_CN 
    LEFT JOIN #DSCN_NC DSNC ON DSTH.ID_CN = DSNC.ID_CN
    LEFT JOIN #QDGLV QDGLV ON DSQT.ID_NHOM = QDGLV.ID_NHOM AND DSQT.CA = QDGLV.CA
    
    --Tong hop thong tin quet the theo qui dinh gio lam viec chinh thuc
	INSERT INTO CHAM_CONG_CHI_TIET 
	(NGAY, ID_CN, ID_CDLV, ID_NHOM, CA, NGAY_DEN, NGAY_VE, PHUT_DEN, GIO_DEN, PHUT_VE, GIO_VE, SG_LV_TT, LOAI_GIO, TANG_CA, TC_DEM, CA_DEM, HE_SO)
	SELECT T1.NGAY, T1.ID_CN, T2.ID_CDLV, T1.ID_NHOM, T1.CA, T1.NGAY_DEN, T1.NGAY_VE,
	CASE WHEN T1.PHUT_DEN < (T2.PHUT_BD + ISNULL(T2.TRU_DAU_GIO,0)) THEN T2.PHUT_BD ELSE T1.PHUT_DEN END PBD,
	CASE WHEN T1.PHUT_DEN < (T2.PHUT_BD + ISNULL(T2.TRU_DAU_GIO,0)) THEN T2.GIO_BD ELSE T1.GIO_DEN END GBD,
	CASE WHEN T1.PHUT_VE > (T2.PHUT_KT - ISNULL(T2.TRU_CUOI_GIO,0)) THEN T2.PHUT_KT ELSE T1.PHUT_VE END PKT, 
	CASE WHEN T1.PHUT_VE > (T2.PHUT_KT - ISNULL(T2.TRU_CUOI_GIO,0)) THEN T2.GIO_KT ELSE T1.GIO_VE END GKT,   
	ROUND((CASE WHEN T1.PHUT_VE > (T2.PHUT_KT - ISNULL(T2.TRU_CUOI_GIO,0)) THEN T2.PHUT_KT ELSE T1.PHUT_VE END 
	- CASE WHEN T1.PHUT_DEN < (T2.PHUT_BD + ISNULL(T2.TRU_DAU_GIO,0)) THEN T2.PHUT_BD ELSE T1.PHUT_DEN END)/60,2) SG, 
	@LoaiGio LOAI_GIO, T2.TANG_CA, ISNULL(T2.TC_DEM,0), ISNULL(T2.CA_DEM,0), CASE @LoaiGio WHEN 0 THEN T2.HE_SO_NGAY_THUONG WHEN 1 THEN T2.HE_SO_NGAY_CN WHEN 2 THEN T2.HE_SO_NGAY_LE END HE_SO
	FROM #DLQT T1 INNER JOIN #CDLV T2 ON T1.ID_NHOM = T2.ID_NHOM AND T1.CA = T2.CA 
	WHERE T1.PHUT_DEN <> T1.PHUT_VE AND T1.PHUT_DEN < T2.PHUT_KT AND T1.PHUT_VE > T2.PHUT_BD AND T2.TANG_CA = 0

	--Tao table luu quy dinh tang ca cong nhan
    SELECT ID_CN, NGAY, ID_NHOM, CA, GIO_BD, GIO_KT, PHUT_BD, PHUT_KT, COM_CA 
    INTO #DKTC
    FROM DANG_KY_LAM_GIO_LAM_THEM 
    WHERE (CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),@Ngay,101))
        
    SELECT T1.ID_CN, T2.ID_CDLV,
	CASE WHEN T1.PHUT_BD >= T2.PHUT_BD THEN T1.GIO_BD ELSE T2.GIO_BD END GBD,
	CASE WHEN T1.PHUT_BD >= T2.PHUT_BD THEN T1.PHUT_BD ELSE T2.PHUT_BD END PBD,
	CASE WHEN T1.PHUT_KT >= T2.PHUT_KT THEN T2.GIO_KT ELSE T1.GIO_KT END GKT,
	CASE WHEN T1.PHUT_KT >= T2.PHUT_KT THEN T2.PHUT_KT ELSE T1.PHUT_KT END PKT
	INTO #DKTCTH
	FROM (
		SELECT ID_CN, ID_NHOM, CA, GIO_BD, GIO_KT, PHUT_BD, PHUT_KT  FROM #DKTC
	) T1 INNER JOIN (
		SELECT ID_CDLV, ID_NHOM, CA, GIO_BD, GIO_KT, PHUT_BD, PHUT_KT, TRU_DAU_GIO, TRU_CUOI_GIO FROM #CDLV 
		WHERE TANG_CA = 1 AND ISNULL(KIEM_TRA,0) = 1 
	) T2 ON T1.ID_NHOM = T2.ID_NHOM AND T1.CA = T2.CA
	WHERE  T1.PHUT_BD <= T2.PHUT_BD AND T1.PHUT_KT > T2.PHUT_BD

	--Tong hop tang ca co kiem tra va dang ky tang ca
	SELECT T1.NGAY, T1.ID_CN, T2.ID_CDLV, T1.ID_NHOM, T1.CA, T1.NGAY_DEN, T1.NGAY_VE,
	CASE WHEN T1.PHUT_DEN < T2.PBD THEN T2.GBD ELSE T1.GIO_DEN END GD_TC,
	CASE WHEN T1.PHUT_DEN < T2.PBD THEN T2.PBD ELSE T1.PHUT_DEN END PD_TC,
	CASE WHEN T1.PHUT_VE > T2.PKT THEN T2.GKT ELSE T1.GIO_VE END GV_TC,
	CASE WHEN T1.PHUT_VE > T2.PKT THEN T2.PKT ELSE T1.PHUT_VE END PV_TC,
	(CASE WHEN T1.PHUT_VE > T2.PKT THEN T2.PKT ELSE T1.PHUT_VE END - CASE WHEN T1.PHUT_DEN < T2.PBD THEN T2.PBD ELSE T1.PHUT_DEN END)/60 SG, 
	@LoaiGio LOAI_GIO, ISNULL(T3.TANG_CA,0) TC, ISNULL(T3.TC_DEM,0) TCD, ISNULL(T3.CA_DEM,0) CD, 
	CASE @LoaiGio WHEN 0 THEN T3.HE_SO_NGAY_THUONG WHEN 1 THEN T3.HE_SO_NGAY_CN WHEN 2 THEN T3.HE_SO_NGAY_LE END HE_SO
	INTO #THTC_KT
	FROM #DLQT T1 INNER JOIN #DKTCTH T2 ON T1.ID_CN = T2.ID_CN
	INNER JOIN #CDLV T3 ON T2.ID_CDLV = T3.ID_CDLV
	WHERE T1.PHUT_VE > T2.PBD
	
	IF @LamTron = 1 UPDATE #THTC_KT SET SG = FLOOR(SG) + dbo.funGetQuiGio(ROUND((SG - FLOOR(SG))*60,0))
	 
	INSERT INTO CHAM_CONG_CHI_TIET (NGAY, ID_CN, ID_CDLV, ID_NHOM, CA, PHUT_DEN, PHUT_VE, GIO_DEN, GIO_VE, NGAY_DEN, 
    NGAY_VE, SG_LV_TT, LOAI_GIO, TANG_CA, TC_DEM, CA_DEM, HE_SO)
    SELECT NGAY, ID_CN, ID_CDLV, ID_NHOM, CA, PD_TC, PV_TC, GD_TC, GV_TC, NGAY_DEN, NGAY_VE, SG, LOAI_GIO, TC, TCD, CD, HE_SO
    FROM #THTC_KT WHERE SG > 0
    
	--Tong hop tang ca tu do khong kiem tra
	SELECT T1.NGAY, T1.ID_CN, T2.ID_CDLV, T1.ID_NHOM, T1.CA, T1.NGAY_DEN, T1.NGAY_VE, 
	CASE WHEN T1.PHUT_DEN < T2.PHUT_BD THEN T2.GIO_BD ELSE T1.GIO_DEN END GD_TC,
	CASE WHEN T1.PHUT_DEN < T2.PHUT_BD THEN T2.PHUT_BD ELSE T1.PHUT_DEN END PD_TC,
	CASE WHEN T1.PHUT_VE > T2.PHUT_KT THEN T2.GIO_KT ELSE T1.GIO_VE END GV_TC,
	CASE WHEN T1.PHUT_VE > T2.PHUT_KT THEN T2.PHUT_KT ELSE T1.PHUT_VE END PV_TC,
	(CASE WHEN T1.PHUT_VE > T2.PHUT_KT THEN T2.PHUT_KT ELSE T1.PHUT_VE END - CASE WHEN T1.PHUT_DEN < T2.PHUT_BD THEN T2.PHUT_BD ELSE T1.PHUT_DEN END)/60 SG,
	@LoaiGio LOAI_GIO, ISNULL(T3.TANG_CA,0) TC, ISNULL(T3.TC_DEM,0) TCD, ISNULL(T3.CA_DEM,0) CD, 
	CASE @LoaiGio WHEN 0 THEN T3.HE_SO_NGAY_THUONG WHEN 1 THEN T3.HE_SO_NGAY_CN WHEN 2 THEN T3.HE_SO_NGAY_LE END HE_SO
	INTO #THTC
	FROM #DLQT T1 INNER JOIN (SELECT * FROM #CDLV WHERE TANG_CA = 1 AND ISNULL(KIEM_TRA,0) = 0) T2 
	ON T1.ID_NHOM = T2.ID_NHOM AND T1.CA = T2.CA
	INNER JOIN #CDLV T3 ON T2.ID_CDLV = T3.ID_CDLV
	WHERE T1.PHUT_VE > T2.PHUT_BD
	
	IF @LamTron = 1 UPDATE #THTC SET SG = FLOOR(SG) + dbo.funGetQuiGio(ROUND((SG - FLOOR(SG))*60,0)) 
	
	INSERT INTO CHAM_CONG_CHI_TIET (NGAY, ID_CN, ID_CDLV, ID_NHOM, CA, PHUT_DEN, PHUT_VE, GIO_DEN, GIO_VE, NGAY_DEN, 
    NGAY_VE, SG_LV_TT, LOAI_GIO, TANG_CA, TC_DEM, CA_DEM, HE_SO)
    SELECT NGAY, ID_CN, ID_CDLV, ID_NHOM, CA, PD_TC, PV_TC, GD_TC, GV_TC, NGAY_DEN, NGAY_VE, SG, LOAI_GIO, TC, TCD, CD, HE_SO
    FROM #THTC WHERE SG > 0
	
	IF @LoaiGio = 0 
		BEGIN
			--Tao table luu danh sach cong nhan quet the va so gio lam viec trong ngay
			SELECT T1.NGAY, T1.ID_CN, T1.ID_NHOM, T1.CA, ROUND(SUM(SG_LV_TT),2) GLV INTO #CN_GLV 
			FROM CHAM_CONG_CHI_TIET T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
			WHERE (CONVERT(nvarchar(10),T1.NGAY,101) = CONVERT(nvarchar(10),@Ngay,101)) AND T1.TANG_CA = 0 
			GROUP BY T1.NGAY, T1.ID_CN, T1.ID_NHOM, T1.CA
			
			--Tao table luu danh sach cong nhan vang va so gio vang trong ngay
			SELECT @Ngay NGAY, T1.ID_CN, (SELECT ID_LDV FROM LY_DO_VANG WHERE MS_LDV = 'O') ID_LDV, 
			ROUND(ISNULL(T3.SG_QD,0) - ISNULL(T4.GLV ,0),2) SGVANG, T3.SG_QD SG_QD 
			INTO #DSVANG 
			FROM #CN T1 INNER JOIN #DSCN_NC T2 ON T1.ID_CN = T2.ID_CN 
			INNER JOIN #QDGLV T3 ON T2.ID_NHOM = T3.ID_NHOM AND T2.CA = T3.CA 
			LEFT JOIN #CN_GLV T4 ON T1.ID_CN = T4.ID_CN 
			WHERE ISNULL(T3.SG_QD,0) - ISNULL(T4.GLV ,0) > 0
    
			UPDATE #DSVANG SET ID_LDV = (SELECT ID_LDV FROM LY_DO_VANG WHERE MS_LDV = 'Ro') WHERE SGVANG < (SG_QD/2)
			
			--Cap nhat ke hoach nghi phep ngay
			UPDATE #DSVANG SET ID_LDV = T2.ID_LDV FROM #DSVANG T1 INNER JOIN 
			(SELECT ID_CN, ID_LDV FROM KE_HOACH_NGHI_PHEP WHERE @Ngay BETWEEN TU_NGAY AND DEN_NGAY) T2 ON T1.ID_CN = T2.ID_CN
    
			INSERT INTO CHAM_CONG_CHI_TIET_VANG (NGAY, ID_CN, ID_LDV, SG_VANG) 
			SELECT NGAY, ID_CN, ID_LDV, SGVANG 
			FROM #DSVANG
		END
END  