ALTER PROCEDURE [dbo].[spUpdateViPhamQuetThe]
	@Ngay DATE = '2021-03-01',
	@sBT NVARCHAR(50) = 'VPQuetTheAdmin'
AS	
BEGIN
	DECLARE @sSql  NVARCHAR(4000)
	--Cap nhat vi pham gio den
	SET @sSql = 'UPDATE DU_LIEU_QUET_THE SET GIO_DEN = T3.GD, PHUT_DEN = T3.PD
		FROM DU_LIEU_QUET_THE T1 INNER JOIN (SELECT NGAY, ID_CN, MIN(PHUT_DEN) PD FROM DU_LIEU_QUET_THE 
		WHERE NGAY = ''' + CONVERT(nvarchar(10),@Ngay,101) + ''' GROUP BY NGAY, ID_CN) T2
		ON T1.NGAY = T2.NGAY AND T1.ID_CN = T2.ID_CN AND T1.PHUT_DEN = T2.PD
		INNER JOIN (SELECT ID_CN, GIO_DEN GD, (DATEPART(HH,GIO_DEN)*60)+DATEPART(MI,GIO_DEN) PD 
		FROM ' + @sBT + ' WHERE ISNULL(VP_GD,0) = 1) T3 ON T1.ID_CN = T3.ID_CN'
	EXEC(@sSql)
	--Cap nhat vi pham gio ve
	SET @sSql = 'UPDATE DU_LIEU_QUET_THE SET GIO_VE = T3.GV, PHUT_VE = T3.PV
		FROM DU_LIEU_QUET_THE T1 INNER JOIN (SELECT NGAY, ID_CN, MAX(PHUT_VE) PV FROM DU_LIEU_QUET_THE 
		WHERE NGAY = ''' + CONVERT(nvarchar(10),@Ngay,101) + ''' GROUP BY NGAY, ID_CN) T2
		ON T1.NGAY = T2.NGAY AND T1.ID_CN = T2.ID_CN AND T1.PHUT_VE = T2.PV
		INNER JOIN (SELECT ID_CN, GIO_VE GV, (DATEPART(HH,GIO_VE)*60)+DATEPART(MI,GIO_VE) PV 
		FROM ' + @sBT + ' WHERE ISNULL(VP_GV,0) = 1) T3 ON T1.ID_CN = T3.ID_CN'
	EXEC(@sSql)

END	

