ALTER PROCEDURE [dbo].[usp_InsertDLQT](
	@tableDLQT DLQT_NGAY readonly, 
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@ID_CN INT = -1,
	@Ngay Datetime = '08/23/2021'
)  
AS  
BEGIN 
	--DELETE FROM TEST_LINK
	--INSERT INTO TEST_LINK (MS_THE_CC, NGAY) 
	--SELECT MS_THE, NGAY 
	--FROM @tableDLQT 
	--WHERE CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),@Ngay,101)
	--OR (CONVERT(nvarchar(10),NGAY,101) = DATEADD(DAY,1,@Ngay))
	
	DELETE FROM DL_QT_NGAY 
    INSERT INTO DL_QT_NGAY 
    SELECT [MS_THE],[NGAY] FROM @tableDLQT 
    WHERE (CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),@Ngay,101))
		OR (CONVERT(nvarchar(10),NGAY,101) = DATEADD(DAY,1,@Ngay))
	
	--danh sach cong nhan toi ngay cham cong
	SELECT * INTO #CN FROM dbo.MGetListNhanSuToDate(@UName, @NNgu, @DVi, @XN, @TO, @Ngay)
	IF @ID_CN <> -1 DELETE FROM #CN WHERE ID_CN <> @ID_CN
		
	--danh sach cong nhan dang ky lam dem
	SELECT DISTINCT T1.ID_CN, 1 LDEM INTO #DKLD FROM DANG_KY_LAM_DEM T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN WHERE T1.NGAY = @Ngay
	
	--danh sach nhom ca co gio lam va tang ca qua ngay hom sau
	SELECT ID_NHOM, CA, 1 NHS INTO #CDLD FROM CHE_DO_LAM_VIEC WHERE ISNULL(NGAY_HOM_SAU,0) = 1
	
	--xoa du lieu cu cua don vi, phong ban, to da link du lieu
	DELETE FROM CHAM_CONG_CHI_TIET_VANG 
	FROM CHAM_CONG_CHI_TIET_VANG T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
	WHERE (CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),@Ngay,101))
	AND (T2.ID_DV = @DVi OR @DVi = -1) AND (T2.ID_XN = @XN OR @XN = -1 ) AND (T2.ID_TO =@TO OR @TO = -1)
	
	DELETE FROM CHAM_CONG_CHI_TIET 
	FROM CHAM_CONG_CHI_TIET T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
	WHERE (CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),@Ngay,101))
	AND (T2.ID_DV = @DVi OR @DVi = -1) AND (T2.ID_XN = @XN OR @XN = -1 ) AND (T2.ID_TO =@TO OR @TO = -1)
	
	DELETE FROM CHAM_CONG
	FROM CHAM_CONG T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
	WHERE (CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),@Ngay,101))
	AND (T2.ID_DV = @DVi OR @DVi = -1) AND (T2.ID_XN = @XN OR @XN = -1 ) AND (T2.ID_TO =@TO OR @TO = -1)

	DELETE FROM DU_LIEU_QUET_THE
	FROM DU_LIEU_QUET_THE T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
	WHERE (CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),@Ngay,101))
	AND (T2.ID_DV = @DVi OR @DVi = -1) AND (T2.ID_XN = @XN OR @XN = -1 ) AND (T2.ID_TO =@TO OR @TO = -1)
	
	--tao table danh sach quet the ngay
	SELECT T1.ID_CN, T1.MS_THE_CC, T3.ID_NHOM, T3.CA, T2.NGAY, (DATEPART(HH,NGAY)*60) + DATEPART(MI,NGAY) PHUT, 
	CONVERT(Int,0) CODE_VAO_RA, CONVERT(Int,0) SO_CAP_GIO, ISNULL(T4.LDEM,0) DKLD, ISNULL(T5.NHS,0) NHS  
	INTO #DLQT 
	FROM #CN T1 INNER JOIN DL_QT_NGAY T2 ON T1.MS_THE_CC = T2.MS_THE
	LEFT JOIN (SELECT ID_CN, ID_NHOM, CA FROM CHE_DO_CHAM_CONG_NHAN_VIEN 
	WHERE NGAY_AD = (SELECT MAX(NGAY_AD) MNGAY FROM CHE_DO_CHAM_CONG_NHAN_VIEN WHERE NGAY_AD <= @Ngay)) T3 ON T1.ID_CN = T3.ID_CN
	LEFT JOIN #DKLD T4 ON T1.ID_CN = T4.ID_CN
	LEFT JOIN #CDLD T5 ON T3.ID_NHOM = T5.ID_NHOM AND T3.CA = T5.CA
	
	--Cap nhap ms nhom va ca theo ke hoach KE_HOACH_DI_CA
	UPDATE #DLQT SET ID_NHOM = B.ID_NHOM, CA = B.CA 
	FROM #DLQT A INNER JOIN (SELECT ID_CN, ID_NHOM, CA FROM KE_HOACH_DI_CA WHERE @Ngay BETWEEN TU_NGAY AND DEN_NGAY) B ON A.ID_CN = B.ID_CN

	--xoa du lieu ngay hom sau neu khong dang ky lam dem va lam nhom, ca khong dang ky ngay hom sau
	DELETE FROM #DLQT 
	WHERE CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),DATEADD(DAY,1,@Ngay),101) AND DKLD = 0 AND NHS = 0

	--xoa du lieu quet the nhieu trong vong 10p
	DECLARE @CN Int
	DECLARE @NG Datetime
	DECLARE @Phut Int
	DECLARE @PhutQuet Int
	DECLARE @IDCN Int
	DECLARE @CodeVR Int
	DECLARE @SoCapGio Int

	DECLARE @PhutNhieu Int
	DECLARE @PhutXoa Int

	SET @PhutNhieu = 10
	SET @PhutXoa = 1680
	SET @PhutQuet = 0
	SET @IDCN = 0
	SET @CodeVR = 0
	SET @SoCapGio = 1

	DECLARE cur CURSOR FOR
		SELECT ID_CN, NGAY, PHUT FROM #DLQT ORDER BY ID_CN, NGAY
	OPEN cur 
	FETCH NEXT FROM cur INTO @CN, @NG, @Phut
		WHILE @@fetch_status=0
		BEGIN
			IF @IDCN <> @CN
				BEGIN
					SET @PhutQuet = @Phut
					SET @IDCN = @CN
					UPDATE #DLQT SET CODE_VAO_RA = 0, SO_CAP_GIO = 1 WHERE ID_CN = @CN AND NGAY = @NG
					SET @CodeVR = 1
					SET @SoCapGio = 1
				END
			ELSE
				BEGIN
					IF (@Phut - @PhutQuet >= 0) AND (@Phut - @PhutQuet <= @PhutNhieu)
						BEGIN
							DELETE FROM #DLQT WHERE ID_CN = @CN AND NGAY = @NG
						END
					ELSE
						BEGIN
							UPDATE #DLQT SET CODE_VAO_RA = @CodeVR, SO_CAP_GIO = @SoCapGio WHERE ID_CN = @IDCN AND NGAY = @NG
							SET @SoCapGio = @SoCapGio + @CodeVR
							IF @CodeVR = 1 
								SET @CodeVR = 0
							ELSE
								SET @CodeVR = 1
						END
				END
			SET @PhutQuet = @Phut
			FETCH NEXT FROM cur INTO @CN, @NG, @Phut
		END
	CLOSE cur
	DEALLOCATE cur

	--xoa du lieu quet the cua cong nhan lam dem ngay hom truoc
	DELETE FROM #DLQT
	FROM #DLQT T1 INNER JOIN (SELECT ID_CN, MIN(PHUT_DEN) PD, MAX(PHUT_VE) PV FROM DU_LIEU_QUET_THE WHERE NGAY = DATEADD(DAY,-1,@Ngay) GROUP BY ID_CN) T2
	ON T1.ID_CN = T2.ID_CN
	WHERE (PHUT + 1440) BETWEEN T2.PD AND T2.PV

	--xoa du lieu quet the cua cong nhan vao lam ngay hom sau
	DELETE FROM #DLQT WHERE PHUT > @PhutXoa 

	--xoa du lieu cu cua cong nhan link du lieu moi
	DELETE FROM CHAM_CONG_CHI_TIET_VANG 
	FROM CHAM_CONG_CHI_TIET_VANG T1 INNER JOIN (SELECT DISTINCT ID_CN FROM #DLQT) T2 ON T1.ID_CN = T2.ID_CN 
	WHERE (CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),@Ngay,101))
	
	DELETE FROM CHAM_CONG_CHI_TIET 
	FROM CHAM_CONG_CHI_TIET T1 INNER JOIN (SELECT DISTINCT ID_CN FROM #DLQT) T2 ON T1.ID_CN = T2.ID_CN 
	WHERE (CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),@Ngay,101))
	
	DELETE FROM CHAM_CONG
	FROM CHAM_CONG T1 INNER JOIN (SELECT DISTINCT ID_CN FROM #DLQT) T2 ON T1.ID_CN = T2.ID_CN 
	WHERE (CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),@Ngay,101))

	DELETE FROM DU_LIEU_QUET_THE
	FROM DU_LIEU_QUET_THE T1 INNER JOIN (SELECT DISTINCT ID_CN FROM #DLQT) T2 ON T1.ID_CN = T2.ID_CN 
	WHERE (CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),@Ngay,101))
	
	INSERT INTO DU_LIEU_QUET_THE (ID_CN, NGAY, ID_NHOM, CA, NGAY_DEN, GIO_DEN, PHUT_DEN, NGAY_VE, GIO_VE, PHUT_VE, CHINH_SUA)
	SELECT T1.ID_CN, @Ngay NGAY, T1.ID_NHOM, T1.CA, T1.NGAY_DEN, T1.GIO_DEN, T1.PHUT_DEN, T2.NGAY_VE, T2.GIO_VE, T2.PHUT_VE, 0 CS
	FROM (SELECT ID_CN, ID_NHOM, CA, SO_CAP_GIO, CONVERT(date,NGAY) NGAY_DEN, CONVERT(nvarchar(10),NGAY,108) GIO_DEN, PHUT PHUT_DEN  
	FROM #DLQT WHERE CODE_VAO_RA = 0) T1 LEFT JOIN (
	SELECT ID_CN, SO_CAP_GIO, CONVERT(date,NGAY) NGAY_VE, CONVERT(nvarchar(10),NGAY,108) GIO_VE, PHUT PHUT_VE  
	FROM #DLQT WHERE CODE_VAO_RA = 1) T2 ON T1.ID_CN = T2.ID_CN AND T1.SO_CAP_GIO = T2.SO_CAP_GIO
	
	UPDATE DU_LIEU_QUET_THE SET GIO_VE = GIO_DEN, NGAY_VE = NGAY_DEN, PHUT_VE = PHUT_DEN WHERE ISNULL(GIO_VE,'') = '' 
	AND (CONVERT(nvarchar(10),NGAY,101) = CONVERT(nvarchar(10),@Ngay,101))
END  