ALTER PROCEDURE [dbo].[rptBCKeHoachNghiPhep]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@ID_CN Bigint =- 1,
	@ID_LDV INT = -1,
	@TNgay Date ='2021/09/01',
	@DNgay Date='2021/09/30',
	@Loai Int = 1
AS 
BEGIN
 
	SELECT * INTO #CN FROM dbo.MGetListNhanSuFormToDate(@UName,@NNgu, @DVi, @XN, @TO, @TNGAY, @DNGAY)
	
	IF @Loai = 0 
		BEGIN
			SELECT CN.ID_CN, CN.MS_CN, CN.HO_TEN, CN.TEN_XN, CN.TEN_TO, CASE WHEN KHNP.TU_NGAY < @TNgay THEN @TNgay ELSE KHNP.TU_NGAY END TU_NGAY, 
			CASE WHEN KHNP.DEN_NGAY > @DNgay THEN @DNgay ELSE KHNP.DEN_NGAY END DEN_NGAY, KHNP.NGAY_VAO_LAM_LAI,
			[dbo].[fnGetSoNgayTruChuNhat](CASE WHEN KHNP.TU_NGAY < @TNgay THEN @TNgay ELSE KHNP.TU_NGAY END, CASE WHEN KHNP.DEN_NGAY > @DNgay THEN @DNgay ELSE KHNP.DEN_NGAY END) SN, 
			CASE @NNgu WHEN 0 THEN LDV.TEN_LDV WHEN 1 THEN LDV.TEN_LDV_A ELSE LDV.TEN_LDV_H END LY_DO
			FROM KE_HOACH_NGHI_PHEP KHNP INNER JOIN #CN CN ON KHNP.ID_CN = CN.ID_CN
			INNER JOIN LY_DO_VANG LDV ON KHNP.ID_LDV = LDV.ID_LDV
			WHERE (CN.ID_CN = @ID_CN OR @ID_CN = -1) AND (LDV.ID_LDV = @ID_LDV OR @ID_LDV = -1)
			AND ((KHNP.TU_NGAY BETWEEN @TNgay AND @DNgay) OR (KHNP.DEN_NGAY BETWEEN @TNgay AND @DNgay) OR (KHNP.TU_NGAY < @TNgay AND KHNP.DEN_NGAY > @DNgay))
			ORDER BY CN.STT_XN, CN.STT_TO, CN.MS_CN					
		END
	ELSE
		BEGIN
			SELECT CN.ID_CN, CN.MS_CN, CN.HO_TEN, CN.TEN_XN, CN.TEN_TO, CASE WHEN KHNP.TU_NGAY < @TNgay THEN @TNgay ELSE KHNP.TU_NGAY END TU_NGAY, 
			CASE WHEN KHNP.DEN_NGAY > @DNgay THEN @DNgay ELSE KHNP.DEN_NGAY END DEN_NGAY, KHNP.NGAY_VAO_LAM_LAI,
			[dbo].[fnGetSoNgayTruChuNhat](CASE WHEN KHNP.TU_NGAY < @TNgay THEN @TNgay ELSE KHNP.TU_NGAY END, CASE WHEN KHNP.DEN_NGAY > @DNgay THEN @DNgay ELSE KHNP.DEN_NGAY END) SN, 
			CASE @NNgu WHEN 0 THEN LDV.TEN_LDV WHEN 1 THEN LDV.TEN_LDV_A ELSE LDV.TEN_LDV_H END LY_DO
			FROM KE_HOACH_NGHI_PHEP KHNP INNER JOIN #CN CN ON KHNP.ID_CN = CN.ID_CN
			INNER JOIN LY_DO_VANG LDV ON KHNP.ID_LDV = LDV.ID_LDV
			WHERE (CN.ID_CN = @ID_CN OR @ID_CN = -1) AND (LDV.ID_LDV = @ID_LDV OR @ID_LDV = -1)
			AND (KHNP.NGAY_VAO_LAM_LAI BETWEEN @TNgay AND @DNgay)
			ORDER BY CN.STT_XN, CN.STT_TO, CN.MS_CN	
		END
END


