ALTER PROCEDURE [dbo].[rptKeHoachDaoTao]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@ID_KDT INT = -1
AS
BEGIN
  
	SELECT * INTO #PB FROM dbo.MGetToUser(@UName,@NNgu)
    
    SELECT T1.TEN_KHOA_DT, T1.TIN_CHI, T1.NGAY_BD,T1.NGAY_KT, T1.GIO_BD, T1.GIO_KT, T1.LINH_VUC_DT, T1.HINH_THUC_DT, T1.TRUONG_DT, T1.GIAO_VIEN, T1.DIA_DIEM,
    T2.ID_CN, T3.MS_CN, T3.HO + ' ' + T3.TEN HO_TEN, PB.TEN_TO, PB.STT_TO, PB.TEN_XN, PB.STT_XN, T2.HOC_PHI_CTY, T2.HOC_PHI_NV, T2.KET_QUA, T2.DANH_GIA
    FROM KHOA_DAO_TAO T1 LEFT JOIN KE_HOACH_DAO_TAO T2 ON T1.ID_KDT = T2.ID_KDT
    LEFT JOIN CONG_NHAN T3 ON T2.ID_CN = T3.ID_CN 
    LEFT JOIN #PB PB ON T3.ID_TO = PB.ID_TO
	WHERE T1.ID_KDT = @ID_KDT 
	ORDER BY PB.STT_XN, PB.STT_TO, T3.MS_CN
END