ALTER PROCEDURE [dbo].[rptQuyetDinhThoiViec]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@ID_SQD INT = 13
AS 
BEGIN
	SELECT * INTO #PB FROM dbo.MGetToUser(@UName,@NNgu)

	SELECT PB.TEN_DV, QDTV.SO_QD, QDTV.NGAY_KY, CN.HO + ' ' + CN.TEN HO_TEN, CN.NGAY_SINH, CN.DIA_CHI_THUONG_TRU,
	CN.MS_CN, CN.ID_CV, CV.TEN_CV, PB.TEN_TO, QDTV.NGAY_THOI_VIEC, LDTV.TEN_LD_TV LY_DO, NKGT.CHUC_VU CV_NK, NKGT.HO_TEN HO_TEN_NK
	FROM QUYET_DINH_THOI_VIEC QDTV INNER JOIN CONG_NHAN CN ON QDTV.ID_CN = CN.ID_CN
	INNER JOIN #PB PB ON CN.ID_TO = PB.ID_TO
	INNER JOIN CHUC_VU CV ON CV.ID_CV = CN.ID_CV
	INNER JOIN LY_DO_THOI_VIEC LDTV ON QDTV.ID_LD_TV = LDTV.ID_LD_TV
	LEFT JOIN NGUOI_KY_GIAY_TO NKGT ON NKGT.ID_NK = QDTV.ID_NK
	WHERE ID_QDTV = @ID_SQD
END


