CREATE PROCEDURE [dbo].[spDeleteHopDong]
    @ID_HDLD BIGINT,
    @ID_CN BIGINT 
AS
    BEGIN
		DELETE FROM HOP_DONG_LAO_DONG WHERE ID_HDLD = @ID_HDLD   
		-- cập nhật lại loai hợp đồng lao động
		UPDATE CONG_NHAN SET ID_LHDLD = LHD.ID_LHDLD
		FROM CONG_NHAN CN LEFT JOIN (SELECT ID_CN, ID_LHDLD FROM HOP_DONG_LAO_DONG 
		WHERE NGAY_BAT_DAU_HD = (SELECT MAX(NGAY_BAT_DAU_HD) FROM HOP_DONG_LAO_DONG WHERE ID_CN = @ID_CN) AND ID_CN = @ID_CN) LHD ON CN.ID_CN = LHD.ID_CN
    END	

