ALTER PROCEDURE [dbo].[spGetCongNhanQDTV]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
	@TNgay Date = '20210101',
	@DNgay Date = '20211231',
	@Loai INT = 1
AS
BEGIN
	SELECT * INTO #CN FROM dbo.MGetListNhanSuFormToDate(@UName,@NNgu, @ID_DV, @ID_XN, @ID_TO, @TNgay, @DNgay)
	
	IF @Loai = 0
		BEGIN
			SELECT QDTV.ID_CN, QDTV.ID_QDTV, CN.MS_CN, CN.HO_TEN, QDTV.SO_QD, QDTV.NGAY_KY, QDTV.NGAY_THOI_VIEC,
			QDTV.ID_LD_TV, CASE @NNgu WHEN 0 THEN LDTV.TEN_LD_TV WHEN 1 THEN ISNULL(NULLIF(LDTV.TEN_LD_TV_A,''),LDTV.TEN_LD_TV) 
			ELSE ISNULL(NULLIF(LDTV.TEN_LD_TV_H,''),LDTV.TEN_LD_TV) END AS TEN_LD_TV, 1 TinhTrang
			FROM QUYET_DINH_THOI_VIEC QDTV INNER JOIN #CN CN ON QDTV.ID_CN = CN.ID_CN
			INNER JOIN LY_DO_THOI_VIEC LDTV ON QDTV.ID_LD_TV = LDTV.ID_LD_TV
			WHERE QDTV.NGAY_THOI_VIEC BETWEEN @TNgay AND @DNgay 
			ORDER BY CN.STT_XN, CN.STT_TO, CN.MS_CN
		END
	ELSE
		BEGIN
			SELECT CN.ID_CN, QDTV.ID_QDTV, CN.MS_CN, CN.HO_TEN, QDTV.SO_QD, QDTV.NGAY_KY, QDTV.NGAY_THOI_VIEC,
			QDTV.ID_LD_TV, CASE @NNgu WHEN 0 THEN LDTV.TEN_LD_TV WHEN 1 THEN ISNULL(NULLIF(LDTV.TEN_LD_TV_A,''),LDTV.TEN_LD_TV) 
			ELSE ISNULL(NULLIF(LDTV.TEN_LD_TV_H,''),LDTV.TEN_LD_TV) END AS TEN_LD_TV, 
			CASE WHEN ISNULL(CN.NGAY_NGHI_VIEC,'') = '' THEN 1 ELSE 0 END TinhTrang
			FROM #CN CN LEFT JOIN QUYET_DINH_THOI_VIEC QDTV ON QDTV.ID_CN = CN.ID_CN
			LEFT JOIN LY_DO_THOI_VIEC LDTV ON QDTV.ID_LD_TV = LDTV.ID_LD_TV
			WHERE (CN.NGAY_NGHI_VIEC BETWEEN @TNgay AND @DNgay) OR ISNULL(NGAY_NGHI_VIEC,'') = ''
			ORDER BY CN.STT_XN, CN.STT_TO, CN.MS_CN
		END
END


