ALTER PROCEDURE [dbo].[spGetListHopDong]
	@ID_CN BIGINT =303,
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
SELECT
	A.ID_HDLD,
	SO_HDLD ,
	STT_HDLD ,
	A.ID_LHDLD ,
	CASE @NNgu WHEN 0 THEN B.TEN_LHDLD WHEN 1 THEN ISNULL(NULLIF(B.TEN_LHDLD_A,''),B.TEN_LHDLD) ELSE ISNULL(NULLIF(B.TEN_LHDLD_H,''),B.TEN_LHDLD) END AS TEN_LHDLD,
	NGAY_BAT_DAU_HD ,
	NGAY_HET_HD ,
	NGAY_KY ,
	HD_GIA_HAN ,
	NGAY_BD_THU_VIEC ,
	NGAY_KT_THU_VIEC ,
	LUONG_THU_VIEC ,
	BAC_LUONG ,
	ISNULL(MUC_LUONG_CHINH,0) MUC_LUONG_CHINH ,
	ISNULL(CHI_SO_PHU_CAP,0) CHI_SO_PHU_CAP ,
	ISNULL(MUC_LUONG_THUC_LINH,0) MUC_LUONG_THUC_LINH ,
	DIA_DIEM_LAM_VIEC ,
	PHUONG_TIEN ,
	DIA_CHI_NOI_LAM_VIEC ,
	PHU_CAP ,
	CONG_VIEC ,
	ID_CV ,
	CHE_DO_LAM_VIEC ,
	LAN_TRA_LUONG ,
	DCLD ,
	BHLD ,
	CHE_DO_DAO_TAO ,
	SO_NGAY_PHEP ,
	HINH_THUC_TRA_LUONG ,
	NGUOI_KY_GIA_HAN ,
	CHE_DO_NANG_LUONG ,
	KHOAN_KHAC
FROM dbo.HOP_DONG_LAO_DONG A
INNER JOIN dbo.LOAI_HDLD B ON B.ID_LHDLD = A.ID_LHDLD
WHERE A.ID_CN =@ID_CN
ORDER BY A.NGUOI_QLY_TTIEP DESC;
END


