ALTER PROCEDURE [dbo].[spGetThamGiaBHXH]
	@ID_CN INT = 303
AS 
BEGIN
SELECT DISTINCT A.ID_CN,( SELECT dbo.ConvertMonth(ISNULL(A.NGAY_DBHXH,C.NGAY_HIEU_LUC))) AS TU_THANG,
        ( SELECT    dbo.ConvertMonth(C.NGAY_HIEU_LUC)) AS DEN_THANG,0 AS NAM_DONG, 0 AS THANG_DONG,
        C.HS_LUONG AS MUC_LUONG_DONG,C.NGAY_HIEU_LUC, D.TEN_LCV AS TEN_CV
		,TV.SO_QD
,TV.NGAY_THOI_VIEC
FROM    dbo.CONG_NHAN A
        LEFT JOIN dbo.HOP_DONG_LAO_DONG B ON B.ID_CN = A.ID_CN
        INNER JOIN dbo.LUONG_CO_BAN C ON C.ID_CN = A.ID_CN 
		AND C.NGAY_HIEU_LUC <= DATEADD(dd,-(DAY(GETDATE())),GETDATE())--ngày cuối tháng gần nhất
		LEFT JOIN dbo.LOAI_CONG_VIEC D ON D.ID_LCV = C.ID_CV
		LEFT JOIN dbo.QUYET_DINH_THOI_VIEC TV ON TV.ID_CN = A.ID_CN
WHERE   (A.ID_CN = @ID_CN OR @ID_CN = -1)
ORDER BY ID_CN, NGAY_HIEU_LUC
END