ALTER PROCEDURE [dbo].[spGetListKeHoachDaoTao]
	@ID_KDT INT =12,
	@ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@MS_ND_DANH_GIA INT =2,
	@Diem FLOAT	 =8,
	@Them BIT= 1
AS 
BEGIN
	SELECT A.ID_CN, A.MS_CN, A.HO +' '+TEN AS 'TEN_CN' INTO #TEMPT FROM dbo.CONG_NHAN A
	INNER JOIN (SELECT  ID_TO,ID_DV,ID_XN   FROM dbo.MGetToUser(@UName,@NNgu) 
	WHERE (ID_DV =@ID_DV OR @ID_DV =-1) AND (ID_XN =@ID_XN OR @ID_XN = -1 )) B ON B.ID_TO = A.ID_TO


	SELECT CONVERT(BIT,0) AS CHON, A.ID_KDT, B.ID_CN, B.MS_CN, HO +' '+B.TEN AS 'TEN_CN',A.HOC_PHI_CTY,A.HOC_PHI_NV,A.DIEM,A.KET_QUA AS ID_KQ,A.DANH_GIA 
	INTO #TEMP
	FROM dbo.KE_HOACH_DAO_TAO A
	INNER JOIN dbo.CONG_NHAN B ON B.ID_CN = A.ID_CN
	WHERE A.ID_KDT  =@ID_KDT
	
IF @Them = 0
	SELECT * FROM #TEMP ORDER BY MS_CN
ELSE
	BEGIN
		IF @MS_ND_DANH_GIA = -1
			SELECT CASE WHEN ISNULL(A.ID_KDT,'') <>'' THEN CONVERT(BIT,1) ELSE CONVERT(BIT,0) END AS CHON,A.ID_KDT,B.ID_CN,B.MS_CN,B.TEN_CN,A.HOC_PHI_CTY,A.HOC_PHI_NV,A.DIEM,A.ID_KQ,A.DANH_GIA 
			FROM #TEMP A
			RIGHT JOIN #TEMPT B ON B.ID_CN = A.ID_CN ORDER BY CHON DESC, MS_CN
		ELSE
			BEGIN
				SELECT CASE WHEN ISNULL(A.ID_KDT,'') <>'' THEN CONVERT(BIT,1) ELSE CONVERT(BIT,0) END AS CHON,A.ID_KDT,B.ID_CN,B.MS_CN, B.TEN_CN,A.HOC_PHI_CTY,A.HOC_PHI_NV,A.DIEM,A.ID_KQ,A.DANH_GIA 
				FROM #TEMP A
				RIGHT JOIN (SELECT ID_CN, MS_CN, TEN_CN FROM #TEMP 
				UNION 
				SELECT DISTINCT BDG.ID_CN, CN.MS_CN, CN.HO + ' ' + CN.TEN TEN_CN FROM BANG_DANH_GIA  BDG INNER JOIN BANG_DANH_GIA_CHI_TIET BDGCT 
				ON BDG.ID_DG = BDGCT.ID_DG INNER JOIN CONG_NHAN CN ON BDG.ID_CN = CN.ID_CN 
				WHERE (BDGCT.DIEM = @DIEM OR @Diem = 0) AND (BDGCT.ID_NDDG = @MS_ND_DANH_GIA)) B ON B.ID_CN = A.ID_CN
				ORDER BY CHON DESC, B.MS_CN	
			END
	END
END 


