ALTER PROCEDURE [dbo].[spGetListKhoaDaoTao]
	@TU_NGAY DATE = '20210101',
	@DEN_NGAY DATE = '20211231'
AS
BEGIN
	SELECT * FROM dbo.KHOA_DAO_TAO 
	WHERE (NGAY_BD BETWEEN @TU_NGAY AND @DEN_NGAY) OR (NGAY_KT BETWEEN @TU_NGAY AND @DEN_NGAY)
	ORDER BY NGAY_BD DESC
END