ALTER PROCEDURE [dbo].[spGetListBangCap]
	@ID_CN BIGINT =24,
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
SELECT A.ID_BC, SO_HIEU_BANG,NOI_HOC,NGANH_DAO_TAO,A.HT_DAO_TAO,
 CASE @NNgu WHEN 0 THEN B.TEN_LOAI_TD WHEN 1 THEN ISNULL(NULLIF(B.TEN_LOAI_TD_A,''),B.TEN_LOAI_TD) ELSE ISNULL(NULLIF(B.TEN_LOAI_TD_H,''),B.TEN_LOAI_TD) END AS TEN_LOAI_TD,
 NGAY_BD,NGAY_KT,A.TEN_BANG,A.XEP_LOAI,A.NGUOI_KY,A.NOI_CAP,A.GHI_CHU,A.NGAY_KY,A.ID_LOAI_TD 
 FROM dbo.BANG_CAP A
LEFT JOIN dbo.LOAI_TRINH_DO B ON B.ID_LOAI_TD = A.ID_LOAI_TD
WHERE ID_CN =@ID_CN
ORDER BY NGAY_BD DESC
END

