ALTER PROCEDURE [dbo].[spGetListTroCapBHXH]
	@Thang DateTime = '2021-04-01' ,
	@Dot INT =1,
	@Username NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
	SELECT A.ID_TC_BHXH, A.ID_CN, B.MS_CN, A.ID_LDV, A.ID_HTNTC, C.PHAN_TRAM_TRO_CAP, A.NGHI_TU_NGAY, A.NGHI_DEN_NGAY, 
	A.SO_NGAY_NGHI,	(SELECT ISNULL(dbo.fnGetSoGioLuyKe(A.NGHI_TU_NGAY,A.ID_CN,ID_TC_BHXH),0) +
	ISNULL(A.SO_NGAY_NGHI,0) ) AS SO_NGAYLK, A.SO_CON_SINH, A.HS_LUONG, A.SO_TIEN_TC,
	A.THONG_TIN_TK,	A.CHI_TIEU_XAC_DINH, A.LAN_TS, A.LUONG_CB
	FROM TRO_CAP_BHXH A
	INNER JOIN dbo.CONG_NHAN B ON B.ID_CN = A.ID_CN
	INNER JOIN dbo.LY_DO_VANG C ON C.ID_LDV = A.ID_LDV
	WHERE A.THANG = @Thang AND A.DOT =@Dot
	ORDER BY B.MS_CN
END
