ALTER PROCEDURE [dbo].[spGetCongNhanBHYT]
	@ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
SELECT ID_TO,ID_DV,ID_XN INTO #TEMPT  FROM dbo.MGetToUser(@UName,@NNgu) WHERE (ID_DV =@ID_DV OR @ID_DV =-1) AND (ID_XN =@ID_XN OR @ID_XN = -1 )

SELECT 
C.ID_BHYT,A.ID_CN,A.MS_CN,A.HO + ' ' + A.TEN AS HO_TEN, C.SO_THE,C.ID_TP,C.ID_BV,c.NGAY_HET_HAN
  FROM dbo.CONG_NHAN A
INNER JOIN #TEMPT B ON B.ID_TO = A.ID_TO
LEFT JOIN dbo.BAO_HIEM_Y_TE C ON C.ID_CN = A.ID_CN
WHERE A.ID_TO = @ID_TO OR @ID_TO = -1
END




