ALTER PROCEDURE [dbo].[spGetCongNhanTheoTT]
	@ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@ADD BIT = 1
AS
BEGIN
	SELECT ID_TO,ID_DV,ID_XN INTO #TEMPT  FROM dbo.MGetToUser(@UName,@NNgu) WHERE (ID_DV =@ID_DV OR @ID_DV =-1) AND (ID_XN =@ID_XN OR @ID_XN = -1 )
	IF @ADD=0
		SELECT DISTINCT A.ID_CN,MS_CN,HO + ' '+A.TEN AS HO_TEN,
		CASE
			WHEN A.NGAY_NGHI_VIEC IS NULL OR A.NGAY_NGHI_VIEC > GETDATE() THEN 1
			ELSE 0
		END
		AS TINH_TRANG
		FROM dbo.CONG_NHAN A
		INNER JOIN #TEMPT B ON B.ID_TO = A.ID_TO
		INNER JOIN DS_CN_TAM_NGUNG_BHXH DS ON A.ID_CN=DS.ID_CN
		WHERE A.ID_TO = @ID_TO OR @ID_TO = -1
	ELSE
		SELECT A.ID_CN,MS_CN,HO + ' '+A.TEN AS HO_TEN,
		CASE
			WHEN A.NGAY_NGHI_VIEC IS NULL OR A.NGAY_NGHI_VIEC > GETDATE() THEN 1
			ELSE 0
		END
		AS TINH_TRANG
		FROM dbo.CONG_NHAN A
		INNER JOIN #TEMPT B ON B.ID_TO = A.ID_TO
		WHERE A.ID_TO = @ID_TO OR @ID_TO = -1
		ORDER BY MS_CN
END
