ALTER PROCEDURE [dbo].[spGetListPhuLucHopDong]
	@ID_HDLD BIGINT =24,
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
SELECT SO_PLHD,NOI_DUNG_THAY_DOI,THOI_GIAN_THUC_HIEN,NGAY_KY,NGUOI_KY,GHI_CHU,B.HO_TEN,
CASE @NNgu WHEN 0 THEN B.CHUC_VU WHEN 1 THEN ISNULL(NULLIF(B.CHUC_VU_A,''),B.CHUC_VU) ELSE B.CHUC_VU END  AS TEN_CV
FROM dbo.PHU_LUC_HDLD A
INNER JOIN dbo.NGUOI_KY_GIAY_TO B ON A.NGUOI_KY = b.ID_NK
WHERE ID_HDLD =  @ID_HDLD
END





