ALTER PROCEDURE [dbo].[spGetCongNhanBHXH]
	@ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
SELECT  ID_TO,ID_DV,ID_XN INTO #TEMPT  FROM dbo.MGetToUser(@UName,@NNgu) WHERE (ID_DV =@ID_DV OR @ID_DV =-1) AND (ID_XN =@ID_XN OR @ID_XN = -1 )

	SELECT DISTINCT A.ID_CN,MS_CN,HO + ' '+A.TEN AS HO_TEN,
	CASE
		WHEN A.NGAY_NGHI_VIEC IS NULL OR A.NGAY_NGHI_VIEC > GETDATE() THEN 1
		ELSE 0
	END
	AS TINH_TRANG
	  FROM dbo.CONG_NHAN A
	INNER JOIN #TEMPT B ON B.ID_TO = A.ID_TO
	WHERE A.ID_TO = @ID_TO OR @ID_TO = -1
	ORDER BY MS_CN ASC

END
