ALTER PROCEDURE [dbo].[spGetListCapNhatLCB]  
	@ID_DV BIGINT =-1,
	@ID_XN BIGINT =-1,
	@ID_TO BIGINT =-1,
	@ID_NL BIGINT= -1,
	@ID_BL BIGINT= -1,
	@THEO_LUONG BIT = 0,
	@LUONG_TU FLOAT = 0,
	@LUONG_DEN FLOAT = 10,
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  

	SELECT ID_TO,ID_DV,ID_XN INTO #TEMPT  FROM dbo.MGetToUser(@UName,@NNgu) WHERE (ID_DV =@ID_DV OR @ID_DV =-1) AND (ID_XN =@ID_XN OR @ID_XN = -1 )
	SELECT  CONVERT(BIT,0) AS CHON,
	A.ID_CN,
	E.MS_CN,
	A.ID_LCB,
	A.SO_QUYET_DINH,
	A.NGAY_HIEU_LUC ,
	A.ID_NL,
	CASE @NNgu WHEN 0 THEN C.TEN_NL WHEN 1 THEN ISNULL(NULLIF(C.TEN_NL_A,''),C.TEN_NL) ELSE ISNULL(NULLIF(C.TEN_NL_H,''),C.TEN_NL) END AS TEN_NL,
	A.ID_BL,
	D.TEN_BL,
	A.LUONG_CO_BAN,
	A.PC_DOC_HAI,A.PC_SINH_HOAT,
	A.THUONG_CHUYEN_CAN,
	A.PC_KY_NANG,
	A.THUONG_HT_CV
	INTO #LCB
	FROM dbo.LUONG_CO_BAN A
	INNER JOIN(SELECT ID_CN ,MAX(NGAY_HIEU_LUC)AS NGAY_HIEU_LUC FROM dbo.LUONG_CO_BAN GROUP BY ID_CN) B on A.ID_CN =B.ID_CN AND A.NGAY_HIEU_LUC = B.NGAY_HIEU_LUC
	INNER JOIN dbo.NGACH_LUONG C ON C.ID_NL = A.ID_NL
	INNER JOIN  dbo.BAC_LUONG D ON D.ID_BL = A.ID_BL
	INNER JOIN dbo.CONG_NHAN E ON E.ID_CN = A.ID_CN
	INNER JOIN #TEMPT ON #TEMPT.ID_TO = E.ID_TO
	WHERE (A.ID_NL = @ID_NL OR @ID_NL ='-1') AND (A.ID_BL = @ID_BL OR @ID_BL ='-1') AND (A.ID_TO = @ID_TO OR @ID_TO ='-1')
IF (@THEO_LUONG = 0)
BEGIN
	SELECT * FROM #LCB ORDER BY MS_CN
END
ELSE
BEGIN 
	SELECT * FROM #LCB
	WHERE LUONG_CO_BAN BETWEEN @LUONG_TU AND @LUONG_DEN
	ORDER BY MS_CN
END
END


