ALTER PROCEDURE [dbo].[spGetListDCTroCapBHXH]
	@Thang DATE ='11/1/2019',
	@Dot INT =1,
	@Username NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
	SELECT  
	ID_HTC,
	A.ID_CN,
	MS_CN,
	A.ID_LDV ,
	C.PHAN_TRAM_TRO_CAP ,
	A.THANG,
	A.THANG_CHUYEN ,
	A.DOT,
	A.DOT_CHUYEN ,
	A.NGHI_TU_NGAY ,
	A.NGHI_DEN_NGAY ,
	B.SO_NGAY_NGHI ,
	B.SO_TIEN_TC  AS MUC_HUONG_CU ,
	A.SO_NGAY_LECH ,
	A.MUC_HUONG_MOI ,
	A.SO_TIEN_LECH ,
	A.GHI_CHU AS NOI_DUNG_CHINH
	FROM    ( ( dbo.DIEU_CHINH_TRO_CAP_BHXH A
				INNER JOIN CONG_NHAN ON A.ID_CN = CONG_NHAN.ID_CN
			  )
			  LEFT JOIN TRO_CAP_BHXH B ON ( A.NGHI_DEN_NGAY = B.NGHI_DEN_NGAY )
										AND ( A.NGHI_TU_NGAY = B.NGHI_TU_NGAY )
										AND ( A.ID_LDV = B.ID_LDV )
										AND ( A.ID_CN = B.ID_CN)
										AND ( A.THANG_CHUYEN = B.THANG )
										AND ( A.DOT_CHUYEN = B.DOT )
			)
			INNER JOIN LY_DO_VANG C ON A.ID_LDV = C.ID_LDV
	WHERE RIGHT(A.THANG,4)= YEAR(@Thang) AND LEFT(A.THANG,2) = MONTH(@Thang) AND A.DOT =@Dot
END

