ALTER PROCEDURE [dbo].[spGetListTaiNanLD]
	@ID_CN BIGINT =24,
	@UName NVARCHAR(100) ='admin',
	@NNgu INT = 0
AS
BEGIN
SELECT 
ID_TNLD ,
ID_CN ,
ID_NGUYEN_NHAN ,
ID_GAY_TAI_NAN ,
ID_NGHE_NGHIEP ,
NGAY_BI_TAI_NAN ,
GIO_BI_TAI_NAN ,
MUC_DO AS ID_MUCDO,
NOI_XAY_RA ,
TINH_TRANG ,
GIAI_QUYET ,
NGAY_CAP_CUU_TAI_CHO ,
GIO_CAP_CUU_TAI_CHO ,
PHUONG_PHAP_CAP_CUU ,
SO_NGAY_NGHI ,
KET_QUA_QDINH ,
GTRI_TB_THIET_HAI ,
NGAY_VAO_VIEN ,
NGAY_RA_VIEN ,
DIEN_GIAI ,
CP_Y_TE ,
TRA_LUONG ,
BOI_THUONG_TC
FROM dbo.TAI_NAN_LD
WHERE ID_CN =@ID_CN
ORDER BY NGAY_BI_TAI_NAN DESC;
END

