ALTER PROCEDURE [dbo].[spUpdateHopDong]
    @ID_HDLD BIGINT ,
    @ID_CN BIGINT ,
    @SO_HDLD NVARCHAR(30) ,
    @STT_HDLD TINYINT ,
    @ID_LHDLD BIGINT ,
    @NGAY_BAT_DAU_HD DATETIME ,
    @NGAY_HET_HD DATETIME ,
    @NGAY_KY DATETIME ,
    @HD_GIA_HAN BIGINT ,
    @NGAY_BD_THU_VIEC DATETIME ,
    @NGAY_KT_THU_VIEC DATETIME ,
    @LUONG_THU_VIEC FLOAT ,
    @BAC_LUONG NVARCHAR(80) ,
    @MUC_LUONG_CHINH FLOAT ,
    @CHI_SO_PHU_CAP FLOAT ,
    @MUC_LUONG_THUC_LINH FLOAT ,
    @DIA_DIEM_LAM_VIEC NVARCHAR(200) ,
    @PHUONG_TIEN NVARCHAR(15) ,
    @DIA_CHI_NOI_LAM_VIEC NVARCHAR(200) ,
    @PHU_CAP NVARCHAR(200) ,
    @CONG_VIEC NVARCHAR(200) ,
    @ID_CV BIGINT ,
    @CHE_DO_LAM_VIEC NVARCHAR(250) ,
    @LAN_TRA_LUONG NVARCHAR(250) ,
    @DCLD NVARCHAR(250) ,
    @BHLD NVARCHAR(200) ,
    @CHE_DO_DAO_TAO NVARCHAR(200) ,
    @SO_NGAY_PHEP NVARCHAR(200) ,
    @HINH_THUC_TRA_LUONG NVARCHAR(200) ,
    @NGUOI_KY_GIA_HAN INT ,
    @CHE_DO_NANG_LUONG NVARCHAR(200) ,
    @KHOAN_KHAC NVARCHAR(200) ,
    @Them BIT
AS
    BEGIN
        IF ( @Them = 1 )
---thêm
            BEGIN
                INSERT  INTO dbo.HOP_DONG_LAO_DONG
                        ( ID_CN ,
                          SO_HDLD ,
                          STT_HDLD ,
                          ID_LHDLD ,
                          NGAY_BAT_DAU_HD ,
                          NGAY_HET_HD ,
                          NGAY_KY ,
                          HD_GIA_HAN ,
                          NGAY_BD_THU_VIEC ,
                          NGAY_KT_THU_VIEC ,
                          LUONG_THU_VIEC ,
                          BAC_LUONG ,
                          MUC_LUONG_CHINH ,
                          CHI_SO_PHU_CAP ,
                          MUC_LUONG_THUC_LINH ,
                          DIA_DIEM_LAM_VIEC ,
                          PHUONG_TIEN ,
                          DIA_CHI_NOI_LAM_VIEC ,
                          PHU_CAP ,
                          CONG_VIEC ,
                          ID_CV ,
                          CHE_DO_LAM_VIEC ,
                          LAN_TRA_LUONG ,
                          DCLD ,
                          BHLD ,
                          CHE_DO_DAO_TAO ,
                          SO_NGAY_PHEP ,
                          HINH_THUC_TRA_LUONG ,
                          NGUOI_KY_GIA_HAN ,
                          CHE_DO_NANG_LUONG ,
                          KHOAN_KHAC
                        )
                VALUES  ( @ID_CN ,
                          @SO_HDLD ,
                          @STT_HDLD ,
                          @ID_LHDLD ,
                          @NGAY_BAT_DAU_HD ,
                          @NGAY_HET_HD ,
                          @NGAY_KY ,
                          @HD_GIA_HAN ,
                          @NGAY_BD_THU_VIEC ,
                          @NGAY_KT_THU_VIEC ,
                          @LUONG_THU_VIEC ,
                          @BAC_LUONG ,
                          @MUC_LUONG_CHINH ,
                          @CHI_SO_PHU_CAP ,
                          @MUC_LUONG_THUC_LINH ,
                          @DIA_DIEM_LAM_VIEC ,
                          @PHUONG_TIEN ,
                          @DIA_CHI_NOI_LAM_VIEC ,
                          @PHU_CAP ,
                          @CONG_VIEC ,
                          @ID_CV ,
                          @CHE_DO_LAM_VIEC ,
                          @LAN_TRA_LUONG ,
                          @DCLD ,
                          @BHLD ,
                          @CHE_DO_DAO_TAO ,
                          @SO_NGAY_PHEP ,
                          @HINH_THUC_TRA_LUONG ,
                          @NGUOI_KY_GIA_HAN ,
                          @CHE_DO_NANG_LUONG ,
                          @KHOAN_KHAC
                        )
                SELECT  SCOPE_IDENTITY()	 
            END	
        ELSE
            BEGIN

                UPDATE  dbo.HOP_DONG_LAO_DONG
                SET     ID_CN = @ID_CN ,
                        SO_HDLD = @SO_HDLD ,
                        STT_HDLD = @STT_HDLD ,
                        ID_LHDLD = @ID_LHDLD ,
                        NGAY_BAT_DAU_HD = @NGAY_BAT_DAU_HD ,
                        NGAY_HET_HD = @NGAY_HET_HD ,
                        NGAY_KY = @NGAY_KY ,
                        HD_GIA_HAN = @HD_GIA_HAN ,
                        NGAY_BD_THU_VIEC = @NGAY_BD_THU_VIEC ,
                        NGAY_KT_THU_VIEC = @NGAY_KT_THU_VIEC ,
                        LUONG_THU_VIEC = @LUONG_THU_VIEC ,
                        BAC_LUONG = @BAC_LUONG ,
                        MUC_LUONG_CHINH = @MUC_LUONG_CHINH ,
                        CHI_SO_PHU_CAP = @CHI_SO_PHU_CAP ,
                        MUC_LUONG_THUC_LINH = @MUC_LUONG_THUC_LINH ,
                        DIA_DIEM_LAM_VIEC = @DIA_DIEM_LAM_VIEC ,
                        PHUONG_TIEN = @PHUONG_TIEN ,
                        DIA_CHI_NOI_LAM_VIEC = @DIA_CHI_NOI_LAM_VIEC ,
                        PHU_CAP = @PHU_CAP ,
                        CONG_VIEC = @CONG_VIEC ,
                        ID_CV = @ID_CV ,
                        CHE_DO_LAM_VIEC = @CHE_DO_LAM_VIEC ,
                        LAN_TRA_LUONG = @LAN_TRA_LUONG ,
                        DCLD = @DCLD ,
                        BHLD = @BHLD ,
                        CHE_DO_DAO_TAO = @CHE_DO_DAO_TAO ,
                        SO_NGAY_PHEP = @SO_NGAY_PHEP ,
                        HINH_THUC_TRA_LUONG = @HINH_THUC_TRA_LUONG ,
                        NGUOI_KY_GIA_HAN = @NGUOI_KY_GIA_HAN ,
                        CHE_DO_NANG_LUONG = @CHE_DO_NANG_LUONG ,
                        KHOAN_KHAC = @KHOAN_KHAC
                WHERE   ID_HDLD = @ID_HDLD
                SELECT  @ID_HDLD
            END
    END	

