ALTER PROCEDURE [dbo].[spUpdateQuaTrinhCongTac]
	@ID_QTCT  BIGINT=-1,
	@ID_CN  BIGINT=303,
	@ID_LQD  BIGINT=1,
	@ID_NK  BIGINT=1,
	@ID_TO  BIGINT=20,
	@ID_CV  BIGINT=41,
	@ID_LCV  BIGINT=12,
	@ID_TO_CU  BIGINT=2,
	@ID_CV_CU  BIGINT=127,
	@ID_LCV_CU  BIGINT=19,
	@SO_QUYET_DINH  nvarchar(100)=1,
	@NGAY_KY  DATE='20210403',
	@NGAY_HIEU_LUC  DATE='20210403',
	@NOI_CONG_TAC  nvarchar(150)='',
	@NHIEM_VU  nvarchar(250)='',
	@MUC_LUONG  FLOAT=5000000,
	@MUC_LUONG_CU  nvarchar(250)=0,
	@GHI_CHU  nvarchar(255)='',
	@Them BIT = 0
AS
BEGIN
	IF (@ID_QTCT=-1)
		---thêm
		BEGIN
			INSERT INTO dbo.QUA_TRINH_CONG_TAC
					(ID_CN ,ID_LQD ,ID_NK ,ID_TO ,ID_CV ,ID_LCV ,ID_TO_CU ,ID_CV_CU ,ID_LCV_CU ,SO_QUYET_DINH ,
			NGAY_KY ,NGAY_HIEU_LUC ,NOI_CONG_TAC ,NHIEM_VU ,MUC_LUONG ,MUC_LUONG_CU ,GHI_CHU)
			VALUES  ( @ID_CN ,@ID_LQD ,@ID_NK ,@ID_TO ,@ID_CV ,@ID_LCV ,@ID_TO_CU ,@ID_CV_CU ,@ID_LCV_CU ,@SO_QUYET_DINH ,
			@NGAY_KY ,@NGAY_HIEU_LUC ,@NOI_CONG_TAC ,@NHIEM_VU ,@MUC_LUONG ,@MUC_LUONG_CU ,@GHI_CHU)
			SELECT SCOPE_IDENTITY()	 
		END	
	
	ELSE
		--sửa
		BEGIN
			UPDATE dbo.QUA_TRINH_CONG_TAC
			SET
			ID_LQD =	@ID_LQD ,
			ID_NK =	@ID_NK ,
			ID_TO =	@ID_TO ,
			ID_CV =	@ID_CV ,
			ID_LCV =	@ID_LCV ,
			ID_CV_CU =	@ID_CV_CU ,
			ID_LCV_CU =	@ID_LCV_CU ,
			SO_QUYET_DINH =	@SO_QUYET_DINH ,
			NGAY_KY =	@NGAY_KY ,
			NGAY_HIEU_LUC =	@NGAY_HIEU_LUC ,
			NOI_CONG_TAC =	@NOI_CONG_TAC ,
			NHIEM_VU =	@NHIEM_VU ,
			MUC_LUONG =	@MUC_LUONG ,
			MUC_LUONG_CU =	@MUC_LUONG_CU ,
			GHI_CHU = 	@GHI_CHU
			WHERE ID_QTCT =@ID_QTCT
			SELECT @ID_QTCT
		END
	-- cập nhật lại tổ vào id loại công việc
	IF(@NGAY_HIEU_LUC = (SELECT MAX(NGAY_HIEU_LUC) FROM dbo.QUA_TRINH_CONG_TAC WHERE ID_CN = @ID_CN ))
	BEGIN
		DECLARE @PCT Int
		
		SELECT @PCT = PHEP_CT FROM LOAI_CONG_VIEC WHERE ID_LCV = @ID_LCV
		UPDATE dbo.CONG_NHAN SET
		ID_TO =@ID_TO,
		ID_LCV =@ID_LCV,
		ID_CV = @ID_CV,
		PHEP_CT = @PCT
		WHERE ID_CN = @ID_CN
	END
END	


