ALTER PROCEDURE [dbo].[spUpdateBangCap]
	@ID_BC  BIGINT,
	@ID_CN  BIGINT,
	@NGUOI_KY  nvarchar(50),
	@ID_LOAI_TD  BIGINT,
	@SO_HIEU_BANG  nvarchar(50),
	@NGAY_BD  DATE,
	@NGAY_KT  DATE,
	@NOI_HOC  nvarchar(250),
	@HT_DAO_TAO  nvarchar(100),
	@NGANH_DAO_TAO  nvarchar(100),
	@TEN_BANG  nvarchar(100),
	@XEP_LOAI  nvarchar(100),
	@NGAY_KY  DATE,
	@NOI_CAP  nvarchar(100),
	@GHI_CHU  nvarchar(255),
	@Them BIT = 0
AS
BEGIN
	IF (@Them = 1)
		BEGIN
			INSERT INTO dbo.BANG_CAP(ID_CN ,NGUOI_KY ,ID_LOAI_TD ,SO_HIEU_BANG ,NGAY_BD ,NGAY_KT ,NOI_HOC ,HT_DAO_TAO ,NGANH_DAO_TAO ,TEN_BANG ,XEP_LOAI ,
			NGAY_KY ,NOI_CAP ,GHI_CHU)
					VALUES  (@ID_CN ,@NGUOI_KY ,@ID_LOAI_TD ,@SO_HIEU_BANG ,@NGAY_BD ,@NGAY_KT ,@NOI_HOC ,@HT_DAO_TAO ,@NGANH_DAO_TAO ,@TEN_BANG ,
			@XEP_LOAI ,@NGAY_KY ,@NOI_CAP ,@GHI_CHU)
			
			SELECT SCOPE_IDENTITY()
		END	
	ELSE
		BEGIN
			UPDATE dbo.BANG_CAP
			SET 
			ID_CN =	@ID_CN ,
			NGUOI_KY =	@NGUOI_KY ,
			ID_LOAI_TD =	@ID_LOAI_TD ,
			SO_HIEU_BANG =	@SO_HIEU_BANG ,
			NGAY_BD =	@NGAY_BD ,
			NGAY_KT =	@NGAY_KT ,
			NOI_HOC =	@NOI_HOC ,
			HT_DAO_TAO =	@HT_DAO_TAO ,
			NGANH_DAO_TAO =	@NGANH_DAO_TAO ,
			TEN_BANG =	@TEN_BANG ,
			XEP_LOAI =	@XEP_LOAI ,
			NGAY_KY =	@NGAY_KY ,
			NOI_CAP =	@NOI_CAP ,
			GHI_CHU =@GHI_CHU
			WHERE ID_BC =@ID_BC
			
			SELECT @ID_BC
		END
END	



