ALTER PROCEDURE [dbo].[rptBangTongHopLuongMaHang]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DH INT = -1,
	@MH INT = -1,
	@ORD INT = -1,
	@CHUYEN INT = -1,
	@TNGAY Date ='2021-03-01',
	@DNGAY Date ='2021-03-31'
AS 
BEGIN

	SELECT T1.ID_CHUYEN, C.TEN_CHUYEN, DH.ID_DHB, DH.SO_DHB, HH.ID_HH, HH.MS_HIEN_THI, T1.ID_ORD, ORD.ORDER_NUMBER, 
	T2.TGTK, T1.SL_CHOT, T2.DON_GIA, ROUND(T1.SL_CHOT * T2.DON_GIA,0) THANH_TIEN  
	FROM (SELECT ID_CHUYEN, ID_CHUYEN_SD, ID_ORD, SL_CHOT
		FROM PHIEU_CONG_DOAN_CHOT_THANG PCDCHOT 
		WHERE YEAR(THANG) = YEAR(@TNGAY) AND MONTH(THANG) = MONTH(@TNGAY)) T1 
	INNER JOIN (SELECT QTCN.ID_CHUYEN, QTCN.ID_ORD, SUM(QTCN.THOI_GIAN_THIET_KE) TGTK, SUM(QTCN.DON_GIA_THUC_TE) DON_GIA
		FROM PHIEU_CONG_DOAN PCD INNER JOIN QUI_TRINH_CONG_NGHE_CHI_TIET QTCN 
		ON PCD.ID_CHUYEN_SD = QTCN.ID_CHUYEN AND PCD.ID_ORD = QTCN.ID_ORD AND PCD.ID_CD = QTCN.ID_CD
		WHERE PCD.NGAY BETWEEN @TNGAY AND @DNGAY 
		GROUP BY QTCN.ID_CHUYEN, QTCN.ID_ORD) T2 
	ON T1.ID_CHUYEN_SD = T2.ID_CHUYEN AND T1.ID_ORD = T2.ID_ORD
	INNER JOIN CHUYEN C ON T1.ID_CHUYEN = C.ID_CHUYEN
	INNER JOIN DON_HANG_BAN_ORDER ORD ON T1.ID_ORD = ORD.ID_DHBORD
	INNER JOIN DON_HANG_BAN DH ON ORD.ID_DHB = DH.ID_DHB
	INNER JOIN HANG_HOA HH ON ORD.ID_HH = HH.ID_HH
	WHERE (ORD.ID_DHB = @DH OR @DH = -1) AND (ORD.ID_HH = @MH OR @MH = -1) 
	AND (ORD.ID_DHBORD = @ORD OR @ORD = -1) AND (T1.ID_CHUYEN = @CHUYEN OR @CHUYEN = -1) 
	ORDER BY C.TEN_CHUYEN, DH.SO_DHB, HH.MS_HIEN_THI, ORD.ORDER_NUMBER
	
END


