ALTER PROCEDURE [dbo].[rptBangLSPTongHopTheoCN]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@TNGAY Date ='2021-03-01',
	@DNGAY Date ='2021-03-31'
AS 
BEGIN

	SELECT * INTO #CN FROM dbo.MGetListNhanSuFormToDate(@UName,@NNgu, @DVi, @XN, @TO, @TNGAY, @DNGAY)
	
	SELECT T3.MS_CN, T3.HO_TEN, T3.STT_XN, T3.TEN_XN, T3.STT_TO, T3.TEN_TO, SUM(T1.SO_LUONG) SL_CD, ROUND(SUM(T1.SO_LUONG * T2.DON_GIA_THUC_TE),0) THANH_TIEN 
	FROM PHIEU_CONG_DOAN T1 INNER JOIN QUI_TRINH_CONG_NGHE_CHI_TIET T2 ON T1.ID_CHUYEN_SD = T2.ID_CHUYEN AND T1.ID_ORD = T2.ID_ORD AND T1.ID_CD = T2.ID_CD 
	INNER JOIN #CN T3 ON T1.ID_CN = T3.ID_CN
	WHERE T1.NGAY BETWEEN @TNGAY AND @DNGAY
	GROUP BY T3.MS_CN, T3.HO_TEN, T3.STT_XN, T3.TEN_XN, T3.STT_TO, T3.TEN_TO
	ORDER BY T3.STT_XN, T3.STT_TO, T3.MS_CN
	
END


