ALTER PROCEDURE [dbo].[rptBangLSPChiTietMHNgayTheoCN]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = 4,
	@CN INT = -1,
	@DH INT = -1,
	@MH INT = -1,
	@ORD INT = -1,
	@CHUYEN INT = -1,
	@TNGAY Date ='2021-03-01',
	@DNGAY Date ='2021-03-31'
AS 
BEGIN

	SELECT * INTO #CN FROM dbo.MGetListNhanSuFormToDate(@UName,@NNgu, @DVi, @XN, @TO, @TNGAY, @DNGAY)
	
	SELECT T1.NGAY, DH.ID_DHB, DH.SO_DHB, HH.ID_HH, HH.MS_HIEN_THI, ORD.ORDER_NUMBER, C.ID_CHUYEN, C.TEN_CHUYEN, T3.MS_CN, T3.HO_TEN, T3.STT_XN, T3.TEN_XN, 
	T3.STT_TO, T3.TEN_TO, T2.MaQL, CD.TEN_CD, T1.SO_LUONG SL_CD, T2.DON_GIA_THUC_TE DON_GIA, ROUND(T1.SO_LUONG * T2.DON_GIA_THUC_TE,0) THANH_TIEN 
	FROM PHIEU_CONG_DOAN T1 INNER JOIN QUI_TRINH_CONG_NGHE_CHI_TIET T2 ON T1.ID_CHUYEN_SD = T2.ID_CHUYEN AND T1.ID_ORD = T2.ID_ORD AND T1.ID_CD = T2.ID_CD 
	INNER JOIN #CN T3 ON T1.ID_CN = T3.ID_CN
	INNER JOIN DON_HANG_BAN_ORDER ORD ON T1.ID_ORD = ORD.ID_DHBORD
	INNER JOIN DON_HANG_BAN DH ON DH.ID_DHB = ORD.ID_DHB
	INNER JOIN HANG_HOA HH ON ORD.ID_HH = HH.ID_HH
	INNER JOIN CHUYEN C ON T1.ID_CHUYEN = C.ID_CHUYEN
	INNER JOIN CONG_DOAN CD ON T1.ID_CD = CD.ID_CD
	WHERE (T1.NGAY BETWEEN @TNGAY AND @DNGAY) AND (ORD.ID_DHB = @DH OR @DH = -1) AND (ORD.ID_HH = @MH OR @MH = -1) 
	AND (ORD.ID_DHBORD = @ORD OR @ORD = -1) AND (T1.ID_CHUYEN = @CHUYEN OR @CHUYEN = -1) AND (T1.ID_CN = @CN OR @CN = -1)
	ORDER BY T1.NGAY, DH.SO_DHB, HH.MS_HIEN_THI, ORD.ORDER_NUMBER, C.TEN_CHUYEN, T3.STT_XN, T3.STT_TO, T3.MS_CN
	
END


