ALTER PROCEDURE [dbo].[rptDanhMucCongDoan]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@ID_LSP INT = -1,
	@ID_CUM INT = -1
AS 
BEGIN

	SELECT NHOM_HANG_HOA.ID_NHH, NHOM_HANG_HOA.TEN_NHH, CUM.TEN_CUM, ID_CD, MS_CD, TEN_CD, HSBT.TEN_BAC_THO, TGTK, LOAI_MAY.TEN_LOAI_MAY, 
	YEU_CAU_KT, CU_GA_LAP, CHON, FILE_FILM, DUONG_DAN_FILM, DA_SU_DUNG, NGAY_LAP
	FROM CONG_DOAN 
	INNER JOIN CUM ON CONG_DOAN.ID_CUM = CUM.ID_CUM 
	INNER JOIN NHOM_HANG_HOA ON CUM.ID_NHH = NHOM_HANG_HOA.ID_NHH 
	INNER JOIN HSBT ON CONG_DOAN.ID_BT = HSBT.ID_BT 
	INNER JOIN LOAI_MAY ON CONG_DOAN.ID_LM = LOAI_MAY.ID_LM
	WHERE (CUM.ID_CUM = @ID_CUM OR @ID_CUM = -1) AND (CUM.ID_NHH = @ID_LSP OR @ID_LSP = -1)
	ORDER BY NHOM_HANG_HOA.THU_TU, CUM.STT, CONG_DOAN.TEN_CD	
END


