ALTER PROCEDURE [dbo].[spGetLSPChuyen]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@CN INT = -1,
	@DH INT = -1,
	@MH INT = -1,
	@ORD INT = -1,
	@CHUYEN INT = -1,
	@TNGAY Date ='2021-03-01',
	@DNGAY Date ='2021-03-31'
AS 
BEGIN

	SELECT * INTO #CN FROM dbo.MGetListNhanSuFormToDate(@UName,@NNgu, @DVi, @XN, @TO, @TNGAY, @DNGAY)
	
	SELECT C.ID_CHUYEN, C.TEN_CHUYEN
	FROM PHIEU_CONG_DOAN T1 INNER JOIN QUI_TRINH_CONG_NGHE_CHI_TIET T2 ON T1.ID_CHUYEN_SD = T2.ID_CHUYEN AND T1.ID_ORD = T2.ID_ORD AND T1.ID_CD = T2.ID_CD 
	INNER JOIN #CN T3 ON T1.ID_CN = T3.ID_CN
	INNER JOIN DON_HANG_BAN_ORDER ORD ON T1.ID_ORD = ORD.ID_DHBORD
	INNER JOIN HANG_HOA HH ON ORD.ID_HH = HH.ID_HH
	INNER JOIN CHUYEN C ON T1.ID_CHUYEN = C.ID_CHUYEN
	WHERE (T1.NGAY BETWEEN @TNGAY AND @DNGAY) AND (ORD.ID_DHB = @DH OR @DH = -1) AND (ORD.ID_HH = @MH OR @MH = -1) 
	AND (ORD.ID_DHBORD = @ORD OR @ORD = -1) AND (T1.ID_CHUYEN = @CHUYEN OR @CHUYEN = -1) AND (T1.ID_CN = @CN OR @CN = -1)
	GROUP BY C.ID_CHUYEN, C.TEN_CHUYEN
	ORDER BY C.TEN_CHUYEN
END


