ALTER PROCEDURE [dbo].[rptBaoCaoNghiBoViecThang]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@TNGAY Date ='03/01/2021',
	@DNGAY Date ='03/31/2021'
AS 
BEGIN
	DECLARE @NgayBD Date
	DECLARE @NgayKT Date
	
	SET @NgayBD = @TNGAY
	SET @NgayKT = @DNGAY
	
	SELECT * INTO #CN FROM dbo.MGetListNhanSuFormToDate(@UName,@NNgu, @DVi, @XN, @TO, @TNGAY, @DNGAY)

    SELECT T1.ID_XN, T1.TEN_XN, T1.ID_TO, T1.TEN_TO, T1.ID_CN, T1.MS_CN, T1.HO_TEN, T1.NGAY_VAO_CTY, 
    CONVERT(nvarchar(10),NGAY_NGHI_VIEC,103) AS NGAY_NGHI_VIEC, CONVERT(nvarchar(50),N'NGHỈ BỎ VIỆC') AS TINH_TRANG, 
    CONVERT(NVARCHAR(255),CASE WHEN T1.ID_LD_TV = 3 THEN N'Bỏ việc' + ISNULL(T2.SO_QD,'') 
    ELSE CASE WHEN ISNULL(T2.SO_QD,'') = '' THEN '' ELSE T2.NGUYEN_NHAN END END ) GHI_CHU 
    INTO #TBNGHIVIEC
    FROM #CN T1 LEFT JOIN QUYET_DINH_THOI_VIEC T2 ON T1.ID_CN = T2.ID_CN 
    WHERE T1.NGAY_NGHI_VIEC BETWEEN @TNGAY AND @DNGAY

	INSERT INTO #TBNGHIVIEC (ID_XN, TEN_XN, ID_TO, TEN_TO, ID_CN, MS_CN, HO_TEN, NGAY_VAO_CTY, NGAY_NGHI_VIEC, TINH_TRANG, GHI_CHU) 
	SELECT T1.ID_XN, T1.TEN_XN, T1.ID_TO, T1.TEN_TO, T1.ID_CN, T1.MS_CN, T1.HO_TEN, T1.NGAY_VAO_CTY, 
	CONVERT(nvarchar(10),T2.TU_NGAY,103), CASE WHEN T3.MS_LDV = 'T3' THEN CONVERT(nvarchar(50),N'THAI SẢN NGHỈ') ELSE CONVERT(nvarchar(50),N'ỐM DH NGHỈ') END, 
	CONVERT(nvarchar(10),NGAY_SINH,103) GHI_CHU 
	FROM #CN T1 INNER JOIN KE_HOACH_NGHI_PHEP T2 ON T1.ID_CN = T2.ID_CN 
	INNER JOIN LY_DO_VANG T3 ON T2.ID_LDV = T3.ID_LDV
	WHERE (T3.ID_CHE_DO IN (2, 9)) AND ((T2.TU_NGAY BETWEEN @TNGAY AND @DNGAY) OR (T2.DEN_NGAY > @TNGAY)) 
    
 --   INSERT INTO #TBNGHIVIEC (ID_XN, TEN_XN, ID_TO, TEN_TO, ID_CN, MS_CN, HO_TEN, NGAY_VAO_CTY, NGAY_NGHI_VIEC, TINH_TRANG, GHI_CHU)
	--SELECT T1.ID_XN, T1.TEN_XN, T1.ID_TO, T1.TEN_TO, T1.ID_CN, T1.MS_CN, T1.HO_TEN, T1.NGAY_VAO_CTY, 
	--CONVERT(nvarchar(10),T2.TU_NGAY,103), CASE WHEN T3.MS_LDV = 'T3' THEN CONVERT(nvarchar(50),N'THAI SẢN NGHỈ') ELSE CONVERT(nvarchar(50),N'ỐM DH NGHỈ') END, 
	--CONVERT(nvarchar(10),NGAY_SINH,103) GHI_CHU 
	--FROM #CN T1 INNER JOIN KE_HOACH_NGHI_PHEP T2 ON T1.ID_CN = T2.ID_CN 
	--INNER JOIN LY_DO_VANG T3 ON T2.ID_LDV = T3.ID_LDV
	--WHERE T2.DEN_NGAY > @TNGAY AND T3.ID_CHE_DO IN (2, 9)

	INSERT INTO #TBNGHIVIEC (ID_XN, TEN_XN, ID_TO, TEN_TO, ID_CN, MS_CN, HO_TEN, NGAY_VAO_CTY, NGAY_NGHI_VIEC, TINH_TRANG, GHI_CHU) 
	SELECT T1.ID_XN, T1.TEN_XN, T1.ID_TO, T1.TEN_TO, T1.ID_CN, T1.MS_CN, T1.HO_TEN, T1.NGAY_VAO_CTY, 
	CONVERT(nvarchar(10),T2.TU_NGAY,103), CASE WHEN T3.MS_LDV = 'T3' THEN CONVERT(nvarchar(50),N'THAI SẢN VÀO') ELSE CONVERT(nvarchar(50),N'ỐM DH VÀO') END, 
	CONVERT(nvarchar(10),NGAY_SINH,103) GHI_CHU 
	FROM #CN T1 INNER JOIN KE_HOACH_NGHI_PHEP T2 ON T1.ID_CN = T2.ID_CN 
	INNER JOIN LY_DO_VANG T3 ON T2.ID_LDV = T3.ID_LDV
	WHERE T2.NGAY_VAO_LAM_LAI BETWEEN @TNGAY AND @DNGAY AND T3.ID_CHE_DO IN (2, 9)
	
	SELECT * FROM #TBNGHIVIEC
END