ALTER PROCEDURE [dbo].[rptBangTongCongThang]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@TNGAY Date ='2021-03-01',
	@DNGAY Date ='2021-03-31'
AS 
BEGIN
	
	DECLARE @Chuoi nvarchar(4000)
	
	SET @Chuoi = 'CREATE TABLE ##TBReport ([ID_DV] INT NULL, [TEN_DV] nvarchar(250)  NULL, [ID_XN] INT NULL, [TEN_XN] nvarchar(100)  NULL, [ID_TO] INT NULL, [TEN_TO] nvarchar(100) NULL,   
			 STT_XN INT  DEFAULT (999), STT_TO INT  DEFAULT (999), [CONG_CHUAN] INT  NULL  DEFAULT (0), [LDTT] INT  NULL  DEFAULT (0), [LD_TANG_CN] INT  NULL  DEFAULT (0), 
			 [LD_TANG_DT] INT  NULL  DEFAULT (0), [LD_GIAM_NV] INT  NULL  DEFAULT (0), [LD_GIAM_BV] INT  NULL  DEFAULT (0), 
			 [SN_LV] FLOAT  NULL  DEFAULT (0), [SN_TC_NT] FLOAT  NULL  DEFAULT (0), [SN_TC_CN] FLOAT  NULL  DEFAULT (0),
			 [SNV_P] FLOAT  NULL  DEFAULT (0), [SNV_BU] FLOAT  NULL  DEFAULT (0), [SNV_L] FLOAT  NULL  DEFAULT (0), [SNV_BHXH] FLOAT  NULL  DEFAULT (0),
			 [SNV_HL] FLOAT  NULL  DEFAULT (0), [SNV_KL] FLOAT  NULL  DEFAULT (0), [SNV_RN] FLOAT  NULL  DEFAULT (0))' 
	EXEC (@Chuoi)
	
	SELECT * INTO #CN FROM dbo.MGetListNhanSuFormToDate(@UName,@NNgu, @DVi, @XN, @TO, @TNGAY, @DNGAY)
	
	INSERT INTO ##TBReport (ID_DV, TEN_DV, ID_XN, TEN_XN, ID_TO, TEN_TO, STT_XN, STT_TO, CONG_CHUAN, LDTT) 
	SELECT ID_DV, TEN_DV, ID_XN, TEN_XN, ID_TO, TEN_TO, STT_XN, STT_TO, 26 CT, COUNT(ID_CN) LDTT 
	FROM #CN
	GROUP BY ID_DV, TEN_DV, ID_XN, TEN_XN, ID_TO, TEN_TO, STT_XN, STT_TO
	
	UPDATE ##TBReport SET LD_TANG_CN = T2.CNT, LD_TANG_DT = T2.DTT
	FROM ##TBReport T1 INNER JOIN (
	SELECT ID_TO, SUM(CASE WHEN ID_TT_HD = 5 THEN 0 ELSE 1 END) CNT, SUM(CASE WHEN ID_TT_HD = 5 THEN 1 ELSE 0 END) DTT FROM #CN
	WHERE NGAY_VAO_CTY BETWEEN @TNGAY AND @DNGAY
	GROUP BY ID_TO) T2 ON T1.ID_TO = T2.ID_TO
	
	UPDATE ##TBReport SET LD_GIAM_NV = T2.NV, LD_GIAM_BV = T2.BV
	FROM ##TBReport T1 INNER JOIN (
	SELECT ID_TO, SUM(CASE WHEN ID_LD_TV = 3 THEN 0 ELSE 1 END) NV, SUM(CASE WHEN ID_LD_TV = 3 THEN 1 ELSE 0 END) BV
	FROM #CN
	WHERE ISNULL(NGAY_NGHI_VIEC,'') <> '' AND NGAY_NGHI_VIEC BETWEEN @TNGAY AND @DNGAY
	GROUP BY ID_TO) T2 ON T1.ID_TO = T2.ID_TO 
	
    --lay du lieu cham cong thang
    SELECT T1.*, T2.ID_TO, T3.SG_LV_QD INTO #CCCT 
    FROM CHAM_CONG_CHI_TIET T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN
    INNER JOIN CHAM_CONG T3 ON T1.ID_CN = T3.ID_CN AND T1.NGAY = T3.NGAY
    WHERE T1.NGAY BETWEEN  @TNGAY AND @DNGAY
    
    SELECT NGAY, ID_TO, ID_CN, SG_LV_QD, SUM(SG_LV_TT) SGLV 
    INTO #SGLV FROM #CCCT
    WHERE TANG_CA = 0
    GROUP BY NGAY, ID_TO, ID_CN, SG_LV_QD
    
    UPDATE ##TBReport SET SN_LV = T2.SN_LV
    FROM ##TBReport T1 INNER JOIN (SELECT ID_TO, ROUND(SUM(SGLV/SG_LV_QD),2) SN_LV FROM #SGLV GROUP BY ID_TO) T2 ON T1.ID_TO = T2.ID_TO
    
    SELECT NGAY, ID_TO, ID_CN, SG_LV_QD, SUM(CASE WHEN LOAI_GIO = 0 THEN SG_LV_TT ELSE 0 END) SGTC_NT, SUM(CASE WHEN LOAI_GIO = 1 THEN SG_LV_TT ELSE 0 END) SGTC_CN 
    INTO #SGTC FROM #CCCT
    WHERE TANG_CA = 1 
    GROUP BY NGAY, ID_TO, ID_CN, SG_LV_QD
    
    UPDATE ##TBReport SET SN_TC_NT = T2.SN_TC_NT, SN_TC_CN = T2.SN_TC_CN
    FROM ##TBReport T1 INNER JOIN (SELECT ID_TO, ROUND(SUM(SGTC_NT/SG_LV_QD),2) SN_TC_NT, ROUND(SUM(SGTC_CN/SG_LV_QD),2) SN_TC_CN 
    FROM #SGTC GROUP BY ID_TO) T2 ON T1.ID_TO = T2.ID_TO

	--lay du lieu cham cong vang thang
    SELECT T1.NGAY, T2.ID_TO, T1.ID_CN, T1.ID_LDV, T3.MS_LDV, T1.SG_VANG, T4.SG_LV_QD
    INTO #CCVANG
    FROM CHAM_CONG_CHI_TIET_VANG T1 INNER JOIN #CN T2 ON T1.ID_CN= T2.ID_CN
    INNER JOIN LY_DO_VANG T3 ON T1.ID_LDV = T3.ID_LDV 
    INNER JOIN CHAM_CONG T4 ON T1.ID_CN = T4.ID_CN AND T1.NGAY = T4.NGAY
    WHERE (T1.NGAY BETWEEN @TNGAY AND @DNGAY)
    
    --nghi phep chinh thuc
    UPDATE ##TBReport SET SNV_P = T2.SNP
    FROM ##TBReport T1 INNER JOIN (SELECT ID_TO, SUM(ROUND(SG_VANG/SG_LV_QD,2)) SNP 
    FROM #CCVANG WHERE MS_LDV IN ('P') GROUP BY ID_TO) T2 ON T1.ID_TO = T2.ID_TO 
	
	--nghi bu chinh thuc
    UPDATE ##TBReport SET SNV_BU =  ISNULL(SNBU,0) 
    FROM ##TBReport T1 LEFT JOIN (SELECT ID_TO, SUM(ROUND(SG_VANG/SG_LV_QD,2)) SNBU 
    FROM #CCVANG WHERE MS_LDV IN ('BU') GROUP BY ID_TO) T2 ON T1.ID_TO = T2.ID_TO 

    --nghi le chinh thuc
    UPDATE ##TBReport SET SNV_L =  ISNULL(SNL,0) 
    FROM ##TBReport T1 LEFT JOIN (SELECT ID_TO, SUM(ROUND(SG_VANG/SG_LV_QD,2)) SNL
    FROM #CCVANG WHERE MS_LDV IN ('L') GROUP BY ID_TO) T2 ON T1.ID_TO = T2.ID_TO 

	--nghi huong bhxh
    UPDATE ##TBReport SET SNV_BHXH = ISNULL(SN_BHXH,0) 
    FROM ##TBReport T1 LEFT JOIN (SELECT CCV.ID_TO, SUM(ROUND(CCV.SG_VANG/CCV.SG_LV_QD,2)) SN_BHXH 
    FROM #CCVANG CCV INNER JOIN LY_DO_VANG LDV ON CCV.ID_LDV = LDV.ID_LDV 
    WHERE LDV.TINH_BHXH = 1 GROUP BY CCV.ID_TO) T2 ON T1.ID_TO = T2.ID_TO 

 --   --so ngay chua nhan viec
	--UPDATE ##TBReport SET NGHI_CHUA_NV = DateDiff(D,@TNGAY,NGAY_VAO_CTY) WHERE NGAY_VAO_CTY > @TNGAY

    --nghi huong luong chinh thuc
    UPDATE ##TBReport SET SNV_HL =  ISNULL(SNHL_CT,0) 
    FROM ##TBReport T1 LEFT JOIN (SELECT CCV.ID_TO, SUM(ROUND(CCV.SG_VANG/CCV.SG_LV_QD,2)) SNHL_CT
    FROM #CCVANG CCV INNER JOIN LY_DO_VANG LDV ON CCV.ID_LDV = LDV.ID_LDV 
    WHERE LDV.TINH_LUONG = 1 GROUP BY CCV.ID_TO) T2 ON T1.ID_TO = T2.ID_TO 
    
    --nghi khong luong, tu do
    UPDATE ##TBReport SET SNV_KL =  ISNULL(SN_KL,0) 
    FROM ##TBReport T1 INNER JOIN (SELECT ID_TO, SUM(ROUND(SG_VANG/SG_LV_QD,2)) SN_KL 
    FROM #CCVANG WHERE MS_LDV IN ('Ro','O') GROUP BY ID_TO) T2 ON T1.ID_TO = T2.ID_TO 
    
	--cap nhat ra ngoai
	--Ra ngoai
	UPDATE ##TBReport SET SNV_RN = ISNULL(T2.SNRN,0)
	FROM ##TBReport T1 
	INNER JOIN (SELECT ID_TO, SUM(ROUND(SG_VANG/SG_LV_QD,2)) AS SNRN FROM #CCVANG
	WHERE MS_LDV IN ('RN') GROUP BY ID_TO) T2 ON T1.ID_TO = T2.ID_TO 


	SELECT * FROM ##TBReport
	DROP TABLE ##TBReport
END

