ALTER PROCEDURE [dbo].[rptBCDanhGiaCN]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@ID_CN BIGINT
AS 
BEGIN
	
	SELECT CN.MS_CN, CN.HO + ' ' + TEN HO_TEN, PB.TEN_TO BO_PHAN, DG.NGAY_DANH_GIA, DG.NGUOI_DANH_GIA, DG.NOI_DUNG ND_CHINH,
	NDDG.TEN_NDDG, DGCT.DIEM, DGCT.XEP_LOAI, DGCT.GHI_CHU
	FROM BANG_DANH_GIA DG INNER JOIN CONG_NHAN CN ON DG.ID_CN = CN.ID_CN
	INNER JOIN (SELECT * FROM dbo.MGetToUser(@UName,@NNgu)) PB ON CN.ID_TO = PB.ID_TO
	INNER JOIN BANG_DANH_GIA_CHI_TIET DGCT ON DG.ID_DG = DGCT.ID_DG
	INNER JOIN NOI_DUNG_DANH_GIA NDDG ON DGCT.ID_NDDG = NDDG.ID_NDDG
	WHERE DG.ID_CN = @ID_CN 
END


