ALTER PROCEDURE [dbo].[rptChiTietQuetTheCNGD]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@CN INT = 348,
	@TNGAY Date ='2021-03-01',
	@DNGAY Date ='2021-03-31'
AS 
BEGIN
	DECLARE @NgayBD Date
	DECLARE @NgayKT Date
	
	SET @NgayBD = @TNGAY
	SET @NgayKT = @DNGAY
	
	SELECT * INTO #CN FROM dbo.MGetListNhanSuFormToDate(@UName,@NNgu, @DVi, @XN, @TO, @TNGAY, @DNGAY)

	SELECT DISTINCT T1.ID_CN, T2.MS_CN, T2.HO_TEN, T1.NGAY, CONVERT(datetime,NULL) GIO_DEN, CONVERT(datetime,NULL) GIO_VE, 
	CONVERT(datetime,NULL) GIO_DEN1, CONVERT(datetime,NULL) GIO_VE1, CONVERT(FLOAT,0) AS GIO_LV , CONVERT(FLOAT,0) AS GIO_NT, 
	CONVERT(FLOAT,0) AS GIO_NL , CONVERT(FLOAT,0) AS GIO_CN , CONVERT(FLOAT,0) AS GIO_DEM, ROUND(SUM(SG_LV_TT),2) AS TONG_GIO, 
	T2.ID_TO, T2.STT_TO, T2.TEN_TO, T2.ID_XN, T2.STT_XN, T2.TEN_XN, CONVERT(NVARCHAR(255),'') AS LY_DO 
	INTO #TBReport
    FROM CHAM_CONG_CHI_TIET T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
    WHERE T1.NGAY BETWEEN @TNGAY AND @DNGAY AND (T1.ID_CN =@CN OR @CN =-1)
    GROUP BY T1.ID_CN, T2.MS_CN, T2.HO_TEN, T1.NGAY, T2.ID_TO, T2.STT_TO, T2.TEN_TO, T2.ID_XN, T2.STT_XN, T2.TEN_XN, T2.TEN
    
	WHILE @NgayBD <= @NgayKT
		BEGIN
			INSERT INTO #TBReport (ID_CN, MS_CN, HO_TEN, NGAY, ID_TO, STT_TO, TEN_TO, ID_XN, STT_XN, TEN_XN, LY_DO) 
			SELECT T1.ID_CN, T1.MS_CN, T1.HO_TEN, @NgayBD, T1.ID_TO, T1.STT_TO, T1.TEN_TO, T1.ID_XN, T1.STT_XN, T1.TEN_XN, '' LD 
			FROM #CN T1 WHERE T1.ID_CN NOT IN (SELECT ID_CN FROM #TBReport WHERE NGAY = @NgayBD) AND (T1.ID_CN =@CN OR @CN =-1)
			SET @NgayBD = DATEADD(DAY, 1, @NgayBD);
		END
		
	--Cap nhat gio lam viec ngay thuong LOAI_GIO = 0
    SELECT T1.ID_CN, NGAY, SUM(SG_LV_TT) AS SO_GIO 
    INTO #BTam
    FROM CHAM_CONG_CHI_TIET T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
    WHERE (TANG_CA) = 0 AND (NGAY BETWEEN @TNGAY AND @DNGAY) AND (T1.ID_CN =@CN OR @CN =-1)   
    GROUP BY T1.ID_CN, NGAY 
       
    UPDATE #TBReport SET GIO_LV = ROUND(SO_GIO,2) FROM #TBReport T1 INNER JOIN #BTam T2 
    ON T1.ID_CN = T2.ID_CN AND T1.NGAY = T2.NGAY 
    
	--Cap nhat gio tang ca ngay thuong
    SELECT T1.ID_CN, NGAY, SUM(SG_LV_TT) AS SO_GIO 
    INTO #BTamTC
    FROM CHAM_CONG_CHI_TIET T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
    WHERE TANG_CA = 1 AND LOAI_GIO = 0 AND ISNULL(TC_DEM,0) = 0 AND ISNULL(CA_DEM,0) = 0
    AND (NGAY BETWEEN @TNGAY AND @DNGAY) AND (T1.ID_CN =@CN OR @CN =-1) 
    GROUP BY T1.ID_CN, T1.NGAY 
     
	UPDATE #TBReport SET GIO_NT = ROUND(SO_GIO,2) FROM #TBReport T1 INNER JOIN #BTamTC T2 ON T1.ID_CN = T2.ID_CN AND T1.NGAY = T2.NGAY 
   
	--Cap nhat gio tang ca chu nhat
    SELECT T1.ID_CN, NGAY, SUM(SG_LV_TT) AS SO_GIO 
    INTO #BTamCN
    FROM CHAM_CONG_CHI_TIET T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
    WHERE TANG_CA = 1 AND LOAI_GIO = 1 AND ISNULL(TC_DEM,0) = 0 AND ISNULL(CA_DEM,0) = 0
    AND (NGAY BETWEEN @TNGAY AND @DNGAY) AND (T1.ID_CN =@CN OR @CN =-1) 
    GROUP BY T1.ID_CN, T1.NGAY 
     
	UPDATE #TBReport SET GIO_CN = ROUND(SO_GIO,2) FROM #TBReport T1 INNER JOIN #BTamCN T2 ON T1.ID_CN = T2.ID_CN AND T1.NGAY = T2.NGAY
	   
	--Cap nhat gio tang ca ngay le
    SELECT T1.ID_CN, NGAY, SUM(SG_LV_TT) AS SO_GIO 
    INTO #BTamNL
    FROM CHAM_CONG_CHI_TIET T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
    WHERE TANG_CA = 1 AND LOAI_GIO = 2  AND ISNULL(TC_DEM,0) = 0 AND ISNULL(CA_DEM,0) = 0
    AND (NGAY BETWEEN @TNGAY AND @DNGAY) AND (T1.ID_CN =@CN OR @CN =-1) 
    GROUP BY T1.ID_CN, T1.NGAY 
     
	UPDATE #TBReport SET GIO_NL = ROUND(SO_GIO,2) FROM #TBReport T1 INNER JOIN #BTamNL T2 ON T1.ID_CN = T2.ID_CN AND T1.NGAY = T2.NGAY
	
	--Cap nhat gio tang dem
    SELECT T1.ID_CN, NGAY, SUM(SG_LV_TT) AS SO_GIO 
    INTO #BTamCD
    FROM CHAM_CONG_CHI_TIET T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
    WHERE TANG_CA = 1 AND TC_DEM = 1 
    AND (NGAY BETWEEN @TNGAY AND @DNGAY) AND (T1.ID_CN =@CN OR @CN =-1) 
    GROUP BY T1.ID_CN, T1.NGAY 
     
	UPDATE #TBReport SET GIO_DEM = ROUND(SO_GIO,2) FROM #TBReport T1 INNER JOIN #BTamCD T2 ON T1.ID_CN = T2.ID_CN AND T1.NGAY = T2.NGAY
	
	--Cap nhat tong gio
    UPDATE #TBReport SET TONG_GIO = ISNULL(GIO_LV,0) + ISNULL(GIO_NT,0) + ISNULL(GIO_CN,0) + ISNULL(GIO_NL,0) + ISNULL(GIO_DEM,0)
  
	--Cap nhat ly do vang
    UPDATE #TBReport SET LY_DO = A.LYDO FROM #TBReport B INNER JOIN (
	SELECT ID_CN, NGAY, T2.TEN_LDV AS LYDO FROM CHAM_CONG_CHI_TIET_VANG T1 INNER JOIN LY_DO_VANG T2 ON T1.ID_LDV = T2.ID_LDV 
	WHERE T1.NGAY BETWEEN @TNGAY AND @DNGAY GROUP BY ID_CN, T2.TEN_LDV, NGAY) A ON A.ID_CN = B.ID_CN And A.NGAY = B.NGAY
	

	SELECT T1.ID_CN, NGAY, GIO_DEN, GIO_VE  
	INTO #BTAMQT
	FROM DU_LIEU_QUET_THE T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN
	WHERE NGAY BETWEEN @TNGAY AND @DNGAY AND (T1.ID_CN =@CN OR @CN =-1) 
	
	SELECT ID_CN, NGAY, MIN(GIO_DEN) GD, MIN(GIO_VE) GV 
	INTO #BTAMQT1
	FROM #BTAMQT 
	WHERE NGAY BETWEEN @TNGAY AND @DNGAY
	GROUP BY ID_CN, NGAY
	
	DELETE FROM #BTAMQT FROM #BTAMQT QT INNER JOIN #BTAMQT1 QT1 ON QT.ID_CN = QT1.ID_CN AND QT.NGAY = QT1.NGAY AND QT.GIO_DEN = QT1.GD
	
	UPDATE #TBReport SET GIO_DEN = T2.GD, GIO_VE = T2.GV
	FROM #TBReport T1 INNER JOIN #BTAMQT1 T2 ON T1.NGAY = T2.NGAY AND T1.ID_CN = T2.ID_CN

	UPDATE #TBReport SET GIO_DEN1 = T2.GIO_DEN, GIO_VE1 = T2.GIO_VE
	FROM #TBReport T1 INNER JOIN #BTAMQT T2 ON T1.NGAY = T2.NGAY AND T1.ID_CN = T2.ID_CN
	
    SELECT * FROM #TBReport ORDER BY NGAY
END


