ALTER PROCEDURE [dbo].[rptDSNVTrungGio]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@NGAY Date = '20210301'
AS 
BEGIN
	DECLARE @TB TABLE (
		ID_CN INT,
		MS_CN nvarchar(20),
		HO_TEN nvarchar(100), 
		TEN_XN nvarchar(100), 
		TEN_TO nvarchar(100)
	)

	SELECT * INTO #CN FROM dbo.MGetListNhanSuToDate(@UName,@NNgu, @DVi, @XN, @TO, @NGAY)
		
	DECLARE @ID_CN Int
	DECLARE @NG Date
	DECLARE @Phut Int
	
	DECLARE cur CURSOR FOR 
		SELECT T1.NGAY, T1.ID_CN, T1.PHUT_DEN FROM DU_LIEU_QUET_THE T1 
		INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN
		WHERE T1.NGAY = @NGAY ORDER BY T1.ID_CN, T1.PHUT_DEN
	OPEN cur 
	FETCH NEXT FROM cur INTO @NG, @ID_CN, @Phut
	WHILE @@fetch_status=0
	BEGIN
		INSERT INTO @TB(ID_CN)
		SELECT T1.ID_CN
		FROM DU_LIEU_QUET_THE T1
		WHERE T1.NGAY = @NG AND T1.ID_CN = @ID_CN AND T1.PHUT_DEN <> @Phut
		AND @Phut BETWEEN PHUT_DEN AND PHUT_VE
		
		FETCH NEXT FROM cur INTO @NG, @ID_CN, @Phut
	END
	CLOSE cur
	DEALLOCATE cur
	
	UPDATE @TB SET MS_CN = T2.MS_CN, HO_TEN = T2.HO + ' ' + T2.TEN, TEN_XN = T2.TEN_XN, TEN_TO = T2.TEN_TO
	FROM @TB T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN
	
	SELECT * FROM @TB
END