ALTER PROCEDURE [dbo].[rptDSChamCongVangLuyKe]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@TNGAY Date = '20210301',
	@DNGAY Date = '20210331',
	@LDV NVARCHAR(100) = '-1'
AS 
BEGIN
	DECLARE @Chuoi nvarchar(4000)
	
	SELECT * INTO #CN FROM dbo.MGetListNhanSuFormToDate(@UName,@NNgu, @DVi, @XN, @TO, @TNGAY, @DNGAY)
	
	SET @Chuoi = 'SELECT T2.STT_XN, T2.STT_TO, T2.ID_CN, T2.MS_CN, T2.HO_TEN, T2.TEN_XN, T2.TEN_TO, T3.MS_LDV, 
	T3.TEN_LDV, ROUND(SUM(T1.SG_VANG/T4.SG_LV_QD),2) SGV_GD 
	INTO #VGD FROM CHAM_CONG_CHI_TIET_VANG T1 
	INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN
	INNER JOIN LY_DO_VANG T3 ON T1.ID_LDV = T3.ID_LDV 
	INNER JOIN CHAM_CONG T4 ON T1.NGAY = T4.NGAY AND T1.ID_CN = T4.ID_CN
	WHERE T1.NGAY BETWEEN ''' + CONVERT(nvarchar(10),@TNGAY,101) + ''' AND ''' + CONVERT(nvarchar(10),@DNGAY,101) + ''''
	
	IF (@LDV <> '-1') 
		BEGIN
			SET @Chuoi = @Chuoi + ' AND T1.ID_LDV IN (' + @LDV + ')'
		END
	SET @Chuoi = @Chuoi + ' GROUP BY T2.STT_XN, T2.STT_TO, T2.ID_CN, T2.MS_CN, T2.HO_TEN, T2.TEN_XN, T2.TEN_TO, T3.MS_LDV, T3.TEN_LDV' 
							
	SET @Chuoi = @Chuoi + ' SELECT T2.ID_CN, ROUND(SUM(T1.SG_VANG/T2.SG_LV_QD),2) SGV_NAM 
		INTO #VNAM FROM CHAM_CONG_CHI_TIET_VANG T1 
		INNER JOIN CHAM_CONG T2 ON T1.NGAY = T2.NGAY AND T1.ID_CN = T2.ID_CN
		WHERE T1.NGAY <= ''' + CONVERT(nvarchar(10),@DNGAY,101) + ''''
	IF (@LDV <> '-1') 
		BEGIN
			SET @Chuoi = @Chuoi + ' AND T1.ID_LDV IN (' + @LDV + ')'
		END
	SET @Chuoi = @Chuoi + ' GROUP BY T2.ID_CN' 

	SET @Chuoi = @Chuoi + ' SELECT T1.MS_CN, T1.HO_TEN, T1.TEN_XN, T1.TEN_TO, T1.MS_LDV, T1.TEN_LDV, T1.SGV_GD, T2.SGV_NAM 
		FROM #VGD T1 INNER JOIN #VNAM T2 ON T1.ID_CN = T2.ID_CN
		ORDER BY T1.STT_XN, T1.STT_TO, T1.TEN_TO, T1.MS_CN, T1.MS_LDV'
	
	EXEC (@Chuoi)

END


