ALTER PROCEDURE [dbo].[rptDSNVThieuNhomCa]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@NGAY Date = '20210301'
AS 
BEGIN
 
	SELECT * INTO #CN FROM dbo.MGetListNhanSuToDate(@UName,@NNgu, @DVi, @XN, @TO, @NGAY)
	
	SELECT T2.MS_CN, T2.HO_TEN, T2.TEN_XN, T2.TEN_TO, T1.GIO_DEN, T1.GIO_VE, T3.TEN_NHOM, T1.CA 
	FROM DU_LIEU_QUET_THE T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN 
	LEFT JOIN NHOM_CHAM_CONG T3 ON T1.ID_NHOM = T3.ID_NHOM
    WHERE (T1.NGAY = @NGAY ) AND (ISNULL(T1.ID_NHOM,'')='' OR ISNULL(CA,'') = '')
    ORDER BY T2.STT_XN, T2.STT_TO, T2.MS_CN
        
END


