ALTER PROCEDURE [dbo].[rptDSVangDauGioNgay]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@NGAY Date
AS 
BEGIN
 
	SELECT * INTO #CN FROM dbo.MGetListNhanSuToDate(@UName,@NNgu, @DVi, @XN, @TO, @NGAY)
	
    SELECT * INTO #BQT FROM DU_LIEU_QUET_THE WHERE NGAY = @NGAY
    
    SELECT T1.ID_CN, T1.MS_CN, T1.HO + ' ' + T1.TEN AS HO_TEN, @NGAY NGAY, 
         T1.STT_XN, T1.TEN_XN, T1.STT_TO, T1.TEN_TO, CONVERT(NVARCHAR(255),NULL) AS LY_DO_VANG 
         INTO #BC FROM #CN T1 
         WHERE T1.ID_CN NOT IN (SELECT DISTINCT ID_CN FROM #BQT)
         
    UPDATE #BC SET LY_DO_VANG = LYDOVANG FROM #BC INNER JOIN  
    ( SELECT LY_DO_VANG.TEN_LDV AS LYDOVANG, ID_CN FROM LY_DO_VANG INNER JOIN KE_HOACH_NGHI_PHEP 
    ON LY_DO_VANG.ID_LDV = KE_HOACH_NGHI_PHEP.ID_LDV WHERE @NGAY BETWEEN TU_NGAY AND DEN_NGAY ) A  ON A.ID_CN= #BC.ID_CN

	SELECT * FROM #BC
END


