ALTER PROCEDURE [dbo].[rptDSVangDauGioGiaiDoan]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@TNGAY Date ='2021-03-01',
	@DNGAY Date ='2021-03-31'
AS 
BEGIN
	DECLARE @NgayBD Date
	DECLARE @NgayKT Date
	
	SET @NgayBD = @TNGAY
	SET @NgayKT = @DNGAY
	
	SELECT * INTO #CN FROM dbo.MGetListNhanSuFormToDate(@UName,@NNgu, @DVi, @XN, @TO, @TNGAY, @DNGAY)

	Create Table #TBV (ID_CN bigInt, MS_CN nvarchar(20), HO_TEN nvarchar(100), STT_XN Int, TEN_XN nvarchar(100), STT_TO Int, 
	TEN_TO nvarchar(100), NGAY datetime, LY_DO_VANG nvarchar(200));
	
	WHILE @NgayBD <= @NgayKT
		BEGIN
			IF (DATENAME(dw,@NgayBD) != 'Sunday')
				BEGIN
					INSERT INTO #TBV (ID_CN, MS_CN, HO_TEN, STT_XN, TEN_XN, STT_TO, TEN_TO, NGAY)
					SELECT ID_CN, MS_CN, HO_TEN, STT_XN, TEN_XN, STT_TO, TEN_TO, @NgayBD
					FROM #CN WHERE ID_CN NOT IN (SELECT DISTINCT ID_CN FROM DU_LIEU_QUET_THE WHERE NGAY = @NgayBD)

					UPDATE #TBV SET LY_DO_VANG = LYDOVANG FROM #TBV INNER JOIN  
					( SELECT LY_DO_VANG.TEN_LDV AS LYDOVANG, ID_CN FROM LY_DO_VANG INNER JOIN KE_HOACH_NGHI_PHEP 
					ON LY_DO_VANG.ID_LDV = KE_HOACH_NGHI_PHEP.ID_LDV WHERE @NgayBD BETWEEN TU_NGAY AND DEN_NGAY ) A  ON A.ID_CN = #TBV.ID_CN
				END
			SET @NgayBD = DATEADD(D,1,@NgayBD)
		END
	SELECT * FROM #TBV ORDER BY STT_XN, STT_TO, MS_CN
END


