ALTER PROCEDURE [dbo].[rptDSNVVachTheLoi]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@NGAY Date = '20210301'
AS 
BEGIN

	SELECT * INTO #CN FROM dbo.MGetListNhanSuToDate(@UName,@NNgu, @DVi, @XN, @TO, @NGAY)
	
	SELECT T1.ID_CN, T3.MS_CN, T3.HO_TEN, T3.TEN_XN, T3.TEN_TO, T1.GIO_DEN, T1.GIO_VE, T4.TEN_NHOM, T1.CA
	FROM DU_LIEU_QUET_THE T1 INNER JOIN #CN T3 ON T1.ID_CN = T3.ID_CN
	INNER JOIN NHOM_CHAM_CONG T4 ON T1.ID_NHOM = T4.ID_NHOM
	WHERE T1.NGAY = @NGAY AND T1.ID_CN IN (SELECT ID_CN FROM DU_LIEU_QUET_THE WHERE NGAY = @NGAY AND PHUT_DEN = PHUT_VE)
	ORDER BY T3.STT_XN, T3.STT_TO, T3.MS_CN
END