ALTER PROCEDURE [dbo].[rptDSDiTreVeSomGiaiDoan]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@TNGAY DateTIME = '20210301',
	@DNGAY DateTIME = '20210331',
	@Loai INT = 3
AS 
BEGIN
 
	SELECT * INTO #CN FROM dbo.MGetListNhanSuFormToDate(@UName,@NNgu, @DVi, @XN, @TO, @TNGAY, @DNGAY)
	
	SELECT ID_NHOM, CA, MIN(PHUT_BD+TRU_DAU_GIO) PBD_SKT, MIN(PHUT_KT-TRU_CUOI_GIO) PKT_SKT, 
	MAX(PHUT_BD+TRU_DAU_GIO) PBD_CKT, MAX(PHUT_KT-TRU_CUOI_GIO) PKT_CKT, 
	MIN(PHUT_BD) PBD_S, MIN(PHUT_KT) PKT_S, MAX(PHUT_BD) PBD_C, MAX(PHUT_KT) PKT_C 
	INTO #CDLV FROM CHE_DO_LAM_VIEC 
	WHERE NGAY = (SELECT MAX(NGAY) FROM CHE_DO_LAM_VIEC WHERE NGAY <= @TNGAY) AND TANG_CA = 0
	GROUP BY ID_NHOM, CA
				
	IF @Loai = 1
		BEGIN
			SELECT T1.NGAY, T1.ID_CN, T3.MS_CN, T3.HO_TEN, T3.TEN_XN, T3.TEN_TO, T1.ID_NHOM, T1.CA, CONVERT(nvarchar(10),T1.GD,108) GIO_DEN,
			CASE WHEN T1.PD > T2.PBD_CKT AND T1.PD < T2.PKT_CKT THEN T1.PD - T2.PBD_C ELSE T1.PD - T2.PBD_S END PHUT_TRE, '' GIO_VE, 0 PHUT_VS 
			FROM (
				SELECT NGAY, ID_CN, ID_NHOM, CA, MIN(GIO_DEN) GD, MIN(PHUT_DEN) PD FROM DU_LIEU_QUET_THE 
				WHERE NGAY BETWEEN @TNGAY AND @DNGAY AND PHUT_DEN < PHUT_VE
				GROUP BY NGAY, ID_CN, ID_NHOM, CA
			) T1 INNER JOIN #CDLV T2 ON T1.ID_NHOM = T2.ID_NHOM AND T1.CA = T2.CA
			INNER JOIN #CN T3 ON T1.ID_CN = T3.ID_CN
			WHERE T1.PD > T2.PBD_SKT
			ORDER BY T3.STT_XN, T3.STT_TO, T3.MS_CN, T1.NGAY
		END
		
	IF @Loai = 2
		BEGIN
			SELECT T1.NGAY, T1.ID_CN, T3.MS_CN, T3.HO_TEN, T3.TEN_XN, T3.TEN_TO, T1.ID_NHOM, T1.CA, '' GIO_DEN, 0 PHUT_TRE,
			CONVERT(nvarchar(10),T1.GV,108) GIO_VE, CASE WHEN T1.PV > T2.PBD_CKT AND T1.PV < T2.PKT_CKT 
			THEN T2.PKT_C - T1.PV ELSE T2.PKT_S - T1.PV END PHUT_VS   
			FROM (
				SELECT NGAY, ID_CN, ID_NHOM, CA, MAX(GIO_VE) GV, MAX(PHUT_VE) PV FROM DU_LIEU_QUET_THE 
				WHERE NGAY BETWEEN @TNGAY AND @DNGAY AND PHUT_DEN < PHUT_VE				
				GROUP BY NGAY, ID_CN, ID_NHOM, CA
			) T1 INNER JOIN #CDLV T2 ON T1.ID_NHOM = T2.ID_NHOM AND T1.CA = T2.CA
			INNER JOIN #CN T3 ON T1.ID_CN = T3.ID_CN
			WHERE T1.PV < T2.PKT_CKT
			ORDER BY T3.STT_XN, T3.STT_TO, T3.MS_CN, T1.NGAY
		END 
	
	IF @Loai = 3
		BEGIN
			SELECT T1.NGAY, T1.ID_CN, CONVERT(nvarchar(10),T1.GD,108) GIO_DEN,
			CASE WHEN T1.PD > T2.PBD_CKT AND T1.PD < T2.PKT_CKT THEN T1.PD - T2.PBD_C ELSE T1.PD - T2.PBD_S END PHUT_TRE 
			INTO #DITRE FROM (
				SELECT NGAY, ID_CN, ID_NHOM, CA, MIN(GIO_DEN) GD, MIN(PHUT_DEN) PD FROM DU_LIEU_QUET_THE 
				WHERE NGAY BETWEEN @TNGAY AND @DNGAY AND PHUT_DEN < PHUT_VE
				GROUP BY NGAY, ID_CN, ID_NHOM, CA
			) T1 INNER JOIN #CDLV T2 ON T1.ID_NHOM = T2.ID_NHOM AND T1.CA = T2.CA
			WHERE T1.PD > T2.PBD_SKT
			
			SELECT T1.NGAY, T1.ID_CN, CONVERT(nvarchar(10),T1.GV,108) GIO_VE, 
			CASE WHEN T1.PV > T2.PBD_CKT AND T1.PV < T2.PKT_CKT THEN T2.PKT_C - T1.PV ELSE T2.PKT_S - T1.PV END PHUT_VS   
			INTO #VESOM FROM (
				SELECT NGAY, ID_CN, ID_NHOM, CA, MAX(GIO_VE) GV, MAX(PHUT_VE) PV FROM DU_LIEU_QUET_THE 
				WHERE NGAY BETWEEN @TNGAY AND @DNGAY AND PHUT_DEN < PHUT_VE
				GROUP BY NGAY, ID_CN, ID_NHOM, CA
			) T1 INNER JOIN #CDLV T2 ON T1.ID_NHOM = T2.ID_NHOM AND T1.CA = T2.CA
			INNER JOIN #CN T3 ON T1.ID_CN = T3.ID_CN
			WHERE T1.PV < T2.PKT_CKT
			
			SELECT T1.NGAY, T1.ID_CN, T4.MS_CN, T4.HO_TEN, T4.TEN_XN, T4.TEN_TO, ISNULL(T2.GIO_DEN,'') GIO_DEN, ISNULL(T2.PHUT_TRE,0) PHUT_TRE, 
			ISNULL(T3.GIO_VE,'') GIO_VE, ISNULL(T3.PHUT_VS,0) PHUT_VS
			FROM (
					SELECT NGAY, ID_CN FROM #DITRE
					UNION
					SELECT NGAY, ID_CN FROM #VESOM) T1 
			LEFT JOIN #DITRE T2 ON T1.NGAY = T2.NGAY AND T1.ID_CN = T2.ID_CN
			LEFT JOIN #VESOM T3 ON T1.NGAY = T3.NGAY AND T1.ID_CN = T3.ID_CN
			INNER JOIN #CN T4 ON T1.ID_CN = T4.ID_CN
		END       
END


