ALTER PROCEDURE [dbo].[rptDSVangNgayDV]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@DVi INT = -1,
	@XN INT = -1,
	@TO INT = -1,
	@DNgay Date = '20210301',
	@LoaiBC INT = 0
AS 
BEGIN
	SELECT * INTO #DSCN FROM [dbo].[MGetListNhanSuToDate](@UName, @NNgu, @DVi, @XN, @TO, @DNgay)
	
	DELETE FROM #DSCN 
	WHERE ID_CN IN (SELECT KHNP.ID_CN FROM KE_HOACH_NGHI_PHEP KHNP INNER JOIN LY_DO_VANG LDV ON KHNP.ID_LDV = LDV.ID_LDV
					WHERE LDV.MS_LDV = 'T3' AND @DNgay BETWEEN KHNP.TU_NGAY AND KHNP.DEN_NGAY)
	
	SELECT DISTINCT ID_CN, 0 SL INTO #DSQT FROM DU_LIEU_QUET_THE WHERE NGAY = @DNgay

	IF @LoaiBC = 1 --bao cao the don vi
		BEGIN
			SELECT T1.ID_DV, T1.TEN_DV, T1.ID_XN, ID_TO, STT_XN, STT_TO, TEN_XN, TEN_TO, 
			CONVERT(nvarchar(2),SUM(ISNULL(T2.SL,1))) + '/' + CONVERT(nvarchar(2),COUNT(T1.ID_CN)) SLCN 
			FROM #DSCN T1 LEFT JOIN #DSQT T2 ON T1.ID_CN = T2.ID_CN
			GROUP BY ID_DV, TEN_DV, ID_XN, ID_TO, STT_XN, STT_TO, TEN_XN, TEN_TO
			ORDER BY STT_XN, STT_TO
		END
	ELSE  --bao cao theo nhan vien
		BEGIN
			SELECT T1.ID_DV, T1.TEN_DV, T1.ID_XN, ID_TO, STT_XN, STT_TO, T1.MS_CN, T1.HO_TEN, TEN_XN, TEN_TO
			FROM #DSCN T1 LEFT JOIN #DSQT T2 ON T1.ID_CN = T2.ID_CN
			WHERE ISNULL(T2.ID_CN,0) = 0
			ORDER BY STT_XN, STT_TO, MS_CN			
		END
END