ALTER PROCEDURE [dbo].[rptKhenThuongKyLuatCN]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@ID_CN BIGINT,
	@TNgay Date,
	@DNgay Date, 
	@Loai INT = 0
AS 
BEGIN
	SET @Loai = @Loai + 1

	SELECT CN.MS_CN, CN.HO + ' ' + TEN HO_TEN, PB.TEN_TO BO_PHAN, KT.SO_QUYET_DINH, KT.NGAY_HIEU_LUC, KT.NGAY_KY,
	CASE @Loai WHEN 1 THEN N'Khen thưởng' ELSE N'Kỷ luật' END KT_KL, KT.NOI_DUNG,
	CASE @NNgu WHEN 0 THEN LKT.TEN_LOAI_KT WHEN 1 THEN LKT.TEN_LOAI_KT_A ELSE LKT.TEN_LOAI_KT_H END HINH_THUC_XL, NK.HO_TEN NGUOI_KY
	FROM KHEN_THUONG KT INNER JOIN CONG_NHAN CN ON KT.ID_CN = CN.ID_CN
	INNER JOIN (SELECT * FROM dbo.MGetToUser(@UName,@NNgu)) PB ON CN.ID_TO = PB.ID_TO
	INNER JOIN LOAI_KHEN_THUONG LKT ON KT.LOAI_KT = LKT.ID_LOAI_KT
	LEFT JOIN NGUOI_KY_GIAY_TO NK ON KT.ID_NK = NK.ID_NK
	WHERE KT.ID_CN = @ID_CN AND KT.ID_KT_KL = @Loai AND KT.NGAY_HIEU_LUC BETWEEN @TNgay AND @DNgay
END


