ALTER PROCEDURE [dbo].[rptPhuLucHopDong]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@ID_HDLD BIGINT,
	@SO_PLHD NVARCHAR(30)
AS 
BEGIN
	--SELECT TOP 1 
	--CASE @NNgu WHEN 0 THEN TEN_CTY WHEN 1 THEN TEN_CTY_A ELSE TEN_CTY_H END TEN_CTY , 
	--CASE @NNgu WHEN 0 THEN TEN_NGAN WHEN 1 THEN TEN_NGAN_A ELSE TEN_NGAN_H END TEN_NGAN, 	
 --   CASE @NNgu WHEN 0 THEN DIA_CHI WHEN 1 THEN DIA_CHI_A ELSE DIA_CHI_H END DIA_CHI, DIEN_THOAI, FAX, LOGO
	--FROM dbo.THONG_TIN_CHUNG 
	
	SELECT NK.HO_TEN TEN_NK, NK.QUOC_TICH QTNK, NK.NGAY_SINH NSNK, 'Nam' GT, NK.SO_CMND CM_NK, NK.CAP_NGAY NGAY_CAP_NK, NK.NOI_CAP NOI_CAP_NK,
	NK.DIA_CHI DC_NK, NK.CHUC_VU CV_NK, DV.TEN_DV, DV.DIA_CHI DC_DV, DV.DIEN_THOAI DT_DV, PLHD.SO_PLHD,
	CN.MS_CN, CN.HO + ' ' + CN.TEN HO_TEN, QG.TEN_QG QTICHNV, CN.NGAY_SINH SINH_NGAY, CN.NOI_SINH,
	CASE WHEN CN.PHAI = 1 THEN 'Nam' ELSE N'Nữ' END GIOI_TINH, LCV.TEN_LCV CONG_VIEC, CN.DIA_CHI_THUONG_TRU DIA_CHI_NV,
	CN.SO_CMND, CN.NGAY_CAP, TP.TEN_TP NOI_CAP, HDLD.SO_HDLD, CONVERT(nvarchar(10),HDLD.NGAY_KY,103) NGAY_KY, PLHD.NOI_DUNG_THAY_DOI, PLHD.THOI_GIAN_THUC_HIEN
	FROM HOP_DONG_LAO_DONG HDLD INNER JOIN PHU_LUC_HDLD PLHD ON HDLD.ID_HDLD = PLHD.ID_HDLD
	INNER JOIN CONG_NHAN CN ON HDLD.ID_CN = CN.ID_CN
	INNER JOIN QUOC_GIA QG ON CN.ID_QG = QG.ID_QG LEFT JOIN LOAI_CONG_VIEC LCV ON LCV.ID_LCV = CN.ID_LCV
	LEFT JOIN NGUOI_KY_GIAY_TO NK ON HDLD.NGUOI_KY_GIA_HAN = NK.ID_NK
	LEFT JOIN THANH_PHO TP ON CN.NOI_CAP = TP.ID_TP
	INNER JOIN [TO] T ON CN.ID_TO = T.ID_TO INNER JOIN XI_NGHIEP XN ON T.ID_XN = XN.ID_XN INNER JOIN DON_VI DV ON XN.ID_DV = DV.ID_DV
	WHERE HDLD.ID_HDLD = @ID_HDLD AND PLHD.SO_PLHD = @SO_PLHD
END


