ALTER PROCEDURE [dbo].[rptQuyetDinhLuongCN]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@ID_CN BIGINT,
	@ID_SQD BIGINT
AS 
BEGIN
	
	SELECT CN.MS_CN, CN.HO + ' ' + TEN HO_TEN, SO_QUYET_DINH, CN.NGAY_SINH, CN.DIA_CHI_THUONG_TRU, LUONG.NGAY_HIEU_LUC, CVU.TEN_CV CHUC_VU,
	LUONG.HS_LUONG ML, ISNULL(LUONG.THUONG_CHUYEN_CAN,0) + ISNULL(LUONG.PC_DOC_HAI,0) + ISNULL(LUONG.THUONG_HT_CV,0) 
	+ ISNULL(LUONG.PC_KY_NANG,0) + ISNULL(LUONG.PC_SINH_HOAT,0) PHU_CAP, PB.TEN_DV, PB.TEN_XN, PB.TEN_TO, NK.CHUC_VU CV_NK, NK.HO_TEN HO_TEN_NK
	FROM LUONG_CO_BAN LUONG INNER JOIN CONG_NHAN CN ON LUONG.ID_CN = CN.ID_CN
	INNER JOIN (SELECT * FROM dbo.MGetToUser(@UName,@NNgu)) PB ON PB.ID_TO = CN.ID_TO
	INNER JOIN CHUC_VU CVU ON CN.ID_CV = CVU.ID_CV
	LEFT JOIN NGUOI_KY_GIAY_TO NK ON LUONG.ID_NK = NK.ID_NK
	WHERE LUONG.ID_LCB = @ID_SQD AND LUONG.ID_CN = @ID_CN
END


