ALTER PROCEDURE [dbo].[rptToKhaiCapSoBHXH]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@ID_HDLD BIGINT,
	@ID_CN BIGINT
AS 
BEGIN
	SELECT CN.MS_CN, CN.HO + ' ' + CN.TEN HO_TEN, CN.SO_BHXH, CN.NGAY_SINH, CASE WHEN CN.PHAI = 1 THEN 'Nam' ELSE N'Nữ' END GIOI_TINH,
	CN.SO_CMND, QG.TEN_QG QUOC_TICH, PX.TEN_PX TEN_XA, Q.TEN_QUAN, TP.TEN_TP, CN.THON_XOM, CN.DIA_CHI_THUONG_TRU,
	PXTT.TEN_PX TEN_XA_TT, QTT.TEN_QUAN TEN_QUAN_TT, TPTT.TEN_TP TEN_TP_TT, CN.THON_XOM_TAM_TRU, CN.DIA_CHI_TAM_TRU,
	HDLD.MUC_LUONG_THUC_LINH, DSBV.MS_BV NOI_KCB, TDTK.NOI_DUNG_THAY_DOI, TDTK.TAI_LIEU_KEM_THEO 
	FROM HOP_DONG_LAO_DONG HDLD 
	INNER JOIN CONG_NHAN CN ON HDLD.ID_CN = CN.ID_CN
	INNER JOIN QUOC_GIA QG ON CN.ID_QG = QG.ID_QG LEFT JOIN LOAI_CONG_VIEC LCV ON LCV.ID_LCV = CN.ID_LCV
	LEFT JOIN NGUOI_KY_GIAY_TO NK ON HDLD.NGUOI_KY_GIA_HAN = NK.ID_NK
	LEFT JOIN THANH_PHO TP ON CN.ID_TP = TP.ID_TP
	LEFT JOIN PHUONG_XA PX ON CN.ID_PX = PX.ID_PX
	LEFT JOIN [QUAN] Q ON CN.ID_QUAN = Q.ID_QUAN
	LEFT JOIN THANH_PHO TPTT ON CN.ID_TP_TAM_TRU = TPTT.ID_TP
	LEFT JOIN PHUONG_XA PXTT ON CN.ID_PX_TAM_TRU = PXTT.ID_PX
	LEFT JOIN [QUAN] QTT ON CN.ID_QUAN_TAM_TRU = QTT.ID_QUAN
	LEFT JOIN BAO_HIEM_Y_TE BHYT ON CN.ID_CN = BHYT.ID_CN
	LEFT JOIN DANH_SACH_BENH_VIEN DSBV ON BHYT.ID_BV = DSBV.ID_BV
	LEFT JOIN THAY_DOI_TO_KHAI_BHXH TDTK ON HDLD.ID_HDLD = TDTK.ID_HDLD
	INNER JOIN [TO] T ON CN.ID_TO = T.ID_TO INNER JOIN XI_NGHIEP XN ON T.ID_XN = XN.ID_XN INNER JOIN DON_VI DV ON XN.ID_DV = DV.ID_DV
	WHERE HDLD.ID_HDLD = @ID_HDLD AND HDLD.ID_CN = @ID_CN
END


