ALTER PROCEDURE [dbo].[rptXepLoaiKhenThuong]
	@NamThang DATE = '2021-01-01',
    @UName NVARCHAR(100) ='admin',
	@NNgu INT = 0,
	@DVi BIGINT = -1,
	@XN BIGINT = -1,
	@TO BIGINT = -1,
	@LoaiBC INT = 2 -- 1 == > BC Thang ;  2 BC Nam
AS
BEGIN
	DECLARE @TNgay Date
	DECLARE @DNgay Date
	
	SET @TNgay = @NamThang
	IF @LoaiBC = 1 
		SET @DNgay = DATEADD(M,1,@TNgay)
	ELSE
		SET @DNgay = DATEADD(Y,1,@TNgay)
		 
	SET @DNgay = DATEADD(D,-1,@DNgay)
	
	SELECT * INTO #CN FROM dbo.MGetListNhanSuFormToDate(@UName,@NNgu,@DVi,@XN,@TO,@TNgay,@DNgay)
	
		
--SELECT DISTINCT  T1.HO_TEN,T1.MS_CN,T1.ID_CN,  T1.HO, T1.TEN,T1.NGAY_SINH,T1.NAM_SINH,T1.ID_TO,T1.NGAY_NGHI_VIEC,T1.TEN_TO,T2.STT_TO, T1.TEN_XN,T3.STT_XN,T4.ID_CV,
--CASE @NNgu WHEN 0 THEN T5.TEN_LCV WHEN 1 THEN ISNULL(NULLIF(T5.TEN_LCV_A, ''), T5.TEN_LCV)ELSE ISNULL(NULLIF(T5.TEN_LCV_H, ''), T5.TEN_LCV)END AS TEN_LCV
--INTO	#ToUser
--FROM dbo.MGetListNhanSu(@DVi, @XN, @TO, 0, @UName, @NNgu) T1 LEFT JOIN dbo.[TO] T2 ON T2.ID_TO = T1.ID_TO LEFT JOIN dbo.XI_NGHIEP T3 ON T3.ID_XN = T1.ID_XN LEFT JOIN dbo.CONG_NHAN T4 ON T1.ID_CN = T4.ID_CN LEFT JOIN dbo.LOAI_CONG_VIEC T5 ON T5.ID_LCV = T4.ID_LCV

	SELECT T3.ID_LXL, CASE @NNgu WHEN 0 THEN T3.TEN_LXL WHEN 1 THEN ISNULL(NULLIF(T3.TEN_LXL_A, ''), T3.TEN_LXL)ELSE ISNULL(NULLIF(T3.TEN_LXL_H, ''), 
	T3.TEN_LXL)END AS TEN_LXL INTO #LXL FROM dbo.LOAI_XEP_LOAI T3

	--Bao Cao thang
	IF @LoaiBC = 1 
		BEGIN
			SELECT  ROW_NUMBER() OVER (ORDER BY T2.STT_XN,T2.STT_TO, T2.MS_CN) AS STT, T2.HO_TEN, T2.MS_CN, 
			T2.TEN_XN, T2.TEN_TO, T4.TEN_LCV AS CONG_VIEC, T3.TEN_LXL, T1.GHI_CHU
			FROM KHEN_THUONG_THANG T1 INNER JOIN #CN T2 ON T1.ID_CN = T2.ID_CN LEFT JOIN #LXL T3 ON T3.ID_LXL = T1.ID_LXL
			LEFT JOIN LOAI_CONG_VIEC T4 ON T2.ID_LCV = T4.ID_LCV
			WHERE (T1.THANG_KTT = @NamThang)
			ORDER BY T2.STT_XN, T2.STT_TO, T2.MS_CN, T2.HO_TEN
		END

	-- Báo cao nam
	IF @LoaiBC = 2 
	BEGIN
		SELECT T.ID_CN, T.HO_TEN, T.MS_CN, T.TEN_XN, T.TEN_TO, T.CONG_VIEC, T.STT_XN,T.STT_TO,  
			CONVERT(NVARCHAR(255),[1]) AS [1] , CONVERT(NVARCHAR(255),[2]) AS [2] , CONVERT(NVARCHAR(255),[3]) AS [3] , CONVERT(NVARCHAR(255),[4]) AS [4] , 
			CONVERT(NVARCHAR(255),[5]) AS [5] , CONVERT(NVARCHAR(255),[6]) AS [6] , CONVERT(NVARCHAR(255),[7]) AS [7] ,CONVERT(NVARCHAR(255),[8]) AS [8] , 
			CONVERT(NVARCHAR(255),[9]) AS [9], CONVERT(NVARCHAR(255),[10]) AS [10], CONVERT(NVARCHAR(255),[11]) AS [11], CONVERT(NVARCHAR(10),[12]) AS [12] 
		INTO	#KTNam
		FROM
			(SELECT DISTINCT T1.ID_CN,T2.HO_TEN,T2.MS_CN,T2.TEN_XN,T2.TEN_TO,T3.TEN_LCV AS CONG_VIEC,T2.STT_XN,T2.STT_TO,
			MONTH(THANG_KTT) AS THANG,ID_LXL FROM dbo.KHEN_THUONG_THANG T1	INNER JOIN #CN T2 ON T2.ID_CN = T1.ID_CN
			LEFT JOIN LOAI_CONG_VIEC T3 ON T2.ID_LCV = T3.ID_LCV
			WHERE YEAR(T1.THANG_KTT) = YEAR(@NamThang)
			) p
		PIVOT 
			(SUM(ID_LXL)  FOR [THANG] IN ([1], [2], [3], [4], [5], [6], [7],[8],[9],[10],[11],[12])) AS T 


		SELECT ROW_NUMBER() OVER (ORDER BY T.STT_XN,T.STT_TO,T.HO_TEN,T.MS_CN) AS STT,T.ID_CN, T.ID_CN, T.HO_TEN, T.MS_CN, T.TEN_XN, T.TEN_TO, T.CONG_VIEC, T1.TEN_LXL AS T1, T2.TEN_LXL AS T2, T3.TEN_LXL AS T3, T4.TEN_LXL AS T4, T5.TEN_LXL AS T5, T6.TEN_LXL AS T6, T7.TEN_LXL AS T7, T8.TEN_LXL AS T8, T9.TEN_LXL AS T9, T10.TEN_LXL AS T10, 
								 T11.TEN_LXL AS T11, T12.TEN_LXL AS T12
		FROM            #KTNam AS T LEFT OUTER JOIN
								 #LXL AS T1 ON T.[1] = T1.ID_LXL LEFT OUTER JOIN
								 #LXL AS T2 ON T.[2] = T2.ID_LXL LEFT OUTER JOIN
								 #LXL AS T3 ON T.[3] = T3.ID_LXL LEFT OUTER JOIN
								 #LXL AS T4 ON T.[4] = T4.ID_LXL LEFT OUTER JOIN
								 #LXL AS T5 ON T.[5] = T5.ID_LXL LEFT OUTER JOIN
								 #LXL AS T6 ON T.[6] = T6.ID_LXL LEFT OUTER JOIN
								 #LXL AS T7 ON T.[7] = T7.ID_LXL LEFT OUTER JOIN
								 #LXL AS T8 ON T.[8] = T8.ID_LXL LEFT OUTER JOIN
								 #LXL AS T9 ON T.[9] = T9.ID_LXL LEFT OUTER JOIN
								 #LXL AS T10 ON T.[10] = T10.ID_LXL LEFT OUTER JOIN
								 #LXL AS T11 ON T.[11] = T11.ID_LXL LEFT OUTER JOIN
								 #LXL AS T12 ON T.[12] = T12.ID_LXL
		ORDER BY T.STT_XN,T.STT_TO,T.HO_TEN,T.MS_CN
	END

END