ALTER PROCEDURE [dbo].[spGetListToKhaiBHXH]
	@ID_HDLD BIGINT =24,
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
	SELECT SO_TK,NOI_DUNG_THAY_DOI,TAI_LIEU_KEM_THEO FROM dbo.THAY_DOI_TO_KHAI_BHXH WHERE ID_HDLD =@ID_HDLD
END






