ALTER PROCEDURE [dbo].[spGetListNoiDungDanhGia]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
SELECT ID_NDDG,
CASE @NNgu WHEN 0 THEN TEN_NDDG WHEN 1 THEN ISNULL(NULLIF(TEN_NDDG_A,''),TEN_NDDG) ELSE ISNULL(NULLIF(TEN_NDDG_H,''),TEN_NDDG) END  AS TEN_NDDG,TEN_NDDG AS TEN_NDDG_V,TEN_NDDG_A,TEN_NDDG_H
FROM dbo.NOI_DUNG_DANH_GIA
END






