ALTER PROCEDURE [dbo].[spGetComboTinhTrangHD]
	@Username NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@CoAll BIT=1
AS 
BEGIN
IF @CoAll = 1
	BEGIN
		SELECT * FROM (
		SELECT ID_TT_HD,CASE @NNgu WHEN 0 THEN TEN_TT_HD WHEN 1 THEN ISNULL(NULLIF(TEN_TT_HD_A,''),TEN_TT_HD) ELSE ISNULL(NULLIF(TEN_TT_HD_H,''),TEN_TT_HD) END AS TEN_TT_HD FROM dbo.TINH_TRANG_HD
		UNION 
		SELECT -1,'< All >')T
		ORDER BY T.TEN_TT_HD
	END
ELSE
	BEGIN
		SELECT ID_TT_HD,CASE @NNgu WHEN 0 THEN TEN_TT_HD WHEN 1 THEN ISNULL(NULLIF(TEN_TT_HD_A,''),TEN_TT_HD) ELSE ISNULL(NULLIF(TEN_TT_HD_H,''),TEN_TT_HD) END AS TEN_TT_HD FROM dbo.TINH_TRANG_HD ORDER BY TEN_TT_HD
	END	
END	
