ALTER PROCEDURE [dbo].[spGetComboXI_NGHIEP]
	@ID_DV BIGINT =1,
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@CoAll INT =1
AS
BEGIN
IF @CoAll = 1
BEGIN
SELECT DISTINCT  ID_XN, TEN_XN  FROM dbo.MGetToUser(@UName,@NNgu) WHERE ID_DV =@ID_DV OR @ID_DV =-1
UNION SELECT -1,'< All >'
ORDER BY TEN_XN
END	
ELSE
SELECT DISTINCT ID_XN, TEN_XN FROM dbo.MGetToUser(@UName,@NNgu) WHERE ID_DV =@ID_DV OR @ID_DV =-1
ORDER BY TEN_XN
END
select*from XI_NGHIEP
