ALTER PROCEDURE [dbo].[spGetComboTO]
	@ID_DV BIGINT =1,
	@ID_XN BIGINT =3,
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@CoAll INT =1
AS
BEGIN
IF @CoAll = 1
BEGIN
SELECT  ID_TO, TEN_TO FROM dbo.MGetToUser(@UName,@NNgu) WHERE (ID_DV =@ID_DV OR @ID_DV =-1) AND (ID_XN =@ID_XN OR @ID_XN = -1)
UNION SELECT -1, '< All >'
ORDER BY  TEN_TO
END	
ELSE
SELECT  ID_TO, TEN_TO FROM dbo.MGetToUser(@UName,@NNgu) WHERE (ID_DV =@ID_DV OR @ID_DV =-1) AND (ID_XN =@ID_XN OR @ID_XN = -1)
ORDER BY  TEN_TO
END


