ALTER PROCEDURE [dbo].[spGetComboNoiDungDanhGia]
	@Username NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@CoAll BIT=1
AS 
BEGIN
IF @CoAll = 1
	BEGIN
		SELECT * FROM (SELECT ID_NDDG,CASE @NNgu WHEN 0 THEN TEN_NDDG WHEN 1 THEN ISNULL(NULLIF(TEN_NDDG_A,''),TEN_NDDG) 
		ELSE ISNULL(NULLIF(TEN_NDDG_H,''),TEN_NDDG) END AS TEN_NDDG FROM dbo.NOI_DUNG_DANH_GIA
		UNION 
		SELECT -1,'< All >')T
		ORDER BY T.TEN_NDDG
	END
ELSE
	BEGIN
		SELECT ID_NDDG,CASE @NNgu WHEN 0 THEN TEN_NDDG WHEN 1 THEN ISNULL(NULLIF(TEN_NDDG_A,''),TEN_NDDG) ELSE ISNULL(NULLIF(TEN_NDDG_H,''),TEN_NDDG) END AS TEN_NDDG FROM dbo.NOI_DUNG_DANH_GIA
		ORDER BY TEN_NDDG
	END	
END	


