ALTER PROCEDURE [dbo].[spGetComboBacLuong]
	@ID_NL BIGINT = 1,
	@Username NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@CoAll BIT=1
AS 
BEGIN
IF @CoAll = 1
BEGIN
SELECT * FROM(
SELECT ID_BL,TEN_BL FROM dbo.BAC_LUONG WHERE ID_NL = @ID_NL OR @ID_NL = '-1'
UNION 
SELECT -1,'< All >'
)T
ORDER BY TEN_BL
END
ELSE
BEGIN
SELECT ID_BL,TEN_BL FROM dbo.BAC_LUONG WHERE ID_NL = @ID_NL OR @ID_NL = '-1'
ORDER BY TEN_BL
END
END

	

