ALTER PROCEDURE [dbo].[spGetComboDON_VI]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@CoAll INT =1
AS
BEGIN
IF @CoAll = 1
BEGIN
SELECT  ID_DV, TEN_NGAN TEN_DV  FROM dbo.MGetToUser(@UName,@NNgu)
UNION SELECT -1,'< All >'
ORDER BY TEN_DV
END	
ELSE
SELECT DISTINCT ID_DV, TEN_NGAN TEN_DV  FROM dbo.MGetToUser(@UName,@NNgu)
ORDER BY TEN_DV
END