
ALTER PROCEDURE [dbo].[spGetComboNgachLuong]
	@Username NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@CoAll BIT=1
AS 
BEGIN
IF(@CoAll = 1)
BEGIN
SELECT * FROM (
SELECT ID_NL,CASE @NNgu WHEN 0 THEN TEN_NL WHEN 1 THEN ISNULL(NULLIF(TEN_NL_A,''),TEN_NL) ELSE ISNULL(NULLIF(TEN_NL_H,''),TEN_NL) END 
AS TEN_NL FROM dbo.NGACH_LUONG
UNION 
SELECT -1,'< All >')T
ORDER BY T.TEN_NL
END 
ELSE

BEGIN
SELECT ID_NL,CASE @NNgu WHEN 0 THEN TEN_NL WHEN 1 THEN ISNULL(NULLIF(TEN_NL_A,''),TEN_NL) ELSE ISNULL(NULLIF(TEN_NL_H,''),TEN_NL) END 
AS TEN_NL FROM dbo.NGACH_LUONG
ORDER BY TEN_NL
END	

END	

