ALTER PROCEDURE [dbo].[spGetListCONG_DOAN]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT ID_CD, NHOM_HANG_HOA.TEN_NHH, CUM.TEN_CUM, MS_CD, TEN_CD, HSBT.TEN_BAC_THO, TGTK, LOAI_MAY.TEN_LOAI_MAY, NGAY_LAP, YEU_CAU_KT, CU_GA_LAP
	FROM CONG_DOAN 
	INNER JOIN CUM ON CONG_DOAN.ID_CUM = CUM.ID_CUM 
	INNER JOIN NHOM_HANG_HOA ON CUM.ID_NHH= NHOM_HANG_HOA.ID_NHH
	INNER JOIN HSBT ON CONG_DOAN.ID_BT = HSBT.ID_BT 
	INNER JOIN LOAI_MAY ON CONG_DOAN.ID_LM = LOAI_MAY.ID_LM
	ORDER BY TEN_NHH, TEN_CUM, TEN_CD
END

