ALTER PROCEDURE  [dbo].[spGetListNHOM_CHAM_CONG]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT [ID_NHOM]
	      ,CASE @NNgu WHEN 0 THEN T1.TEN_NHOM 
	           WHEN 1 THEN ISNULL(NULLIF(T1.TEN_NHOM_A,''),TEN_NHOM) 
	           ELSE ISNULL(NULLIF(T1.TEN_NHOM_H,''),T1.TEN_NHOM) END 
	           AS [TEN_NHOM]
	      ,CA_TU_DONG
	FROM NHOM_CHAM_CONG T1 
	ORDER BY CASE @NNgu WHEN 0 THEN T1.TEN_NHOM 
	           WHEN 1 THEN ISNULL(NULLIF(T1.TEN_NHOM_A,''),TEN_NHOM) 
	           ELSE ISNULL(NULLIF(T1.TEN_NHOM_H,''),T1.TEN_NHOM) END 
END