ALTER PROCEDURE [dbo].[spGetListNGACH_LUONG]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT T1.ID_NL,T1.MS_NL, CASE @NNgu WHEN 0 THEN T1.TEN_NL WHEN 1 THEN ISNULL(NULLIF(T1.TEN_NL_A,''),T1.TEN_NL) 
	ELSE ISNULL(NULLIF(T1.TEN_NL_H,''),T1.TEN_NL) END AS TEN_NL 
	FROM NGACH_LUONG T1 ORDER BY T1.MS_NL
END
