ALTER PROCEDURE [dbo].[spGetListLOAI_TRINH_DO]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT [ID_LOAI_TD], CASE @NNgu WHEN 0 THEN T1.TEN_LOAI_TD WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LOAI_TD_A,''),TEN_LOAI_TD) 
	ELSE ISNULL(NULLIF(T1.TEN_LOAI_TD_H,''),T1.TEN_LOAI_TD) END AS  [TEN_LOAI_TD]FROM LOAI_TRINH_DO T1 
	ORDER BY CASE @NNgu WHEN 0 THEN T1.TEN_LOAI_TD WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LOAI_TD_A,''),TEN_LOAI_TD) 
	ELSE ISNULL(NULLIF(T1.TEN_LOAI_TD_H,''),T1.TEN_LOAI_TD) END 
END
