ALTER PROCEDURE [dbo].[spGetListQUOC_GIA]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT T1.ID_QG,T1.MA_QG,CASE @NNgu WHEN 0 THEN T1.TEN_QG WHEN 1 THEN ISNULL(NULLIF(T1.TEN_QG_A,''),TEN_QG) ELSE ISNULL(NULLIF(T1.TEN_QG_H,''),T1.TEN_QG) END AS TEN_QG FROM QUOC_GIA T1
	ORDER BY TEN_QG
END
