ALTER PROCEDURE [dbo].[spGetListTHANH_PHO]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT = 1
AS 
BEGIN  
	SELECT T1.ID_TP,
	CASE @NNgu WHEN 0 THEN T2.TEN_QG WHEN 1 THEN ISNULL(NULLIF(T2.TEN_QG_A,''),T2.TEN_QG) ELSE ISNULL(NULLIF(T2.TEN_QG_H,''),T2.TEN_QG) END AS TEN_QG,
	CASE @NNgu WHEN 0 THEN T1.TEN_TP WHEN 1 THEN ISNULL(NULLIF(T1.TEN_TP_A,''),TEN_TP) ELSE ISNULL(NULLIF(T1.TEN_TP_H,''),T1.TEN_TP) END AS TEN_TP,T1.MS_TINH,T1.ID_QG FROM THANH_PHO T1 INNER JOIN dbo.QUOC_GIA T2 ON T1.ID_QG = T2.ID_QG 
	ORDER BY CASE @NNgu WHEN 0 THEN T2.TEN_QG WHEN 1 THEN ISNULL(NULLIF(T2.TEN_QG_A,''),T2.TEN_QG) ELSE ISNULL(NULLIF(T2.TEN_QG_H,''),T2.TEN_QG) END ,CASE @NNgu WHEN 0 THEN T1.TEN_TP WHEN 1 THEN ISNULL(NULLIF(T1.TEN_TP_A,''),TEN_TP) ELSE ISNULL(NULLIF(T1.TEN_TP_H,''),T1.TEN_TP) END
END
