ALTER PROCEDURE [dbo].[spGetListPHUONG_XA]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT T1.ID_PX,
	CASE @NNgu WHEN 0 THEN T3.TEN_TP WHEN 1 THEN ISNULL(NULLIF(T3.TEN_TP_A,''),T3.TEN_TP) ELSE ISNULL(NULLIF(T3.TEN_TP_H,''),T3.TEN_TP) END AS TEN_TP,
	CASE @NNgu WHEN 0 THEN T2.TEN_QUAN WHEN 1 THEN ISNULL(NULLIF(T2.TEN_QUAN_A,''),T2.TEN_QUAN) ELSE ISNULL(NULLIF(T2.TEN_QUAN_H,''),T2.TEN_QUAN) END AS TEN_QUAN,
	CASE @NNgu WHEN 0 THEN T1.TEN_PX WHEN 1 THEN ISNULL(NULLIF(T1.TEN_PX_A,''),TEN_PX) ELSE ISNULL(NULLIF(T1.TEN_PX_H,''),T1.TEN_PX) END AS TEN_PX,           
	T1.ID_QUAN,T1.MS_XA 
	FROM PHUONG_XA T1 INNER JOIN dbo.QUAN T2 ON	T2.ID_QUAN = T1.ID_QUAN INNER JOIN dbo.THANH_PHO T3 ON T3.ID_TP = T2.ID_TP
	ORDER BY 
	CASE @NNgu WHEN 0 THEN T3.TEN_TP WHEN 1 THEN ISNULL(NULLIF(T3.TEN_TP_A,''),T3.TEN_TP) ELSE ISNULL(NULLIF(T3.TEN_TP_H,''),T3.TEN_TP) END ,
	CASE @NNgu WHEN 0 THEN T2.TEN_QUAN WHEN 1 THEN ISNULL(NULLIF(T2.TEN_QUAN_A,''),T2.TEN_QUAN) ELSE ISNULL(NULLIF(T2.TEN_QUAN_H,''),T2.TEN_QUAN) END ,
	CASE @NNgu WHEN 0 THEN T1.TEN_PX WHEN 1 THEN ISNULL(NULLIF(T1.TEN_PX_A,''),TEN_PX) ELSE ISNULL(NULLIF(T1.TEN_PX_H,''),T1.TEN_PX) END 
END
