ALTER PROCEDURE [dbo].[spGetListQUAN]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT T1.ID_QUAN,T1.MS_QUAN,
	CASE @NNgu WHEN 0 THEN T2.TEN_TP WHEN 1 THEN ISNULL(NULLIF(T2.TEN_TP_A,''),T2.TEN_TP) ELSE ISNULL(NULLIF(T2.TEN_TP_H,''),T2.TEN_TP) END AS TEN_TP,
	CASE @NNgu WHEN 0 THEN T1.TEN_QUAN WHEN 1 THEN ISNULL(NULLIF(T1.TEN_QUAN_A,''),TEN_QUAN) ELSE ISNULL(NULLIF(T1.TEN_QUAN_H,''),T1.TEN_QUAN) END AS TEN_QUAN, T1.ID_TP 
	FROM QUAN T1 INNER JOIN dbo.THANH_PHO T2 ON T2.ID_TP = T1.ID_TP
	ORDER BY CASE @NNgu WHEN 0 THEN T2.TEN_TP WHEN 1 THEN ISNULL(NULLIF(T2.TEN_TP_A,''),T2.TEN_TP) ELSE ISNULL(NULLIF(T2.TEN_TP_H,''),T2.TEN_TP) END ,
    CASE @NNgu WHEN 0 THEN T1.TEN_QUAN WHEN 1 THEN ISNULL(NULLIF(T1.TEN_QUAN_A,''),TEN_QUAN) ELSE ISNULL(NULLIF(T1.TEN_QUAN_H,''),T1.TEN_QUAN) END 
END
