ALTER PROCEDURE [dbo].[spGetListCHUC_VU]    
	@UserName NVARCHAR(100) ='Admin',
	@NNgu INT =0
AS 
BEGIN
	SELECT [ID_CV],[MS_CV],CASE @NNgu WHEN 0 THEN T1.TEN_CV WHEN 1 THEN ISNULL(NULLIF(T1.TEN_CV_A,''),T1.TEN_CV) 
	ELSE ISNULL(NULLIF(T1.TEN_CV_H,''),T1.TEN_CV) END AS [TEN_CV], 
	CASE @NNgu WHEN 0 THEN T2.TEN_LOAI_CV WHEN 1 THEN ISNULL(NULLIF(T2.TEN_LOAI_CV_A,''),T2.TEN_LOAI_CV) 
	ELSE ISNULL(NULLIF(T2.TEN_LOAI_CV_H,''),T2.TEN_LOAI_CV) END AS TEN_LOAI_CV,
	[STT_IN_CV],T1.[ID_LOAI_CV] FROM [dbo].[CHUC_VU] T1 INNER JOIN dbo.LOAI_CHUC_VU T2 ON T2.[ID_LOAI_CV] = T1.[ID_LOAI_CV] 
	ORDER BY ISNULL([STT_IN_CV],999),CASE @NNgu WHEN 0 THEN T1.TEN_CV WHEN 1 THEN ISNULL(NULLIF(T1.TEN_CV_A,''),T1.TEN_CV) 
	ELSE ISNULL(NULLIF(T1.TEN_CV_H,''),T1.TEN_CV) END 
	
END
