ALTER PROCEDURE [dbo].[spGetListLUONG_TOI_THIEU]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
SELECT  ID_DV,TEN_DV INTO #TEMP  FROM dbo.MGetToUser(@UName,@NNgu)

SELECT T1.ID_LTT,
       T1.NGAY_QD,
       T2.TEN_DV,
       T1.LUONG_TOI_THIEU,
       T1.LUONG_TOI_THIEU_NN,
       T1.BHXH_CN,
       T1.BHYT_CN,
       T1.BHTN_CN,
       T1.BHXH_CT,
       T1.BHYT_CT,
       T1.BHTN_CT,
	   T1.ID_DV
	   FROM LUONG_TOI_THIEU T1 INNER JOIN (SELECT DISTINCT ID_DV, TEN_DV FROM #TEMP) T2 ON T1.ID_DV = T2.ID_DV
	   ORDER BY NGAY_QD DESC
END
