ALTER PROCEDURE [dbo].[spGetListBAC_LUONG]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT  ID_DV,TEN_DV INTO #TEMP  FROM dbo.MGetToUser(@UName,@NNgu)
	
	SELECT T1.ID_BL,
           T2.TEN_DV,
		   CASE @NNgu WHEN 0 THEN T3.TEN_NL WHEN 1 THEN ISNULL(NULLIF(T3.TEN_NL_A,''),T3.TEN_NL) ELSE ISNULL(NULLIF(T3.TEN_NL_H,''),T3.TEN_NL) END AS TEN_NL,
           T1.NGAY_QD,
           T1.TEN_BL,
           T1.MUC_LUONG,
           T1.PC_DH,
           T1.THUONG_TC,
           T1.THUONG_CV_CC,
           T1.PC_SINH_HOAT,
           T1.PC_KY_NANG,
		   T1.ID_DV,
           T1.ID_NL
	FROM BAC_LUONG T1 INNER JOIN (SELECT DISTINCT ID_DV, TEN_DV FROM #TEMP) T2 ON T1.ID_DV = T2.ID_DV INNER JOIN dbo.NGACH_LUONG T3 ON T1.ID_NL = T3.ID_NL
	ORDER BY T1.NGAY_QD DESC,TEN_DV,CASE @NNgu WHEN 0 THEN T3.TEN_NL WHEN 1 THEN ISNULL(NULLIF(T3.TEN_NL_A,''),T3.TEN_NL) ELSE ISNULL(NULLIF(T3.TEN_NL_H,''),T3.TEN_NL) END,T1.TEN_BL
END


