 ALTER PROCEDURE [dbo].[spGetListLY_DO_VANG]  
 @UName NVARCHAR(100) ='Admin',  
 @NNgu INT =0 
 AS 
 BEGIN  
 SELECT [ID_LDV],[MS_LDV],
 CASE @NNgu WHEN 0 THEN T2.TEN_CHE_DO WHEN 1 THEN ISNULL(NULLIF(T2.TEN_CHE_DO_A,''),T2.TEN_CHE_DO) ELSE ISNULL(NULLIF(T2.TEN_CHE_DO_H,''),T2.TEN_CHE_DO) END AS TEN_CHE_DO,
 CASE @NNgu WHEN 0 THEN T1.TEN_LDV WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LDV_A,''),TEN_LDV) ELSE ISNULL(NULLIF(T1.TEN_LDV_H,''),T1.TEN_LDV) END AS  [TEN_LDV]     
      ,[PHEP]
      ,[PHAN_TRAM_TRO_CAP]
      ,[TINH_BHXH]
      ,[KY_HIEU]
      ,[TINH_LUONG]
      ,[STT_LDV],T1.[ID_CHE_DO] FROM LY_DO_VANG T1 INNER JOIN dbo.CHE_DO_NGHI T2 ON T1.[ID_CHE_DO] = T2.[ID_CHE_DO]
	  ORDER BY   CASE @NNgu WHEN 0 THEN T2.TEN_CHE_DO WHEN 1 THEN ISNULL(NULLIF(T2.TEN_CHE_DO_A,''),T2.TEN_CHE_DO) 
	  ELSE ISNULL(NULLIF(T2.TEN_CHE_DO_H,''),T2.TEN_CHE_DO) END ,ISNULL(T1.STT_LDV,999) ,
 CASE @NNgu WHEN 0 THEN T1.TEN_LDV WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LDV_A,''),TEN_LDV) ELSE ISNULL(NULLIF(T1.TEN_LDV_H,''),T1.TEN_LDV) END 
 END
 
