ALTER PROCEDURE [dbo].[spGetListKTTenKhongDauSTK]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT A.ID_CN, A.MS_CN, B.TEN_TO, C.TEN_XN, A.HO, A.TEN, A.TEN_KHONG_DAU, A.SO_TAI_KHOAN
	FROM CONG_NHAN A 
	INNER JOIN [TO] B ON A.ID_TO = B.ID_TO
	INNER JOIN XI_NGHIEP C ON B.ID_XN = C.ID_XN 
	ORDER BY A.MS_CN
END
