ALTER PROCEDURE [dbo].[spGetListDAN_TOC]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT T1.ID_DT, CASE @NNgu WHEN 0 THEN T1.TEN_DT WHEN 1 THEN ISNULL(NULLIF(T1.TEN_DT_A,''),TEN_DT) 
	ELSE ISNULL(NULLIF(T1.TEN_DT_H,''),T1.TEN_DT) END AS TEN_DT FROM DAN_TOC T1 
	ORDER BY CASE @NNgu WHEN 0 THEN T1.TEN_DT WHEN 1 THEN ISNULL(NULLIF(T1.TEN_DT_A,''),TEN_DT) ELSE ISNULL(NULLIF(T1.TEN_DT_H,''),T1.TEN_DT) END
END
