ALTER PROCEDURE [dbo].[spGetListCUM]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT A.ID_CUM ,B.TEN_NHH,A.MS_CUM, A.TEN_CUM, A.STT, A.CUM_PS, A.TINH_TG, A.LOAI_CUM,A.CUM_CUOI FROM CUM A
	INNER JOIN NHOM_HANG_HOA B ON A.ID_NHH = B.ID_NHH
	ORDER BY B.TEN_NHH, A.TEN_CUM
END
 
 

