 ALTER PROCEDURE [dbo].[spGetListNGUOI_KY_GIAY_TO]  
 @UName NVARCHAR(100) ='Admin',  
 @NNgu INT =0 
 AS 
 BEGIN  
	SELECT [ID_NK],[HO_TEN],[CHUC_VU],[CHUC_VU_A],[QUOC_TICH],[NGAY_SINH],[SO_CMND],[CAP_NGAY],[NOI_CAP],[DIA_CHI] 
	FROM NGUOI_KY_GIAY_TO T1 
	ORDER BY [HO_TEN],[CHUC_VU],[CHUC_VU_A]
 END
