ALTER PROCEDURE [dbo].[spGetListLY_DO_THOI_VIEC]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
SELECT [ID_LD_TV], CASE @NNgu WHEN 0 THEN T1.TEN_LD_TV WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LD_TV_A,''),TEN_LD_TV) 
ELSE ISNULL(NULLIF(T1.TEN_LD_TV_H,''),T1.TEN_LD_TV) END AS [TEN_LD_TV],[HE_SO] FROM LY_DO_THOI_VIEC T1 
ORDER BY CASE @NNgu WHEN 0 THEN T1.TEN_LD_TV WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LD_TV_A,''),TEN_LD_TV) ELSE ISNULL(NULLIF(T1.TEN_LD_TV_H,''),T1.TEN_LD_TV) END
END
