ALTER PROCEDURE [dbo].[spGetListLOAI_HDLD]  
	@UName NVARCHAR(100) ='HUONG',  
	@NNgu INT =0 AS 
BEGIN  

	SELECT ID_LHDLD,CASE @NNgu WHEN 0 THEN T1.TEN_LHDLD WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LHDLD_A,''),T1.TEN_LHDLD) ELSE ISNULL(NULLIF(T1.TEN_LHDLD_H,''),T1.TEN_LHDLD) END 
AS TEN_LHDLD,SO_THANG FROM LOAI_HDLD T1 
ORDER BY CASE @NNgu WHEN 0 THEN T1.TEN_LHDLD WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LHDLD_A,''),T1.TEN_LHDLD) ELSE ISNULL(NULLIF(T1.TEN_LHDLD_H,''),T1.TEN_LHDLD) END 
 
END

