ALTER PROCEDURE [dbo].[spGetListLOAI_CONG_VIEC]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT  [ID_LCV],
	CASE @NNgu WHEN 0 THEN T1.TEN_LCV WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LCV_A,''),TEN_LCV) ELSE ISNULL(NULLIF(T1.TEN_LCV_H,''),T1.TEN_LCV) END AS [TEN_LCV],[DOC_HAI],[PHEP_CT] ,	CASE @NNgu WHEN 0 THEN T2.TEN_LT WHEN 1 THEN ISNULL(NULLIF(T2.TEN_LT_A,''),T2.TEN_LT) ELSE ISNULL(NULLIF(T2.TEN_LT_H,''),T2.TEN_LT) END AS TEN_LT, T1.ID_LT 
	
	FROM LOAI_CONG_VIEC T1 LEFT JOIN LOAI_TO T2 ON T1.ID_LT = T2.ID_LT
	ORDER BY 	CASE @NNgu WHEN 0 THEN T1.TEN_LCV WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LCV_A,''),TEN_LCV) ELSE ISNULL(NULLIF(T1.TEN_LCV_H,''),T1.TEN_LCV) END,CASE @NNgu WHEN 0 THEN T2.TEN_LT WHEN 1 THEN ISNULL(NULLIF(T2.TEN_LT_A,''),T2.TEN_LT) ELSE ISNULL(NULLIF(T2.TEN_LT_H,''),T2.TEN_LT) END
END
