ALTER PROCEDURE  [dbo].[spGetListCHE_DO_NGHI]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT [ID_CHE_DO], CASE @NNgu WHEN 0 THEN T1.TEN_CHE_DO WHEN 1 THEN ISNULL(NULLIF(T1.TEN_CHE_DO_A,''),TEN_CHE_DO) 
	ELSE ISNULL(NULLIF(T1.TEN_CHE_DO_H,''),T1.TEN_CHE_DO) END AS [TEN_CHE_DO] FROM CHE_DO_NGHI T1 
	ORDER BY CASE @NNgu WHEN 0 THEN T1.TEN_CHE_DO WHEN 1 THEN ISNULL(NULLIF(T1.TEN_CHE_DO_A,''),TEN_CHE_DO) 
	ELSE ISNULL(NULLIF(T1.TEN_CHE_DO_H,''),T1.TEN_CHE_DO) END 
END
