ALTER PROCEDURE  [dbo].[spGetListLOAI_KHEN_THUONG]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT [ID_LOAI_KT], CASE @NNgu WHEN 0 THEN T1.TEN_LOAI_KT WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LOAI_KT_A,''),TEN_LOAI_KT) ELSE ISNULL(NULLIF(T1.TEN_LOAI_KT_H,''),T1.TEN_LOAI_KT) END AS [TEN_LOAI_KT] FROM LOAI_KHEN_THUONG T1 ORDER BY CASE @NNgu WHEN 0 THEN T1.TEN_LOAI_KT WHEN 1 THEN ISNULL(NULLIF(T1.TEN_LOAI_KT_A,''),TEN_LOAI_KT) ELSE ISNULL(NULLIF(T1.TEN_LOAI_KT_H,''),T1.TEN_LOAI_KT) END 
END