ALTER PROCEDURE [dbo].[spGetListCHUYEN]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT A.ID_CHUYEN, A.MS_CHUYEN, A.TEN_CHUYEN, B.TEN_TO FROM [CHUYEN] A
	INNER JOIN [TO] B ON A.ID_TO = B.ID_TO
	ORDER BY MS_CHUYEN
END