 ALTER PROCEDURE [dbo].[spGetListQUAN_HE_GD]  
 @UName NVARCHAR(100) ='Admin',  
 @NNgu INT =0 
 AS 
 BEGIN  
 SELECT  [ID_QH], CASE @NNgu WHEN 0 THEN T1.TEN_QH WHEN 1 THEN ISNULL(NULLIF(T1.TEN_QH_A,''),TEN_QH) 
 ELSE ISNULL(NULLIF(T1.TEN_QH_H,''),T1.TEN_QH) END AS [TEN_QH] FROM QUAN_HE_GD T1 
 ORDER BY CASE @NNgu WHEN 0 THEN T1.TEN_QH WHEN 1 THEN ISNULL(NULLIF(T1.TEN_QH_A,''),TEN_QH) ELSE ISNULL(NULLIF(T1.TEN_QH_H,''),T1.TEN_QH) END
 END
