ALTER PROCEDURE  [dbo].[spGetListNGAY_NGHI_LE]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN  
	SELECT ID_NNL,
	       NGAY,
		   LY_DO
	FROM NGAY_NGHI_LE T1 
	ORDER BY NGAY
END