ALTER PROCEDURE [dbo].[spGetListTINH_TRANG_HD]  
	@UName NVARCHAR(100) ='Admin',  
	@NNgu INT =0 
AS 
BEGIN
	SELECT T1.ID_TT_HD,CASE @NNgu WHEN 0 THEN T1.TEN_TT_HD WHEN 1 THEN ISNULL(NULLIF(T1.TEN_TT_HD_A,''),T1.TEN_TT_HD) 
	ELSE ISNULL(NULLIF(T1.TEN_TT_HD_H,''),T1.TEN_TT_HD) END AS TEN_TT_HD 
	FROM TINH_TRANG_HD T1	
	ORDER BY CASE @NNgu WHEN 0 THEN T1.TEN_TT_HD WHEN 1 THEN ISNULL(NULLIF(T1.TEN_TT_HD_A,''),T1.TEN_TT_HD) 
	ELSE ISNULL(NULLIF(T1.TEN_TT_HD_H,''),T1.TEN_TT_HD) END 
END


