ALTER PROCEDURE [dbo].[spGetListTINH_TRANG_HT]  
	@Username NVARCHAR(100) ='Admin',  
	@NNgu INT =0 AS
BEGIN  
	
SELECT ID_TT_HT,CASE @NNgu WHEN 0 THEN T1.TEN_TT_HT WHEN 1 THEN ISNULL(NULLIF(T1.TEN_TT_HT_A,''),T1.TEN_TT_HT) ELSE ISNULL(NULLIF(T1.TEN_TT_HT_H,''),T1.TEN_TT_HT) END AS TEN_TT_HT 
FROM TINH_TRANG_HT T1 ORDER BY CASE @NNgu WHEN 0 THEN T1.TEN_TT_HT WHEN 1 THEN ISNULL(NULLIF(T1.TEN_TT_HT_A,''),T1.TEN_TT_HT) ELSE ISNULL(NULLIF(T1.TEN_TT_HT_H,''),T1.TEN_TT_HT) END 
	
END
