ALTER PROCEDURE [dbo].[spGetListDON_VI]
	@UName NVARCHAR(100) ='admin',
	@NNgu INT =0
AS
BEGIN
SELECT  ID_DV,TEN_DV INTO #TEMP  FROM dbo.MGetToUser(@UName,@NNgu)

SELECT DISTINCT T1.ID_DV,MSDV, T2.TEN_DV,T1.DIA_CHI,T1.DIEN_THOAI,T1.FAX,T1.SO_TAI_KHOAN,T1.TEN_NGAN_HANG ,T1.MAC_DINH, T1.PC_CN
FROM dbo.DON_VI T1 INNER JOIN #TEMP T2 ON T1.ID_DV = T2.ID_DV
UNION
SELECT DISTINCT T1.ID_DV,T1.MSDV,CASE @NNgu WHEN 0 THEN T1.TEN_DV WHEN 1 THEN ISNULL(NULLIF(T1.TEN_DV_A,''),T1.TEN_DV) ELSE ISNULL(NULLIF(T1.TEN_DV_H,''),T1.TEN_DV) END 
AS TEN_DV,T1.DIA_CHI,T1.DIEN_THOAI,T1.FAX,T1.SO_TAI_KHOAN,T1.TEN_NGAN_HANG,T1.MAC_DINH, T1.PC_CN
FROM dbo.DON_VI T1 LEFT JOIN dbo.XI_NGHIEP T2 ON T2.ID_DV = T1.ID_DV LEFT JOIN dbo.[TO] T3 ON T3.ID_XN = T2.ID_XN
GROUP BY T1.ID_DV,T1.MSDV,CASE @NNgu WHEN 0 THEN T1.TEN_DV WHEN 1 THEN ISNULL(NULLIF(T1.TEN_DV_A,''),T1.TEN_DV) ELSE ISNULL(NULLIF(T1.TEN_DV_H,''),T1.TEN_DV) END ,T1.DIA_CHI,T1.DIEN_THOAI,T1.FAX,T1.SO_TAI_KHOAN,T1.TEN_NGAN_HANG,T1.MAC_DINH, T1.PC_CN
HAVING COUNT(T3.ID_TO) = 0
ORDER BY T1.MAC_DINH DESC,T2.TEN_DV
END

