ALTER PROCEDURE [dbo].[spUpdateLUONG_TOI_THIEU]
    @ID_LTT BIGINT ,
    @NGAY_QD DATETIME,
    @ID_DV BIGINT,
	@LUONG_TOI_THIEU FLOAT,
	@LUONG_TOI_THIEU_NN FLOAT,
    @BHXH_CN FLOAT,
    @BHYT_CN FLOAT,
    @BHTN_CN FLOAT,
    @BHXH_CT FLOAT,
	@BHYT_CT FLOAT,
	@BHTN_CT FLOAT
AS
    BEGIN
        IF ( @ID_LTT = -1 )
            BEGIN
                INSERT  INTO dbo.LUONG_TOI_THIEU
                        ( NGAY_QD, ID_DV, LUONG_TOI_THIEU, LUONG_TOI_THIEU_NN, BHXH_CN, BHYT_CN, BHTN_CN, BHXH_CT, BHYT_CT, BHTN_CT )
                VALUES  ( @NGAY_QD, @ID_DV, @LUONG_TOI_THIEU, @LUONG_TOI_THIEU_NN, @BHXH_CN, @BHYT_CN, @BHTN_CN, @BHXH_CT, @BHYT_CT, @BHXH_CN )
						SELECT SCOPE_IDENTITY()
            END	
        ELSE
            BEGIN
                UPDATE  dbo.LUONG_TOI_THIEU
                SET NGAY_QD = @NGAY_QD, ID_DV = @ID_DV, LUONG_TOI_THIEU = @LUONG_TOI_THIEU, LUONG_TOI_THIEU_NN = @LUONG_TOI_THIEU_NN, 
				BHXH_CN = @BHXH_CN, BHYT_CN = @BHYT_CN, BHTN_CN = @BHTN_CN, BHXH_CT = @BHXH_CT, BHYT_CT = @BHYT_CT, BHTN_CT = @BHTN_CT
                WHERE ID_LTT = @ID_LTT

				SELECT @ID_LTT
            END	
    END	


