ALTER PROCEDURE [dbo].[spUpdateBAC_LUONG]
	@ID_BL BIGINT,
	@ID_DV BIGINT,
	@ID_NL BIGINT,
	@NGAY_QD DATETIME,
    @TEN_BL NVARCHAR(250),
    @MUC_LUONG FLOAT,
	@PC_DH FLOAT,
	@THUONG_TC FLOAT,
	@THUONG_CV_CC FLOAT,
	@PC_SINH_HOAT FLOAT,
	@PC_KY_NANG FLOAT
AS
    BEGIN
        IF ( @ID_BL = -1 )
            BEGIN
                INSERT INTO dbo.[BAC_LUONG](ID_DV, ID_NL, NGAY_QD, TEN_BL, MUC_LUONG, PC_DH, THUONG_TC, THUONG_CV_CC, PC_SINH_HOAT, PC_KY_NANG)
				VALUES(@ID_DV, @ID_NL, @NGAY_QD, @TEN_BL, @MUC_LUONG, @PC_DH, @THUONG_TC, @THUONG_CV_CC, @PC_SINH_HOAT, @PC_KY_NANG)
				
				SELECT SCOPE_IDENTITY()
            END	
        ELSE
            BEGIN
                UPDATE  dbo.[BAC_LUONG]
                SET ID_DV = @ID_DV, ID_NL = @ID_NL, NGAY_QD = @NGAY_QD, TEN_BL = @TEN_BL, MUC_LUONG = @MUC_LUONG, PC_DH = @PC_DH, 
				THUONG_TC = @THUONG_TC, THUONG_CV_CC = @THUONG_CV_CC, PC_SINH_HOAT = @PC_SINH_HOAT, PC_KY_NANG = @PC_KY_NANG
                WHERE   ID_BL = @ID_BL

				SELECT @ID_BL
            END	
    END	


