CREATE PROCEDURE [dbo].[spGetCongLinkChamCongTay]
    @ID_DV BIGINT = -1,
    @ID_XN BIGINT = -1,
    @ID_TO BIGINT = -1,
	@Ngay DATETIME = '2020-08-01 00:00:00.000',
    @UName NVARCHAR(100) = 'admin',
    @NNgu INT = 0
AS
BEGIN
SELECT ID_TO,ID_DV,ID_XN INTO #TEMPT FROM dbo.MGetToUser(@UName, @NNgu) WHERE (ID_DV = @ID_DV OR @ID_DV = -1) AND(ID_XN = @ID_XN OR @ID_XN = -1)

SELECT CAST(0 AS BIT) AS CHON, A.ID_CN,B.MS_CN,B.HO +' '+B.TEN AS HO_TEN, A.ID_NHOM,
CASE @NNgu WHEN 0 THEN TEN_NHOM WHEN 1 THEN ISNULL(NULLIF(TEN_NHOM_A,''),TEN_NHOM) ELSE ISNULL(NULLIF(TEN_NHOM_H,''),TEN_NHOM) END  AS TEN_NHOM,
A.GIO_DEN, A.NGAY_DEN,A.GIO_VE,A.NGAY_VE
INTO #TMP
 FROM dbo.DU_LIEU_QUET_THE A
INNER JOIN dbo.CONG_NHAN B ON B.ID_CN = A.ID_CN 
INNER JOIN #TEMPT C ON C.ID_TO = B.ID_TO
INNER JOIN dbo.NHOM_CHAM_CONG D ON D.ID_NHOM = A.ID_NHOM
WHERE CONVERT(DATE, A.NGAY) = CONVERT(DATE,@Ngay)
SELECT CAST(0 AS bit) AS CHON, ID_CN,MS_CN,HO_TEN,ID_NHOM,TEN_NHOM,GIO_DEN,NGAY_DEN,GIO_VE,NGAY_VE FROM (
SELECT ID_CN,MS_CN,HO_TEN,ID_NHOM,TEN_NHOM,GIO_DEN,NGAY_DEN,GIO_VE,NGAY_VE FROM #TMP
UNION
SELECT  A.ID_CN,A.MS_CN,A.HO +' '+A.TEN AS HO_TEN, NULL ID_NHOM,
NULL  AS TEN_NHOM,
NULL GIO_DEN, NULL NGAY_DEN,NULL as GIO_VE,NULL AS NGAY_VE FROM dbo.CONG_NHAN A
INNER JOIN #TEMPT B ON B.ID_TO = A.ID_TO
WHERE NOT EXISTS (SELECT * FROM #TMP WHERE A.ID_CN = #TMP.ID_CN)) AS A ORDER BY A.HO_TEN

END;

