ALTER PROCEDURE [dbo].[spGetComboNhomChamCong]
	@Username NVARCHAR(100) ='admin',
	@NNgu INT =0,
	@CoAll BIT=1
AS 
BEGIN
IF @CoAll = 1
BEGIN
SELECT DISTINCT A.ID_NHOM, CASE @NNgu WHEN 0 THEN TEN_NHOM WHEN 1 THEN ISNULL(NULLIF(TEN_NHOM_A,''),TEN_NHOM) ELSE ISNULL(NULLIF(TEN_NHOM_H,''),TEN_NHOM) END AS TEN_NHOM  FROM dbo.NHOM_CHAM_CONG A
INNER JOIN dbo.CHE_DO_LAM_VIEC B ON B.ID_NHOM = A.ID_NHOM
ORDER BY TEN_NHOM
END
ELSE
BEGIN
SELECT ID_NHOM, CASE @NNgu WHEN 0 THEN TEN_NHOM WHEN 1 THEN ISNULL(NULLIF(TEN_NHOM_A,''),TEN_NHOM) ELSE ISNULL(NULLIF(TEN_NHOM_H,''),TEN_NHOM) END AS TEN_NHOM  FROM dbo.NHOM_CHAM_CONG 
ORDER BY TEN_NHOM
END
END

	

