ALTER PROCEDURE [dbo].[spTaoHDLD]
    @UName NVARCHAR(50) = 'admin',
	@NNgu INT = 0,
	@sBT1 NVARCHAR(50) = 'sBTTaoHDLD133',
	@iLoai INT = 2,
	@NAM NVARCHAR(4) = 2022
AS
BEGIN
    IF @iLoai = 1 -- LOAD LUOI
	BEGIN
		CREATE TABLE #BT
		(
			ID_CN BIGINT
		)
		DECLARE @SQL NVARCHAR(100)
		
		SET @SQL = 'INSERT INTO #BT (ID_CN)
					SELECT ID_CN FROM ' + @sBT1
		EXEC (@SQL)

		SET @SQL = 'DROP TABLE ' + @sBT1
		EXEC (@SQL)
	SELECT * INTO #DV FROM dbo.MGetToUser(@UName,@NNgu)
	
	SELECT CN.ID_CN , CONVERT(BIT, 0) CHON ,CN.MS_CN, CN.HO + ' ' + CN.TEN HO_TEN, CN.NGAY_VAO_LAM ,CASE WHEN ISNULL(HDLD.ID_HDLD,'') = '' THEN CN.MS_CN + '/' + CONVERT(NVARCHAR(10),DATEPART(YEAR,DATEADD(DAY,1,HDLD.NGAY_HET_HD))) + '-HĐTV' ELSE 
	CASE WHEN (SELECT COUNT(*)  FROM dbo.HOP_DONG_LAO_DONG T1 WHERE T1.ID_CN = CN.ID_CN AND T1.ID_LHDLD = 2) = 2 THEN CN.MS_CN + '/' + CONVERT(NVARCHAR(10),DATEPART(YEAR,DATEADD(DAY,1,HDLD.NGAY_HET_HD))) + '-HĐLĐKXĐ' ELSE CASE WHEN (SELECT COUNT(*)  FROM dbo.HOP_DONG_LAO_DONG T1 WHERE T1.ID_CN = CN.ID_CN AND T1.ID_LHDLD = 2) = 1 THEN CN.MS_CN + '/' + CONVERT(NVARCHAR(10),DATEPART(YEAR,DATEADD(DAY,1,HDLD.NGAY_HET_HD))) + '-HĐLĐ2' ELSE CASE WHEN (SELECT COUNT(*)  FROM dbo.HOP_DONG_LAO_DONG T1 WHERE T1.ID_CN = CN.ID_CN AND T1.ID_LHDLD = 2) = 0 THEN CN.MS_CN + '/' + CONVERT(NVARCHAR(10),DATEPART(YEAR,DATEADD(DAY,1,HDLD.NGAY_HET_HD))) + '-HĐLĐ1' END END END END SO_HDLD, 

	CASE WHEN ISNULL(HDLD.ID_HDLD,'') = '' THEN 4 ELSE 
	CASE WHEN (SELECT COUNT(*)  FROM dbo.HOP_DONG_LAO_DONG T1 WHERE T1.ID_CN = CN.ID_CN AND T1.ID_LHDLD = 2) = 2 THEN 1 ELSE CASE WHEN (SELECT COUNT(*)  FROM dbo.HOP_DONG_LAO_DONG T1 WHERE T1.ID_CN = CN.ID_CN AND T1.ID_LHDLD = 2) = 1 THEN 2 ELSE CASE WHEN (SELECT COUNT(*)  FROM dbo.HOP_DONG_LAO_DONG T1 WHERE T1.ID_CN = CN.ID_CN AND T1.ID_LHDLD = 2) = 0 THEN 2 END END END END ID_LHDLD,
	CONVERT(BIT,1) AS HD_GIA_HAN, dbo.fnNgayKyHDLDTruLeChuNhat(DATEADD(DAY,1,HDLD.NGAY_HET_HD)) NGAY_KY,
	DATEADD(DAY,1,HDLD.NGAY_HET_HD) NGAY_BAT_DAU_HD, 
	
	CASE WHEN ISNULL(HDLD.ID_HDLD,'') = '' THEN DATEADD(DAY,61,HDLD.NGAY_HET_HD) ELSE 
	CASE WHEN (SELECT COUNT(*)  FROM dbo.HOP_DONG_LAO_DONG T1 WHERE T1.ID_CN = CN.ID_CN AND T1.ID_LHDLD = 2) = 2 THEN NULL ELSE CASE WHEN (SELECT COUNT(*)  FROM dbo.HOP_DONG_LAO_DONG T1 WHERE T1.ID_CN = CN.ID_CN AND T1.ID_LHDLD = 2) = 1 THEN DATEADD(DAY,364,DATEADD(DAY,1,HDLD.NGAY_HET_HD)) ELSE CASE WHEN (SELECT COUNT(*)  FROM dbo.HOP_DONG_LAO_DONG T1 WHERE T1.ID_CN = CN.ID_CN AND T1.ID_LHDLD = 2) = 0 THEN DATEADD(DAY,364,DATEADD(DAY,1,HDLD.NGAY_HET_HD)) END END END END NGAY_HET_HD,
	

	(SELECT TOP 1 ID_NK FROM dbo.NGUOI_KY_GIAY_TO WHERE ISNULL(ACTIVE,0) = 1) ID_NK, LCV.CHUC_DANH CONG_VIEC, LCV.CHUC_DANH_A CONG_VIEC_ENG, LCV.MO_TA_CV_BHXH , LCV.MO_TA_CV_BHXH_A, CN.ID_CV, CV.TEN_CV ,(SELECT LTT.LUONG_TOI_THIEU FROM dbo.LUONG_TOI_THIEU LTT INNER JOIN (SELECT ID_LTT, MAX(NGAY_QD) MAX_NGAY FROM dbo.LUONG_TOI_THIEU WHERE ID_DV = #DV.ID_DV  GROUP BY ID_LTT) T1 ON T1.ID_LTT = LTT.ID_LTT AND T1.MAX_NGAY = LTT.NGAY_QD) MUC_LUONG , #DV.TEN_DV DIA_DIEM_LAM_VIEC, #DV.DIA_CHI_DV DIA_CHI_NOI_LAM_VIEC, CONVERT(INT, 1) ID_TT, (SELECT TT.TenTT FROM dbo.TINH_TRANG TT WHERE TT.ID_TT = 1) TEN_TT, CONVERT(BIGINT,0) ID_HDLD
	FROM dbo.CONG_NHAN CN    INNER JOIN #BT T1 ON T1.ID_CN = CN.ID_CN
							 INNER JOIN dbo.HOP_DONG_LAO_DONG HDLD ON HDLD.ID_CN = T1.ID_CN
							 INNER JOIN (SELECT MAX(T3.NGAY_BAT_DAU_HD) NGAY_BD_HD, T3.ID_CN
												 FROM dbo.HOP_DONG_LAO_DONG T3 
												 GROUP BY T3.ID_CN
												) T2 ON HDLD.ID_CN = T2.ID_CN AND T2.NGAY_BD_HD =  HDLD.NGAY_BAT_DAU_HD
							 INNER JOIN #DV ON #DV.ID_TO = CN.ID_TO
							 INNER JOIN dbo.LOAI_CONG_VIEC LCV ON LCV.ID_LCV = CN.ID_LCV
							 INNER JOIN dbo.CHUC_VU CV ON CV.ID_CV = CN.ID_CV
	ORDER BY STT_XN, STT_TO, CV.STT_IN_CV, CN.MS_CN
	END
	IF @iLoai = 2
	BEGIN
		BEGIN TRANSACTION
		BEGIN TRY
			CREATE TABLE #CN_TEMP(
			 CHON BIT,
			 ID_CN BIGINT NULL,
			 SO_HDLD NVARCHAR(50) NULL,
			 ID_LHDLD BIGINT NULL,
			 HD_GIA_HAN BIT NULL,
			 NGAY_KY DATETIME NULL,
			 NGAY_BAT_DAU_HD DATETIME NULL,
			 NGAY_HET_HD DATETIME NULL,
			 NGUOI_KY_GIA_HAN BIGINT NULL,
			 ID_CV BIGINT NULL,
			 MUC_LUONG FLOAT NULL,
			 DIA_DIEM_LAM_VIEC NVARCHAR(250) NULL,
			 DIA_CHI_NOI_LAM_VIEC NVARCHAR(250) NULL, 
			 ID_TT INT NULL,
			 CONG_VIEC NVARCHAR(250),
			 CONG_VIEC_ENG NVARCHAR(250),
			 MO_TA_CV_BHXH NTEXT , 
			 MO_TA_CV_BHXH_A NTEXT,
			 ID_HDLD BIGINT NULL
			)

			DECLARE @SQL_CN NVARCHAR(2000)
			SET @SQL_CN = 'INSERT INTO #CN_TEMP (CHON ,ID_CN, SO_HDLD, ID_LHDLD, HD_GIA_HAN, NGAY_KY, NGAY_BAT_DAU_HD, NGAY_HET_HD, NGUOI_KY_GIA_HAN, ID_CV, MUC_LUONG, DIA_DIEM_LAM_VIEC, DIA_CHI_NOI_LAM_VIEC, ID_TT, CONG_VIEC, CONG_VIEC_ENG, MO_TA_CV_BHXH, MO_TA_CV_BHXH_A,ID_HDLD)
						   SELECT CHON ,ID_CN, SO_HDLD, ID_LHDLD, HD_GIA_HAN, NGAY_KY, NGAY_BAT_DAU_HD, NGAY_HET_HD, ID_NK , ID_CV, MUC_LUONG, DIA_DIEM_LAM_VIEC, DIA_CHI_NOI_LAM_VIEC, ID_TT, CONG_VIEC, CONG_VIEC_ENG, MO_TA_CV_BHXH, MO_TA_CV_BHXH_A, ID_HDLD FROM
			' + @sBT1
			EXEC (@SQL_CN)

		--	EXEC dbo.spTaoHDLD @UName=N'admin', @NNgu= 0,  @sBT1=N'sBTTaoHDLD133', @iLoai= 2
			
			INSERT INTO HOP_DONG_LAO_DONG (ID_CN, SO_HDLD, ID_LHDLD, HD_GIA_HAN, NGAY_KY, NGAY_BAT_DAU_HD, NGAY_HET_HD, NGUOI_KY_GIA_HAN, ID_CV, MUC_LUONG_CHINH, DIA_DIEM_LAM_VIEC, DIA_CHI_NOI_LAM_VIEC, ID_TT, CONG_VIEC, CONG_VIEC_ENG, MO_TA_CV, MO_TA_CV_A)
			SELECT ID_CN, SO_HDLD, ID_LHDLD, HD_GIA_HAN, NGAY_KY, NGAY_BAT_DAU_HD, NGAY_HET_HD, NGUOI_KY_GIA_HAN, ID_CV, MUC_LUONG, DIA_DIEM_LAM_VIEC, DIA_CHI_NOI_LAM_VIEC, 1, CONG_VIEC, CONG_VIEC_ENG, MO_TA_CV_BHXH, MO_TA_CV_BHXH_A  FROM #CN_TEMP WHERE CHON = 1 AND ISNULL(ID_HDLD,0) = 0

			SELECT T1.* INTO #MAX_HDLD
			FROM dbo.HOP_DONG_LAO_DONG T1 INNER JOIN (SELECT ID_CN ,MAX(NGAY_BAT_DAU_HD) MAX_NGAY FROM dbo.HOP_DONG_LAO_DONG GROUP BY ID_CN) T2 ON T1.ID_CN = T2.ID_CN AND T1.NGAY_BAT_DAU_HD = T2.MAX_NGAY 
			
			BEGIN TRY
				SET @SQL_CN = 'ALTER TABLE '+ @sBT1 +' ADD ID_HDLD BIGINT' -- TẠO CỘT ID_HDLD
				EXEC (@SQL_CN)
			END TRY
			BEGIN CATCH

			END CATCH
			

			SELECT 1

			SET @SQL_CN  = 'UPDATE T1
						   SET T1.ID_HDLD = T2.ID_HDLD
						   FROM '+ @sBT1 +' T1 INNER JOIN #MAX_HDLD T2 ON T1.ID_CN = T2.ID_CN
						   WHERE T1.CHON = 1'
			
			EXEC (@SQL_CN)
			SET @SQL_CN =  'SELECT * FROM ' + @sBT1
			EXEC (@SQL_CN)

			SET @SQL_CN =  'DROP TABLE ' + @sBT1
			EXEC (@SQL_CN)

			IF(@@TRANCOUNT > 0) COMMIT TRANSACTION
			SELECT '1' , ''
		END TRY
		BEGIN CATCH
			IF(@@TRANCOUNT > 0) ROLLBACK TRANSACTION
			SELECT '-99' , ERROR_MESSAGE()
		END CATCH
	END
END
